<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/life/adhd.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>ADHD：分心者的自我认知训练</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: ADHD：分心者的自我认知训练
date: 2018-11-4
updated: 2018-11-30
---
# 前言
我是从去年开始关注到ADHD的，然后参加了北医六院潘医生组织的ADHD 团体行为认知训练。

本想训练课快要结束之时，对本期训练及ADHD 本身做一个总结。
但是我发现 [ADHD？没什么大不了]( https://blog.jamesalice.world/archives/493) 写出了我想说的一切了
就不再赘述了。

# 相关阅读
1. 我的儿子患有多动症 
https://mp.weixin.qq.com/s/-mSbReQcX5VxFb1RVuDWxg
2. ADHD？没什么大不了 (总结的很全面)
https://blog.jamesalice.world/archives/493
3. 如何长时间高效学习？
https://www.zhihu.com/question/28358499/answer/292368287
4. 笑老师的【成人ADHD】挠不到的痒
https://zhuanlan.zhihu.com/p/31557395 
6. 《找回專注力：成人ADHD全方位自助手冊》

# ADHD的症状
ADHD的主要症状可分为如下三类：**难以集中注意力**、做出**冲动**的决定、过度活跃**多动**。

根据症状表现的不同可将ADHD分为如下三个亚型： 注意力缺陷型、多动冲动型、混合型。(参考 [ADHD基础知识：症状、分型、诊断、治疗])

    ▲ 注意力缺陷
    难以专注于一项任务或活动；
    对声音极度敏感——说话声、水声、翻书声、风吹树叶沙沙作响、时钟滴答声、窗外汽车的引擎轰鸣声……
    很快就厌烦了正在进行的任务或活动，急于马上完成它；
    别人对其说话时心不在焉；
    难以服从指令；
    有健忘的迹象，犯一些简单的错误；
    组织活动、提前制定计划方面有困难；
    经常丢失或遗忘物品；
    不愿意学习或进行长时间的脑力劳动。

    ▲ 冲动行为
    按次序排队时难以等待；
    经常打断别人；
    听到问题时不等对方说完题目并发问就急于说出自己的答案；
    无法控制强烈的情绪，如愤怒；
    经常冒险，并且不清楚自己冒险行为的后果。

    ▲ 过度活跃
    经常出现坐立不安，扭动身体；
    坐不住，难以保持静态；
    总是在说话；
    不停地四处移动：行走、跑或爬

## ADHD 的正向特征
如果你是被判定为ADHD，也不必为此焦虑。 维基[wiki-adhd] 提到多动症的很多正向特征：
1. 超级专注：根据Pepperdine大学的研究，一些患有多动症的人可能会过度聚焦。这使得他们如此专注于一项任务，甚至不会注意到周围的世界。
2. 精力充沛：一些患有多动症的人往往拥有无穷无尽的活力，勇于冒险、韧性十足。他们能够在竞赛场地，学校或工作中取得成功。
3. 富有想像力与好奇心: 能够跳脱框架思考，分心者的脑袋往往充满了无尽的想法，思维活跃。家长可以积极引导、探索孩子创造性的一面。我们经常冒出一些与众不同、可能改变世界的想法
4. 对直觉较敏感: 思考多元独特，能深入问题核心发现问题；
5. 对自己的想法坚持、特立独行；
6. 具备批判性思维: 有兴趣时非常能够坚持

还有一种说法是，分心是我们的一种自我保护机制。不至于让我们由于过度沉迷其中，而忽略了周围环境变化对自己造成的伤害(比如身后的老虎，身后汽车的鸣笛声)

与其把自己称为ADHD 患者，我更喜欢把自己称为有点与众不同的分心者, 很阿Q是吧?

哈佛大学发展心理学教授Kagan 认为大部分ADHD的诊断只是虚构、捏造的，被贴上错误标签的精神疾病（抑郁症是另外一种过度使用的诊断）。只是[“他的内心比他的舌头工作地快一些而已”](http://www.sohu.com/a/127258619_372496)。

[ADHD基础知识：症状、分型、诊断、治疗]:http://news.medlive.cn/psy/info-progress/show-130790_60.html
[wiki-adhd]: https://zh.wikipedia.org/wiki/%E6%B3%A8%E6%84%8F%E5%8A%9B%E4%B8%8D%E8%B6%B3%E9%81%8E%E5%8B%95%E7%97%87#%E6%AD%A3%E5%90%91%E7%89%B9%E5%BE%B5
[1]: http://anamaria.ricardoesquer.com/adhd%E7%9A%84%E4%BC%98%E5%8A%BF%EF%BC%9A%E9%A2%86%E5%AF%BC%E8%83%BD%E5%8A%9B%EF%BC%8C%E8%BF%90%E5%8A%A8%E8%83%BD%E5%8A%9B%EF%BC%8C%E5%88%9B%E9%80%A0%E5%8A%9B%E5%92%8C%E8%B6%85%E7%BA%A7%E7%84%A6/
</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
