<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/git/git-svn.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>git svn</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: git svn
date: 2018-09-27
updated: 2018-10-06
---
# clone
&gt; 不支持 低版本的svn file protocol, use `svn://` or `https://` instead

  $ git svn clone file:///tmp/test-svn -T trunk -b branches -t tags
  $ git svn clone file:///tmp/test-svn -s ; # -s=-T/-b/-t
  $ git svn clone url -s

这相当于针对所提供的 URL 运行了两条命令—— git svn init 加上 git svn fetch 。

  $ git branch -a
  * master
    my-calc-branch
    tags/2.0.2
    tags/release-2.0.1
    tags/release-2.0.2
    tags/release-2.0.2rc1
    trunk

Make your git repository ignore everything the subversion repo does:

    git svn show-ignore &gt;&gt; .git/info/exclude

## git show-ref

  $ git show-ref
  1cbd4904d9982f386d87f88fce1c24ad7c0f0471 refs/heads/master
  aee1ecc26318164f355a883f5d99cff0c852d3c4 refs/remotes/my-calc-branch
  03d09b0e2aad427e34a6d50ff147128e76c0e0f5 refs/remotes/tags/2.0.2
  50d02cc0adc9da4319eeba0900430ba219b9c376 refs/remotes/tags/release-2.0.1
  4caaa711a50c77879a91b8b90380060f672745cb refs/remotes/tags/release-2.0.2
  1c4cb508144c513ff1214c3488abe66dcb92916f refs/remotes/tags/release-2.0.2rc1
  1cbd4904d9982f386d87f88fce1c24ad7c0f0471 refs/remotes/trunk

而普通的 Git 仓库应该是这个模样：

  $ git show-ref
  83e38c7a0af325a9722f2fdc56b10188806d83a1 refs/heads/master
  3e15e38c198baac84223acfc6224bb8b99ff2281 refs/remotes/gitserver/master
  0a30dd3b0c795b80212ae723640d4e5d48cabdff refs/remotes/origin/master
  25812380387fdd55f916652be4881c6f11600d6f refs/remotes/origin/testing

这里有两个远程服务器：一个名为 gitserver ，具有一个 master分支；另一个叫 origin，具有 master 和 testing 两个分支。

## 提交到 Subversion
https://git.wiki.kernel.org/index.php/Git-svn#commit_to_remote_SVN

  $ git commit -am &#x27;Adding git-svn instructions to the README&#x27;
  $ git svn dcommit

### commit to local Git
Git automatically tracks contents and therefor automatically detects all changes done with file browsers, programming tools etc.

  git diff
  git add --all
  git diff --cached
  git commit -m &quot;whatebber&quot;

If there is a warning like

   warning: CRLF will be replaced by LF in bladiblu/dir/...
   The file will have its original line endings in your working directory.

consider converting all files to UNIX eol style, here an example for java:

    find . -name \*.java -exec dos2unix --d2u {} \;

If not, and git svn rebase fails because of line endings (true for git &lt;= 1.8.1) see howto&#x27;s below.

### commit to remote SVN
To see what is going to be committed one can choose the following options.

    gitk git-svn..
    gitk
    git log remotes/git-svn.. --oneline
    git svn dcommit --dry-run

To really commit

    git svn rebase
    git svn dcommit

## pull 拉取最新进展
Use `git svn rebase`, do not not `git pull`!
1. This fetches revisions from the SVN parent of the current HEAD and rebases the current (uncommitted to SVN) work against it.
2. This works similarly to `svn update or git pull` except that it *preserves linear history* with git rebase instead of git merge for ease of dcommitting with git svn.

    $ git svn fetch ; # 不必须
    $ git svn rebase; #include fetch

&gt; Use of git pull or git merge with git svn set-tree A..B will cause non-linear history to be flattened when committing into SVN

# branch

## new branch
`git svn branch [分支名] ：` like ` svn copy trunk branches/dev`

    $ git svn branch dev
    $ svn copy https://xxx.com/svn/project/trunk  https://xxx.com/svn/project/trunk/branches/dev

### -n dry-run

    $ git svn branch -n -m &quot;开发分支&quot; dev
    Copying https://xxx.com/svn/project/trunk at r584 to https://xxx.com/svn/project/trunk/branches/dev..

## switch branch

    git branch dev [remotes/origin/dev]
    git checkout -b mybranch-svn remotes/origin/mybranch

# cmd
类似 git svn log 对 git log 的模拟，svn annotate 的等效命令是 git svn blame [文件名]。其输出如下

## info
git svn info</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
