<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/code/code-manual-annotation.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>关于人工标注的思考</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: 关于人工标注的思考
date: 2019-01-22
updated: 2019-02-03
---
# 关于人工标注的思考
当下人工智能发展的如火如荼，很多场景都在利用人工智能做标注，但是标注总有一定的错误率，这种情况下还是要依赖人工做标注修正。而且，AI也需要人工标注的数据做训练。
这是一个低效率、高成本的事情，如何提升人工标注的效率是一个重要的问题。

我想将人工标注分成以下几个部分：
1. 人工标注的准确率
2. 人工标注的效率
3. 人工标注的工具

## 人工标注的准确率
人工标注本身的准确率跟人有关，如何保证人的准确率呢？
1. 二次抽样校验: 对人工标注的数据，做二次抽样检验。然后挑炼出准确率高的人员，淘汰准确率低的人员
    1. 组建负责抽样检查的人员组成团队 负责二次检验: 
       1. 这个人力成本比较大。
       2. 设计简单
    2. 将AI 的得到标注（标注本身准确），反向混入`等待标注`的系统，待人工标注完成，系统直接得到人员的准确率
       1. 系统稍微复杂点：相当于人工+AI 相互验证
       2. 没有太大人力成本
       3. 不适合的场景：
          1. 有的标注可能对人来说比较容易，对AI 来说比较难（也就是AI 标注准确性更低），这个时候可能不应该考虑AI.
          2. AI 得到的标注，一定要足够准确，才能混入`待标注`的系统
    3. 根据用户反馈，修正标注错误
       1. 安全问题：主要防止恶意反馈 导致的安全问题. 主要有一下方法
          1. 根据以上前两点给出的方法，淘汰准确率低的用户(恶意标注的用户一定准确率低)
          2. IP 限制
          3. 为标注修正准确率高的用户建立白名单机制
          4. ....
2. 通过交差验证选出正确的标注

## 人工标注的效率
人工标注的人力成本非常大。在人力资源的利用方式可以有多种:
1. 组建由人工标注专员组成的团队，包括二次审核团队。可能人力不够，效率有限
2. 利用广大的用户参与标注反馈，这样的效率更高。需要注意避免：审核、恶意标注的问题
   1. 做成类似google 的reCAPTCHA 识别服务, 去**打码平台** 发布任务, 让广大用户参与标注:
      1. 提供两张图，第一张用来识别是不是真人，第二张让用户参与真正的标注
      2. 多名用户交叉验证
   2. 提供类似打码的服务，付费标注，这个比招聘自己的标注专员成本低
   3. 在产品中提供标注修正的入口。正如百度等地图所做的那样
3. 以上多种方式混合

## 人工标注的工具
人工标注的工具，必须要方便好用。在我看来需要满足这几点：
1. 常用任务提供好用的快捷键
2. 重复的工作自动化
3. 足够的智能：比如智能提示可选的标注项，智能补全（语言标注）
4. 足够的交互性
5. 性能好，不要有卡顿
6. 审核机制、纠偏

或许可以参考下现有的标注工具:

    LabelImg(图像检测)，RectLabel(图像检测)、 doccano(文字标注，NLP标注工具）、vatic（视频标注）....

</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
