<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/news/finance.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>前言</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: 前言
date: 2018-10-04
updated: 2018-10-06
---
# 前言
一般人都知道把钱存银行是要贬值的，但是各种各样的理财产品让人眼花缭乱，下面就为大家做一个总结，大家擦亮自己的双眼！

## 存款活期利率

传统银行：工商银行、农业银行活期利率0.3%
支付宝-余额宝：目前3.8%左右
网商银行：目前3.8%左右

## 定期利率

银行定期得率：1年定期零存整取 1.35%
支付宝1个月到12个月定期理财：大部分是4%~6%年化收益
借贷理财：目前年化收益在15%收益（近期会上线）
传统银行、网商银行、支付宝的区别

马云开了一家银行，名字叫网商银行，他和支付宝是相互独立存在的：
1. 传统银行：主要赚钱方式是赚储户的利差、手续费(比如转帐手续费)
2. 网商银行是国家银监局批准成立的银行：本质上也是一家银行，但是和传统银行非常不一样

    没有传统银行的转账手续费
    网商银行没有线下的银行分理处：开户只能线上人脸识别开户
    网商银行利率在3.8%左右，传统银行只有0.3%
    网商银行同自己的银行卡、支付宝之间转账，几秒到帐
        但是因为监管原因：不能将钱直接转到别人的银行卡。也是安全风险的考量吧

3. 网商银行跟支付宝的区别：
    1. 网商是银监局批准成立的线上银行，支付宝则是第三方支付机构
    2. 网商银行只能与自己的银行卡、自己的支付宝之间转帐；不能给别人转帐，所以网商银行本身比传统银行的安全级别都高。

## 基金
很多人都知道股票市场超过7成的股民都赚不了钱，于是很多人转而选择基金，也就是让基金经理人帮自己买股票。但是基金的收益稳定性如何呢？

1. 所有的公募基金，5年以上的收益会收敛到一起。\
也就是说，你闭着眼睛买任何基金，5年之后的收益率是差不多的。这个结论是高盛投资总监通过量化美国基金市场后得到的报告。https://zhuanlan.zhihu.com/p/28667310
2. 当然，中国有公募基金同样不例外：
    1. 去年业绩排名前十大基金 现在过得还好吗？https://www.zhihu.com/question/22771562
    2. 基金的选择：
    https://www.zhihu.com/question/22771562
3. 文章分析说最主要的可能原因在于：公募基金经理的收入，在于手续费，和基金本身业绩无关，也就是旱涝保收！

## 股票

## 比特币与黄金</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
