<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/mac/mac-sip.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>mac-sip</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: mac-sip
date: 2018-09-27
updated: 2018-10-06
---
# Preface
# References
http://havee.me/mac/2015-10/system-integrity-protection-on-el-capitan.html
http://www.jianshu.com/p/0572336a0771

这两天大家纷纷将 OS X 系统升级到了 El Capitan，然后发现，一些注入的工具无法使用了，某些系统目录无法使用了，第三方未签名的 kext 无法加载了，问题一堆堆的。这是因为，Mac OS X 在 10.11 中全面启用了 System Integrity Protection (SIP) —— 系统完整性保护技术。

SIP 技术主要是用来限制 root 用户的权限，以提升系统的健壮性。

	File System Protection
	Runtime Protection
	Kernel Extensions

具体哪些目录受到保护，可以查看文件

	/System/Library/Sandbox/rootless.conf

不被保护的列表存储在

	/System/Library/Sandbox/Compatibility.bundle/Contents/Resources/paths

	ls -lO /System /usr
	/System:
	drwxr-xr-x  79 root  wheel  restricted 2686 Dec 11  2015 Library
	/usr:
	lrwxr-xr-x     1 root      wheel  restricted     8 Jun  3  2015 X11 -&gt; /opt/X11
	drwxr-xr-x     3 root      wheel  restricted   102 Nov 14  2015 adic
	drwxr-xr-x  1061 root      wheel  restricted 36074 Jul 20 15:41 bin
	drwxr-xr-x   266 root      wheel  restricted  9044 Jul 20 15:41 lib
	drwxr-xr-x   185 root      wheel  restricted  6290 Jul 20 15:41 libexec
	drwxr-xr-x    23 hilojack  admin  -            782 Jul 20 15:29 local
	drwxr-xr-x   243 root      wheel  restricted  8262 Jul 20 15:40 sbin
	drwxr-xr-x    45 root      wheel  restricted  1530 Dec 11  2015 share
	drwxr-xr-x     4 root      wheel  restricted   136 Dec  3  2015 standalone

Mac 提供了内置 csrutil 配置来进行一些 SIP 的配置。在默认情况下，SIP 是开启状态，你可以用一下指令查看

	$ csrutil status
	System Integrity Protection status: enabled

可配置项如下，字面意思：

	Apple Internal
	Kext Signing
	Filesystem Protections
	Debugging Restrictions
	DTrace Restrictions
	NVRAM Protections


上面已经说过，Mac 提供了内置的 csrutil 工具来让用户进行一些配置，不过，你需要重启进入到 Recovery mode (Cmd + R on boot) 下进行操作。

csrutil 的一些常用命令

	csrutil clear           # 清除 SIP 用户配置，即开启默认的 SIP
	csrutil enable          # 开启 SIP
	csrutil disable         # 禁用 SIP
	csrutil status          # 查看当前 SIP 配置

# enable
关于 csrutil enable 可用参数为

	csrutil enable --no-internal --without kext --without fs --without fs --without debug --without dtrace --without nvram

	# Enable SIP and allow installation of unsigned kernel extensions
	csrutil enable --without kext

	# Enable SIP and disable filesystem protections
	csrutil enable --without fs

	# Enable SIP and disable debugging restrictions
	csrutil enable --without debug

	# Enable SIP and disable DTrace restrictions
	csrutil enable --without dtrace

	# Enable SIP and disable restrictions on writing to NVRAM
	csrutil enable --without nvram

I also have a post available with more information about SIP:

	System Integrity Protection – Adding another layer to Apple’s security model

譬如说，如果你需要某系统目录的读写权限，譬如 homebrew 全新安装的时候，需要创建 /usr/local 目录，那么你需要

	1. 进入RecoveryHD(Cmd+R)
	打开 Terminal.app，输入 csrutil enable --without fs
	2. 重启至正常系统下，打开 Terminal.app，安装 homebrew
	3. 再次重启至 Recovery mode
		打开 Terminal.app，输入 csrutil enable
	重启
	如果想安装第三方的 kext，那么建议装在目录 /Library/Extensions/ 下。</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
