<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/mac/mac-brew.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>brew</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: brew
date: 2018-09-27
updated: 2020-05-11
---
# brew
- brew(Homebrew) 是近来极流行的 安装gawk,gsed,macvim等命令的安装工具，所有的包都被安装到/usr/local/Cellar下，然后再以`ln -s` 软链接的形式链接到`/usr/local/`目录下

- Homebrew-cask是一套建立在homebrew基础上的Mac软件安装命令行工具 ，有了它再也不想用dmg了（每次都要下载，不停的点下一步，拖放多麻烦呀）

## brew 源
homebrew主要分两部分：git repo（位于GitHub）和二进制bottles（位于bintray）

### brew 下载太慢
可以用vpn 或其它ss. 也可以手动下载，以go 为例子：

    cd `brew --cache`
    rm go-1.6.2.el_capitan.bottle.tar.gz
    mv /Downloads/go-1.6.2.el_capitan.bottle.tar.gz ./
    
    cd `brew --cache`/Cask
    ~/Library/Caches/Homebrew/Cask

    
继续执行：brew install go, 据说，你可能会遇到签名问题

#### brew cask path
==&gt; Homebrew-cask Staging Location:
/opt/homebrew-cask/Caskroom
==&gt; Homebrew-cask Cached Downloads:
/Library/Caches/Homebrew
/Library/Caches/Homebrew/Casks
~/Library/Caches/Homebrew/Cask


### brew 使用curl 下载
可以用curl 代理，编辑~/.curlrc:

    socks5 = &quot;127.0.0.1:1080&quot;

or:

    export ALL_PROXY=socks5://127.0.0.1:1080

### 替换及重置Homebrew默认源

    #替换brew.git:
    git -C &quot;$(brew --repo)&quot; remote set-url origin https://mirrors.ustc.edu.cn/brew.git

    #替换homebrew-core.git:
    cd &quot;$(brew --repo)/Library/Taps/homebrew/homebrew-core&quot;
    git remote set-url origin https://mirrors.ustc.edu.cn/homebrew-core.git

切换回官方源：

    #重置brew.git:
    cd &quot;$(brew --repo)&quot;
    git remote set-url origin https://github.com/Homebrew/brew.git

    # 重置homebrew-core.git:
    cd &quot;$(brew --repo)/Library/Taps/homebrew/homebrew-core&quot;
    git remote set-url origin https://github.com/Homebrew/homebrew-core.git

### Homebrew Bottles是Homebrew提供的二进制代码包
下载二进制会用到

    export HOMEBREW_BOTTLE_DOMAIN=https://mirrors.ustc.edu.cn/homebrew-bottles

## install brew

	ruby -e &quot;$(curl -fsSL https://raw.github.com/mxcl/homebrew/go)&quot;

	# install gsed
	brew install gsed
	# intall macvim
	brew install macvim --override-system-vim
	# brew link php54
	brew unlink php54 &amp;&amp; brew link php54

所有的安装文件都是放在.(通过link连接到其它的地方, 非常方便管理)

	ls /usr/local/Cellar

查看单个包的安装目录：

	$ brew --prefix homebrew/php/php55
	/usr/local/Cellar/php55/5.5.16
    # 查看文件
	$ brew list php55

# brew命令

## brew sth.

### brew update
Update formulae: brew update

### brew prune

	brew prune [--dry-run]:
	    Remove dead symlinks

### brew edit
Edit formulae

	brew edit &lt;softname&gt;
	brew edit emacs

## brew install
install cli program via brew

	brew install vim                 # installs from Homebrew/homebrew
	brew install username/repo/vim   # installs from your custom repo

### forece uninstall
    brew uninstall --force luarocks


## brew tap
brew tap allows you to add more Github repos to the list of formulae that brew tracks, updates and installs from.

	brew tap; #list all tap
	brew tap username/repo
	brew untap phinze/cask

	brew tap caskroom/cask
	brew install brew-cask
	brew cask install virtualbox
	brew cask install virtualbox-extension-pack

## brew upgrade
find all outdated packages:

	brew outdated

upgrade all packages except mysql

	brew pin mysql
	brew upgrade

## install brew-cask
brew-cask 相当于app store的命令版, app管理方式更优雅 更简洁
所有安装的软件位置: `/opt/homebrew-cask/Caskroom`, 现在已经变成了： ~/Library/Caches/Homebrew/Cask

	brew install caskroom/cask/brew-cask
	brew upgrade brew-cask
	brew upgrade; # upgrade all packages

使用：

	# install chrome &amp; alfred2 ...
	brew cask install chrome Alfred2 qq
	# cleanup cached downloads
	brew cask cleanup
	# uninstall qq
	brew cask uninstall qq
	# update app
	brew cask uninstall APP &amp;&amp; brew cask install APP
	# Alfred : just add manage the scope addition
	brew cask alfred link

Refer to : [brew-cask](http://ksmx.me/blog/2013/10/05/homebrew-cask-cli-workflow-to-install-mac-applications/)

&gt; 在Alfred中添加brew cask安装程序的路径，`/opt/homebrew-cask/Caskroom`

### debug

	 brew update &amp;&amp; brew upgrade brew-cask
	 brew cleanup &amp;&amp; brew cask cleanup
</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
