<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/p/p3.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>AHUIGO 的笔记</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<div id="markdown2" v-pre><h1>AHUIGO 的笔记</h1>

<ul>
<li>2019-09-09 <a href="/b/vsc/vsc-java">Vscode 开发java 指北</a> </li>
<li>2019-09-08 <a href="/b/ria/react-profile">React profile</a> </li>
<li>2019-09-07 <a href="/b/ria/React-ref">React Ref</a> </li>
<li>2019-09-09 <a href="/b/java/java-array">Java Array</a> </li>
<li>2018-09-28 <a href="/b/proj/life-shebao">社保</a> </li>
<li>2018-09-28 <a href="/b/life/life-shebao">社保</a> </li>
<li>2018-10-04 <a href="/b/vsc/vsc-python">Vsc for python</a> </li>
<li>2016-09-27 <a href="/b/c/shell-tool">Shell 工具集合</a> </li>
<li>2019-08-18 <a href="/b/ria/js-ajax-legacy">js ajax legacy</a> </li>
<li>2019-08-14 <a href="/b/ria/js-worker">JS worker</a> </li>
<li>2020-04-28 <a href="/b/ria/js-dom-html5">html5 笔记</a> </li>
<li>2019-08-17 <a href="/b/db/gorm-dialect">Gorm dialect</a> </li>
<li>2019-08-15 <a href="/b/arch/docker-exec">Docker exec nsenter</a> </li>
<li>2019-01-07 <a href="/b/go/17.go-reflect">学习下Golang 的反射</a> </li>
<li>2019-08-18 <a href="/b/c/ops-sed">Sed 简记</a> </li>
<li>2018-09-27 <a href="/b/c/ops-process-lsof">ops-process-lsof</a> </li>
<li>2019-07-19 <a href="/b/db/mysql-ddl-crud">mysql 查询</a> </li>
<li>2018-10-04 <a href="/b/py/py-tcp">py-tcp</a> </li>
<li>2018-10-04 <a href="/b/py/py-server">py-server</a> </li>
<li>2018-09-28 <a href="/b/py/py-file-io">py-file-io</a> </li>
<li>2018-09-28 <a href="/b/py/py-argv">py-argv</a> </li>
<li>2020-05-20 <a href="/b/c/shell-redirect-fork2exec">linux 下的Fork 与 Exec</a> </li>
<li>2019-07-19 <a href="/b/c/ops-expect">expect 键盘模拟</a> </li>
<li>2019-06-23 <a href="/b/net/net-ssh-server">SSH SERVER 的配置</a> </li>
<li>2018-10-04 <a href="/b/nginx/nginx-upstream">nginx 负载均衡</a> </li>
<li>2018-09-28 <a href="/b/py/py-expr-context">Python 的Context Managers</a> </li>
<li>2018-09-28 <a href="/b/py/py-email">Python email处理</a> </li>
<li>2018-09-27 <a href="/b/go/9.go-str">golang string</a> </li>
<li>2019-07-19 <a href="/b/go/19.go-time">go 的时间函数</a> </li>
<li>2020-05-13 <a href="/b/c/shell-expr">shell 表达式</a> </li>
<li>2018-10-04 <a href="/b/ria/js-websocket">js 的websocket 笔记</a> </li>
<li>2018-09-28 <a href="/b/py/py-debug-pdb">py-debug-pdb</a> </li>
<li>2018-08-23 <a href="/b/course/im-live-p2p">关于直播的P2P架构</a> </li>
<li>2018-10-08 <a href="/b/c/shell-var-env">shell 环境变量</a> </li>
<li>2018-09-27 <a href="/b/db/mysql-var-str">Mysql 的字符串处理</a> </li>
<li>2019-06-22 <a href="/b/db/mysql-ddl">mysql ddl</a> </li>
<li>2019-06-19 <a href="/b/nginx/nginx-admin">lemp环境搭建</a> </li>
<li>2018-10-04 <a href="/b/nginx/nginx-proxy">nginx proxy</a> </li>
<li>2018-09-27 <a href="/b/db/mongo-">不要用mongodb</a> </li>
<li>2018-10-04 <a href="/b/ria/js-time">js-time</a> </li>
</ul>
</div>
<div id="pager"> <a href="/b/index">p0</a> <a href="/b/p/p1">p1</a> <a href="/b/p/p2">p2</a> p3 <a href="/b/p/p4">p4</a> <a href="/b/p/p5">p5</a></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
