<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/vim/vim-style.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>vim-style</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: vim-style
date: 2018-10-04
updated: 2020-06-30
---
# Preface

# show charactors
See tab, new line:

	:set list
	:set listchars=tab:&gt;-,eol:&lt;,nbsp:%
	:set lcs=tab:\|\ ,trail:-

carriage return:

	:set ff=unix
	:set fileformat+=mac
	&quot;显示回车(Carriage Return)
	:e ++ff=unix

## input carriage return
    linux/mac: ctrl-v ctrl-m
    On Windows Use: ctrl-q ctrl-m

Ctrl-V tells vi that the next character typed should be inserted literally 
ctrl-m is the keystroke for a carriage return

## expand tabl

    :set expandtab

# style

	:set tw=80
	:setlocal cuc cursorcolumn &quot;光标对齐
	:setlocal cul cursorline
	:hi CursorLine   cterm=NONE ctermbg=darkred ctermfg=white guibg=darkred guifg=white
	:hi CursorColumn cterm=NONE ctermbg=darkred ctermfg=white guibg=darkred guifg=white

## wrap

	:set nowrap

## Screen Redraw
Refresh Screen Render

	&lt;C-L&gt;
	:redraw!
	:redrawstatus!

## style indent 

	set ai &quot; autoindent 
	set si &quot; smartindent &quot; set smartcase
	
	&quot; Format motion with internal function or external given with `equalprg`
    &quot; &quot;autocmd FileType python set equalprg=autopep8.sh\ -
	={motion}
	&quot; 作用visual 选择format 的范围
	{Visual}=

Refer to `:h =`

## style format text 格式化文本

用gq命令手动格式化

	gq{motion}
	gqap #gq是格式化，ap　是a paragraphp
	gqgp &quot;格式化当前行

	gw{motion}		Format the lines that {motion} moves over.  Similar to
			|gq| but puts the cursor back at the same position 

gq受formatoptions的影响,详见`:h fo-table`(formatoptions), eg: `:set fo=tcoq`.

	t	Auto-wrap text using textwidth
	c	Auto-wrap comments using textwidth, inserting the current comment
		leader automatically.
	r	Automatically insert the current comment leader after hitting
		&lt;Enter&gt; in Insert mode.
	o	Automatically insert the current comment leader after hitting &#x27;o&#x27; or
		&#x27;O&#x27; in Normal mode.
	q	Allow formatting of comments with &quot;gq&quot;.
		Note that formatting will not change blank lines or lines containing
		only the comment leader.  A new paragraph starts after such a line,
		or when the comment leader changes.
	w	Trailing white space indicates a paragraph continues in the next line.
		A line that ends in a non-white character ends a paragraph.
	
	t：根据 textwidth 自动折行；
	c：在（程序源代码中的）注释中自动折行，插入合适的注释起始字符；
	r：插入模式下在注释中键入回车时，插入合适的注释起始字符；
	q：允许使用“gq”命令对注释进行格式化；
	n：识别编号列表，编号行的下一行的缩进由数字后的空白决定（与“2”冲突，需要“autoindent”）；
	2：使用一段的第二行的缩进来格式化文本；
	l：在当前行长度超过 textwidth 时，不自动重新格式化；
	m：在多字节字符处可以折行，对中文特别有效（否则只在空白字符处折行）；
	M：在拼接两行时（重新格式化，或者是手工使用“J”命令），如果前一行的结尾或后一行的开头是多字节字符，则不插入空格，非常适合中文

## style align
center, left, right

	Center align: “:ce {width}”
	Right align: “:ri {width}”
	Left align: “:le {indent}”

	Format paragraph: “gqip”
	Format current selection: “gq”
	“:help formatting” “:help text-objects”

## style case

	gU{motion} 转大写
	gu{motion} 转小写
	g~{motion} 大小写切换
	#要使一个操作以行为单位，可以双写操作两次，比如是cc,dd
	gugu 简写guu
	gUgU 简写gUU
	g~g~ 简写g~~

&gt; 在visual 下，`u/U` 转换大小写

## command

	set showcmd 显示输入命令

## clear screen
[Prevent Applications Like Vim and Less Clearing Screen on Exit](http://chenyufei.info/blog/2011-12-15/prevent-vim-less-clear-screen-on-exit/)

Preference - profiles - Terminal - select &#x27;vt100&#x27; as terminal emulation.

On linux:

	export TERM=vt100
</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
