<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/vim/vim-syntax.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>vim-syntax</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: vim-syntax
date: 2018-10-04
updated: 2018-10-06
---
# Preface
&gt; http://learnvimscriptthehardway.stevelosh.com/chapters/45.html

# Syntax

## Syntax loading
&gt; :h syn-loading

	:syntax enable

	#让vim知道xterm终端颜色（shell下）
	setenv TERM xterm-color 或者 TERM=xterm-color;export TERM

&quot;:syntax enable&quot;(keep) and &quot;:syntax on&quot;(overrule) do the following:

    Source $VIMRUNTIME/syntax/syntax.vim
    |
    +-	Clear out any old syntax by sourcing $VIMRUNTIME/syntax/nosyntax.vim
    |
    +-	Source first syntax/synload.vim in &#x27;runtimepath&#x27;
    |	|
    |	+-  Setup the colors for syntax highlighting.  If a color scheme is
    |	|   defined it is loaded again with &quot;:colors {name}&quot;.  Otherwise
    |	|   &quot;:runtime! syntax/syncolor.vim&quot; is used.  &quot;:syntax on&quot; overrules
    |	|   existing colors, &quot;:syntax enable&quot; only sets groups that weren&#x27;t
    |	|   set yet.
    |	|
    |	+-  Set up syntax autocmds to load the appropriate syntax file when
    |	|   the &#x27;syntax&#x27; option is set. *synload-1*
    |	|
    |	+-  Source the user&#x27;s optional file, from the |mysyntaxfile| variable.
    |	    This is for backwards compatibility with Vim 5.x only. *synload-2*
    |..........

	$VIMRUNTIME/syntax/
	$VIMRUNTIME/color/


## syntax keyword
Grammar:

	:help syn-keyword
	syntax keyword &lt;group&gt; &lt;word1&gt; &lt;word2&gt; ....

Example:

	syntax keyword potionKeyword loop times to while
	syntax keyword potionKeyword if elsif else
	syntax keyword potionKeyword class return
	syntax keyword potionFunction print join string

## syntax match
`:h syn-match`:

	:sy[ntax] match {group-name} [{options}] [excludenl] {pattern} [{options}]

Example：

	syn match potionComment &quot;\v#.*$&quot;
	highlight link potionComment Comment

groups defined later have priority over groups defined earlier:`help syn-priority.`

	syntax match potionOperator &quot;\v-&quot;
	syntax match potionOperator &quot;\v-\=&quot;

## syntax region
`:h syn-region`:

	syntax region potionString start=/\v&quot;/ skip=/\v\\./ end=/\v&quot;/
	highlight link potionString String

# highlight

## hilight group

### list hilight group

	:hi &quot;hilight list all color group
	:hi {group-name}
	:verbose hi Comment

### add hilight group

	:hi MyQuestions gui=bold term=bold cterm=bold
	:hi MyQuestions guifg=red guibg=green
	:hi Comment	ctermfg=Cyan guifg=#80a0ff

For gui:

	:highlight Normal guibg=Green guifg=Red

For terminal:

	:highlight Normal ctermfg=grey ctermbg=darkblue

&gt; For more details, refer to &#x27;:h hi-normal-cterm&#x27; or &#x27;:h hi-normal&#x27;

#### hilight-args
`:h hilight-args`

	term	a normal terminal (vt100, xterm)
	cterm	a color terminal (MS-DOS console, color-xterm, these have the &quot;Co&quot;
		termcap entry)
	gui	the GUI

term:

	term={attr-list}			*attr-list* *highlight-term* *E418*
		attr-list is a comma separated list (without spaces) of the
			bold
			underline
			undercurl	not always available
			reverse
			inverse		same as reverse
			italic
			standout
			NONE		no attributes used (used to reset it)

## colorscheme
colorscheme is a vim file which include hilight commands

	:colorscheme :colo
		same as `:echo g:colors_name`, current colorscheme
	:colo {name}
		load color {name} from `colors/{name}.vim`

### get current color

	echo g:colors_name
	:colo

## highlight link

	:help :hi-link

To set a link:

    :hi[ghlight][!] [default] link {from-group} {to-group}

To remove a link:

    :hi[ghlight][!] [default] link {from-group} NONE

Example:

	highlight link potionKeyword Keyword
	highlight link potionFunction Function

## help

	:help iskeyword
	:help group-name
		to get an idea of some common highlighting groups that color scheme

# Syntax files
&gt; :h syn-files

## autoload syntax file

The .vim files are normally loaded with an autocommand(filetype name).  For example:

	:au Syntax c	    runtime! syntax/c.vim
	:au Syntax cpp   runtime! syntax/cpp.vim

These commands are normally in the file $VIMRUNTIME/syntax/synload.vim.

	:set syntax=&lt;filetype&gt;

## Make Syntax file

2. Create a directory in there called &quot;syntax&quot;.  For Unix:

	mkdir ~/.vim/syntax

3. Write the Vim syntax file.  Or download one from the internet.  Then write
   it in your syntax directory.  For example, for the &quot;mine&quot; syntax: &gt;

	:w ~/.vim/syntax/mine.vim

Now you can start using your syntax file manually:

	:set syntax=mine</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
