<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/vim/vim-options.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>vim-options</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: vim-options
date: 2018-10-04
updated: 2019-06-10
---
# Set options 
set 命令的语法

	:set {option}
	:se no{option} 
	:se {option}! &quot;toggle option
	:set {option}&amp; &quot;在后面加&amp;时会重置option的默认值
	:se {option}? &quot;show option
	:se &quot;show all option
	:se viminfo-=s100

临时set 命令（当前文件下生效）:

	:setlocal nowrap

## default options
`:h &amp;vim`

	:se[t] {option}&amp;        Reset option to its default value.  May depend on the
							current value of &#x27;compatible&#x27;. {not in Vi}
	:se[t] {option}&amp;vi      Reset option to its Vi default value. {not in Vi}
	:se[t] {option}&amp;vim     Reset option to its Vim default value. {not in Vi}

	:se[t] all&amp;             Reset all options

## help options

	:help &#x27;number&#x27; (notice the quotes).
	:help relativenumber.
	:help numberwidth.
	:help wrap.
	:help shiftround.
	:help matchtime.

# ts &amp; sw 区别
与缩进有关的是ts/sw 选项，我的配置一般默认：

    :set ts=4 sw=4

ts &amp; sw 的区别是:
1. sw(shiftwidth) 是控制缩进步长的, 也就是作用于`&lt;&lt;` 和`&gt;&gt;` 这两个是缩进命令
1. ts(tabstop) 是指`tab`符的占用的字符长度, 比如`set ts=16`
   1. 在vim 中
      1. 如果开启了`expandtab`, 那么`tab` 会被替换成16 个`空白符`, 
      1. 如果没开启`expandtab`, 那么`tab`符本身就占用16 个字符的宽度
   2. 在neovim 中有点复杂：
      1. 如果在`非空白符`后输入`tab`, 那么每次移位是`4`个字符长度
      1. 否则，输入`tab`, 那么每次移位是`sw(shiftwidth)`个字符长度

# statusline

	:set statusline=%f\ -\ FileType:\ %y
	:set statusline=%f         &quot; Path to the file
	:set statusline+=\ -\      &quot; Separator
	:set statusline+=FileType: &quot; Label
	:set statusline+=%y        &quot; Filetype of the file

path:

	:set statusline=%F		&quot;full path
	:set statusline=%.20F	&quot;display only last 20 characters

line format:

	:set statusline=%l    &quot; Current line
	:set statusline+=/    &quot; Separator
	:set statusline+=%L   &quot; Total lines

## width and padding
general format

	%-0{minwid}.{maxwid}{item}

with width and padding

	:set statusline=Current:\ %4l\ Total:\ %4L

	&quot; padding on the right
	:set statusline=[%-4l]	&quot;[12  ]

with zero left:

	:set statusline=[%04l] &quot;[0012]

## splitting
`%=` to splitting:

	:set statusline=%f         &quot; Path to the file
	:set statusline+=%=        &quot; Switch to the right side
	:set statusline+=%l        &quot; Current line
	:set statusline+=/         &quot; Separator
	:set statusline+=%L        &quot; Total line</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
