<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/vim/vim-pattern.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>vim-pattern</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: vim-pattern
date: 2018-10-04
updated: 2020-05-26
---
# Preface

# pattern

	:h pattern

## charlist
Character classes

	\s	whitespace character: &lt;Space&gt; and &lt;Tab&gt;
	\_s a whitespace (space or tab) or newline character

	\S	non-whitespace character; opposite of \s
	\d	digit:				[0-9]
	\D	non-digit:			[^0-9]
	\w	word character:			[0-9A-Za-z_]
	\W	non-word character:		[^0-9A-Za-z_]
	\x	hex digit:			[0-9A-Fa-f]
	\X	non-hex digit:			[^0-9A-Fa-f]
	\o	octal digit:			[0-7]
	\O	non-octal digit:		[^0-7]

	\i	identifier character (see &#x27;isident&#x27; option)
	\I	like &quot;\i&quot;, but excluding digits
	\k	keyword character (see &#x27;iskeyword&#x27; option)
	\K	like &quot;\k&quot;, but excluding digits
	\f	file name character (see &#x27;isfname&#x27; option)
	\F	like &quot;\f&quot;, but excluding digits
	\p	printable character (see &#x27;isprint&#x27; option)
	\P	like &quot;\p&quot;, but excluding digits
	\h	head of word character:		[A-Za-z_]
	\H	non-head of word character:	[^A-Za-z_]
	\a	alphabetic character:		[A-Za-z]
	\A	non-alphabetic character:	[^A-Za-z]
	\l	lowercase character:		[a-z]
	\L	non-lowercase character:	[^a-z]
	\u	uppercase character:		[A-Z]
	\U	non-uppercase character		[^A-Z]

	\_. any character including a newline
	\_x	where x is any of the characters above: character
			class with end-of-line included

## atom

wrong:

	[$\w_]+

right:

	[$[:alnum:]_]+

	*[:alnum:]*		  [:alnum:]     letters and digits
	*[:alpha:]*		  [:alpha:]     letters
	*[:blank:]*		  [:blank:]     space and tab characters
	*[:cntrl:]*		  [:cntrl:]     control characters
	*[:digit:]*		  [:digit:]     decimal digits
	*[:graph:]*		  [:graph:]     printable characters excluding space
	*[:lower:]*		  [:lower:]     lowercase letters (all letters when
						&#x27;ignorecase&#x27; is used)
	*[:print:]*		  [:print:]     printable characters including space
	*[:punct:]*		  [:punct:]     punctuation characters
	*[:space:]*		  [:space:]     whitespace characters
	*[:upper:]*		  [:upper:]     uppercase letters (all letters when
						&#x27;ignorecase&#x27; is used)
	*[:xdigit:]*		  [:xdigit:]    hexadecimal digits
	*[:return:]*		  [:return:]	the &lt;CR&gt; character
	*[:tab:]*		  [:tab:]	the &lt;Tab&gt; character
	*[:escape:]*		  [:escape:]	the &lt;Esc&gt; character
	*[:backspace:]*		  [:backspace:]	the &lt;BS&gt; character

end of character classes:

	\e	&lt;Esc&gt;
	\t	&lt;Tab&gt;
	\r	&lt;CR&gt;
	\b	&lt;BS&gt;
	\n	end-of-line
	\~	last given substitute string
	\1	same string as matched by first \(\) {not in Vi}
	\2	Like &quot;\1&quot;, but uses second \(\)
	\c	ignore case, do not use the &#x27;ignorecase&#x27; option
	\C	match case, do not use the &#x27;ignorecase&#x27; option

especially:

	^	start of line
	$	end of line
	\%^ start of file
	\%$ end of file

word boundary:

	\&gt;单词右 \&lt; 单词左边界

按键：

	&lt;Up&gt;&lt;Down&gt;&lt;Left&gt;&lt;Right&gt;

### origin atom
          magic   nomagic	matches ~

    |/\%^|	\%^	\%^	beginning of file |/zero-width|		*E71*
    |/^|	^	^	start-of-line (at start of pattern) |/zero-width|
    |/\^|	\^	\^	literal &#x27;^&#x27;
    |/\_^|	\_^	\_^	start-of-line (used anywhere) |/zero-width|
    |/$|	$	$	end-of-line (at end of pattern) |/zero-width|
    |/\$|	\$	\$	literal &#x27;$&#x27;
    |/\_$|	\_$	\_$	end-of-line (used anywhere) |/zero-width|
    |/.|	.	\.	any single character (not an end-of-line)
    |/\_.|	\_.	\_.	any single character or end-of-line
    |/\&lt;|	\&lt;	\&lt;	beginning of a word |/zero-width|
    |/\&gt;|	\&gt;	\&gt;	end of a word |/zero-width|
    |/\zs|	\zs	\zs	anything, sets start of match
    |/\ze|	\ze	\ze	anything, sets end of match
    |/\%$|	\%$	\%$	end of file |/zero-width|
    |/\%V|	\%V	\%V	inside Visual area |/zero-width|
    |/\%#|	\%#	\%#	cursor position |/zero-width|
    |/\%&#x27;m|	\%&#x27;m	\%&#x27;m	mark m position |/zero-width|
    |/\%l|	\%23l	\%23l	in line 23 |/zero-width|
    |/\%c|	\%23c	\%23c	in column 23 |/zero-width|
    |/\%v|	\%23v	\%23v	in virtual column 23 |/zero-width|

### hexcode
The full table of character search patterns includes some additional options: &#x27;sssssssss 1&#x27;

    \%u20ac
    \%d match specified decimal character (eg \%d123)
    \%x match specified hex character (eg \%x2a)
    \%o match specified octal character (eg \%o040)
    \%u match specified multibyte character (eg \%u20ac)
    \%U match specified large multibyte character (eg \%U12345678)

### collection*

    [0-9]

### in replace
一般情况下`\r\n`分别代表回车与换行，但是在`:%s/pattern/replace` 中的replace

replace 比较特别：

    \n 代表ascii 0(^@)
        (相当于按&lt;c-v&gt;&lt;c-@&gt;, 或者 CTRL-V 000)
    \r 代表\n
    ^M  在replace中居然表示\n
        不表示&lt;c-v&gt;&lt;c-m&gt;, &lt;c-v&gt;013


## multi
default nomagic, need `\\` backslash

		 &#x27;magic&#x27; &#x27;nomagic&#x27;	matches of the preceding atom ~
	\*	0 or more	as many as possible
	\+	1 or more	as many as possible (*)
	\=	0 or 1		as many as possible (*)
	\?	0 or 1		as many as possible (*)

	\{n,m}	n to m		as many as possible (*)
	\{n}	n		exactly (*)
	\{n,}	at least n	as many as possible (*)
	\{,m}	0 to m		as many as possible (*)
	\{}	0 or more	as many as possible (same as *) (*)

	\{-n,m}	n to m		as few as possible (*)
	\{-n}	n		exactly (*)
	\{-n,}	at least n	as few as possible (*)
	\{-,m}	0 to m		as few as possible (*)
	\{-}	0 or more	as few as possible (*)

    \(\) 这个得全部转义 \{\} 可最左转义

## very magic
like perl and php:

	+*?(){}| is very magic
	&lt;&gt; is very magic
	&amp; is very magic
        /\v&lt;(word|word2)&gt;
	:execute &#x27;normal! gg/\vfor .+ in .+:&#x27; . &quot;\&lt;cr&gt;&quot;

      magic   nomagic	matches ~
    |/\m|	\m	\m	&#x27;magic&#x27; on for the following chars in the pattern
    |/\M|	\M	\M	&#x27;magic&#x27; off for the following chars in the pattern
    |/\v|	\v	\v	the following chars in the pattern are &quot;very magic&quot;
    |/\V|	\V	\V	the following chars in the pattern are &quot;very nomagic&quot; 

## zeor-width assert

	\@&gt;	1, like matching a whole pattern (*)
	\@=	nothing, requires a match |/zero-width| (*)
	\@!	nothing, requires NO match |/zero-width| (*)
	\@&lt;=	nothing, requires a match behind |/zero-width| (*)
	\@&lt;!	nothing, requires NO match behind |/zero-width| (*)

Example:

	\(foo\)\@&lt;!bar		any &quot;bar&quot; that&#x27;s not in &quot;foobar&quot;
	\(\/\/.*\)\@&lt;!in	&quot;in&quot; which is not after &quot;//&quot;

	\(my\)\@&lt;!hilo\(jack\)@!		any &quot;hilo&quot; that has no &#x27;my&#x27; prefix and &#x27;jack&#x27; suffix

### reset whole match

	\zs	Matches at any position, and sets the start of the match there: The
		next char is the first char of the whole match. |/zero-width|
		Example: &gt;
			/\( \zsFab\)\{3}
		&lt;	Finds the third occurrence of &quot;Fab&quot;.

	\ze	Matches at any position, and sets the end of the match there: The
		previous char is the last char of the whole match. |/zero-width|

## logic

	/pat1\|pat2
	/pat1\&amp;pat2

	/\vpat1&amp;pat2

# compare with perl

	Capability			in Vimspeak	in Perlspeak ~
	----------------------------------------------------------------
	force case insensitivity	\c		(?i)
	force case sensitivity		\C		(?-i)
	backref-less grouping		\%(atom\)	(?:atom)
	conservative quantifiers	\{-n,m}		*?, +?, ??, {}?
	0-width match			atom\@=		(?=atom)
	0-width non-match		atom\@!		(?!atom)
	0-width preceding match		atom\@&lt;=	(?&lt;=atom)
	0-width preceding non-match	atom\@&lt;!	(?&lt;!atom)
	match without retry		atom\@&gt;		(?&gt;atom)

Here two example are equal

	:%s/\%(hilo\)-\(jack\)/-\1-/g	&quot;\%(\) without counting it as a sub-expression.
	:%s/\(hilo\)-\(jack\)/-\2-/g

## reference

	/\v(word) &amp;
	/\v(word) \1

	&quot; They are same
	:%s/\(word\)/--&amp;--/g
	:%s/\(word\)/--\1--/g

	:%s/\(word\)/--\&amp;--/g  &quot;&amp; is iteral

一般情况下\r\n分别代表回车与换行，但是在`:%s/pattern/replace` 中的replace，replace 只能用&#x27;\r&#x27;表示换行，&#x27;\n&#x27;表示回车

	:%s/\([^-]*\)-\(.*\)/\2 \r \1/gc   &quot;vim中的替换也可以用到正则反引用\2\1


# search 搜索
高亮/搜索时定位/循环搜索时的配置

    &quot; 大小写不敏感匹配
    :set ignorecase 
    &quot; 当搜索的字母只有小写时, 就大小写敏感. 否则,就大小写不敏感
    :set smartcase

	#高亮搜索关键字
	:set hls 或 :set hlsearch
	:nohlsearch &quot;限本次搜索不高亮
    #真正的撤消搜索 clearmatch clear search: 有这几种
    :noremap &lt;F3&gt; :let @/ = &quot;&quot;&lt;CR&gt;
    :set nohlsearch
    :set hlsearch!
    :noh

	#还未完全键入字串时就能找到目标
	:set is
    :set incsearch

	#默认是到达文件尾后回到文件头
	:set ws 
    :set wrapscan
	#到达文件尾就停止搜索
	:set nows
    :set nowrapscan

## 普通搜索(common search）
1. /pattern :/pattern/offset 正向搜索 （可以用n N正向反向重复)
1. /pattern/e &quot;The e stands for &quot;end&quot; of the matched pattern.
1. ?pattern?e :?pattern?offset 反向搜索 （可以用n N反向正向重复)
1. `*` 搜索光标所处的单词
2. fx　搜索一个字符 Fx　反向搜索字符（行内）
tx/Tx　搜索一个字符(相当于Fx/fx，可以用`;`,`,`实现正向反向重复）

## search()
`:h search()` return lnum

	onoremap &lt;script&gt; &lt;buffer&gt; af :call &lt;SID&gt;CurrentFunction()&lt;cr&gt;
	vnoremap &lt;script&gt; &lt;buffer&gt; af :call &lt;SID&gt;CurrentFunction()&lt;cr&gt;
	function! s:CurrentFunction()
		if search(&#x27;\v^(\t|    )\w.*function \w+\([^\)]*\)\_s*\{&#x27;, &#x27;b&#x27;) &gt; 0
			&quot;exe &#x27;silent normal&#x27; &#x27;?\v^(\t|    )\w.*function \w+\([^\)]*\)\_s*\{&#x27;.&quot;\r&quot;
			exe &#x27;normal&#x27; &quot;\&lt;esc&gt;&quot;.&#x27;V/\v^(\t|    )\}/&#x27;.&quot;\r&quot;
		endif
	endfunction

### searchpos()

	:let [lnum, col] = searchpos(&#x27;searhpos&#x27;)

## search plugin

### easymotion
这个插件扩展了fx/tx 的功能, 我觉得map成f 触发比较好

	&quot;map &lt;Leader&gt;&lt;Leader&gt; &lt;Plug&gt;(easymotion-prefix)
	nnoremap f &lt;Plug&gt;(easymotion-prefix)

## ex-gsearch
这是一个exVim项目用的search插件, 基于idutils

    &lt;leader&gt;gg  Global search current word under cursor, show the result in ex-gsearch window.
    &lt;leader&gt;]   Search the defines and declarations of current word under cursor, show the result in ex-tags window.
    &lt;leader&gt;sg  List all defines and declarations of current word, show the result in ex-symbole window.
    :GS &lt;word&gt;  Global search
	:SUB a/b	Global replace(new version)

## vimgrep and grep

	&quot;搜索当前目录下的*.txt
	:vimgrep pattern *.txt
	:vimgrep /pattern/ *.txt
	:vimgrep /\&lt;word\&gt;/g *.c
	:vimgrep /\&lt;word\&gt;/g *.c
	&quot;搜索当前子目录下的 */*.txt
	:vimgrep pattern */*.txt
	&quot;递归搜索当前目录下的 */*.txt
	:vimgrep pattern **/*.txt

	:vimgrep {search} {infiles}
	:lvimgrep {search} {infiles}
			Same as &quot;:vimgrep&quot;, except the location list for the
			current window is used instead of the quickfix list.

	:grep {search} {infiles}
	:lgrep {search} {infiles}
		When &#x27;grepprg&#x27; is &quot;internal&quot; this works like |:vimgrep|.
		Note that the pattern needs to be enclosed in separator characters then.
		set grepprg?

多文件替换：

	&quot;将要扫描的文件加入argument list
	:args **/*.txt **/*.cpp
	&quot;在参数列表中的文件中执行替换 并保存上
	:argdo %s/hate/love/gc | update

Refer to:
http://www.vimer.cn/2009/10/vimgvim%E5%AE%9E%E7%8E%B0%E5%A4%9A%E6%96%87%E4%BB%B6%E7%9A%84%E6%9F%A5%E6%89%BE%E5%92%8C%E6%9B%BF%E6%8D%A2.html

# hilight match

	:mat[ch] {group} /{pattern}/

Define a pattern to highlight in the current window.  It will
be highlighted with {group}.  Example: &gt;


	:highlight MyGroup ctermbg=green guibg=green
	:match MyGroup /TODO/

	&quot;system Error&quot;
	:match Error /\v.../

	&quot;clear match&quot;
	:match none

Instead of `//` any character can be used to mark the start and
end of the `{pattern}`.  Watch out for using special characters,
such as &#x27;&quot;&#x27; and &#x27;|&#x27;.</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
