<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/py/py-asyncio.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>asyncio</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: asyncio
date: 2018-09-28
updated: 2019-02-06
---
# asyncio
asyncio是基于coroutine 的，包括了:
1. 事件循环(event loop)
2. Task: 对coroutine 的封装，包含各种状态
    1. Pending Running Done Cancelled

4. Future: 将来执行或没有执行的任务的结果. task就是Future实例

## asyncio 生态
同类
1. curio： 比asyncio更轻量的协程网络库

asyncio 的生态:
1. sanic: 比aiohttp 轻量, sanic使用uvloop异步驱动，uvloop基于libuv使用Cython编写，性能比nodejs还要高
2. aiohttp
3. uvloop: asyncio 的eventloop 扩展

## asyncio protocol
Aysncio protocol twisted-like:

    class Protocol(asyncio.Protocol):
        def connection_made(self, transport):
            self.transport = transport
        def data_received(self, data):
            self.transport.write(b&#x27;HTTP/1.1 200 OK\r\nContent-Type: text/html\r\n\r\nHello xxx&#x27;)
            self.transport.close()
        def eof_received(self):
            if self.transport.can_write_eof():
                self.transport.write_eof()
        def connection_lost(self, exc):
            supper().connection_lost(exc)

# asyncio task 
## create task
single task: 包装的coroutine
1. 两种方式等价：
   1. `loop.create_task()`
   1. `asyncio.ensure_future()`
2. task有pending、runing、done、cancel状态
3. task 是Future的子类：isinstance(task, asyncio.Future)

e.g. create task

    import asyncio
    loop = asyncio.get_event_loop()
    async def do_some_work(x):
        print(&#x27;Waiting: &#x27;, x)
    
    coroutine = do_some_work(2)
    # task = asyncio.ensure_future(coroutine)
    task = loop.create_task(coroutine)
    loop.run_until_complete(task)

## task 回调

    import asyncio
    async def func(x):
        return x+1
    def callback(future):
        print(&#x27;Callback: &#x27;, future.result())
    
    loop = asyncio.get_event_loop()
    task = asyncio.ensure_future(func(1))
    task.add_done_callback(callback)

    loop.run_until_complete(task)
    print(task.result()) # future == task

## task with async/await

    async def func(x):
        await asyncio.sleep(x)
        return &#x27;Done after {}s&#x27;.format(x)

 async/await 被用来取代yield from, yield from 可建立main 与 subgen的通道

    def gen():
        yield from subgen()
        yield from subgen()

    def subgen():
        i = 0
        while i&lt;1:
            x = yield
            yield x+1
            i+=1
        return 100

    def main():
        g = gen()
        print(next(g))      #None
        print(g.send(1))    #2
        print(g.send(1))    #None
        print(g.send(1))    #2
        #g.throw(StopIteration) # 看似向gen()抛入异常

    main()

## task 并行
借助wait 封装

    import asyncio 
    async def func(i=2):
        print(&#x27;sleep: &#x27;,i)
        await asyncio.sleep(i)
        #future.set_result(&#x27;future is done&#x27;)
        return i

    loop = asyncio.get_event_loop() # 默认的loop

    # asyncio.wait 封装多个tasks 为coroutine
    tasks_coroutine = asyncio.wait([
        asyncio.ensure_future(func(1)),
        asyncio.ensure_future(func(3)),
    ])

    # block for all tasks
    dones, pendings = loop.run_until_complete(tasks_coroutine) 
    for task in dones: 
        print(task.result()) # 顺序不定. pendins = set() 空集合. 除非ctrl-c中断
    #loop.close(1)

wait 会自动将 coroutine 封装为task

    tasks_coroutine = asyncio.wait([func(1), func(3)]) 

## task 中断

    import asyncio
    loop = asyncio.get_event_loop()
    async def func(i=2):
        await asyncio.sleep(i)
        return i

    try:
        loop.run_until_complete(asyncio.wait([func(1),func(20),func(33)]))
    except KeyboardInterrupt as e:
        # dones + pendings + cancels + runnings
        for task in asyncio.Task.all_tasks():
            # 有4个task: 3个func, 1个wait
            print(&#x27;cancel: &#x27;,task.cancel(), task)  
    finally:
        pass #loop.close() 

利用gather 全部执行：

    print(asyncio.gather(*asyncio.Task.all_tasks()).cancel())

# asyncio loop event
    loop.run_until_complete()
    loop.stop()
    loop.run_forever() # 即使所有的任务done 也不停止, 除非loop.stop()
    loop.close()

## 阻塞loop (普通func)
用`loop.call_soon_threadsafe`往loop 添加普通函数（非coroutine）, 由于time.sleep 阻塞，执行要花3+3=6s

    from threading import Thread
    import asyncio, time
 
    def start_loop(loop):
        asyncio.set_event_loop(loop)
        print(&#x27;start_loop&#x27;)
        loop.run_forever()
    
    def more_work(x):
        print(&#x27;More work {}&#x27;.format(x))
        time.sleep(x)
        print(f&#x27;Finished more work {x} at &#x27;,time.time() - start)
    
    start = time.time()
    new_loop = asyncio.new_event_loop()
    t = Thread(target=start_loop, args=(new_loop,))
    t.start()
    new_loop.call_soon_threadsafe(more_work, 3)
    new_loop.call_soon_threadsafe(more_work, 3)

线程本身相当于master-worker中，执行more_work 的worker

## 非阻塞loop (coroutine)
用`loop.call_soon_threadsafe`往loop 添加coroutine, 执行要花3s

    from threading import Thread
    import asyncio, time

    def start_loop(loop):
        asyncio.set_event_loop(loop)
        loop.run_forever()

    async def do_some_work(x):
        print(&#x27;Waiting {}&#x27;.format(x))
        await asyncio.sleep(x)
        print(f&#x27;Finished more work {x} at &#x27;,time.time() - start)

    start = time.time()
    new_loop = asyncio.new_event_loop()
    t = Thread(target=start_loop, args=(new_loop,))
    t.start()
    print(&#x27;TIME: {}&#x27;.format(time.time() - start))

    asyncio.run_coroutine_threadsafe(do_some_work(3), new_loop)
    asyncio.run_coroutine_threadsafe(do_some_work(3), new_loop)

## task 自动加入loop
新创建的task 会自动放到 loop

    import asyncio
    import time
    now = time.time
    start = now()
    async def worker(task=1):
        print(&#x27;Start worker&#x27;)
        await asyncio.sleep(task)
        print(&#x27;Done &#x27;, task, now() - start)
    
    loop = asyncio.get_event_loop()

    asyncio.ensure_future(worker())
    asyncio.ensure_future(worker())
    loop.create_task(worker())
    try:
        loop.run_forever()
    except KeyboardInterrupt as e:
        print(asyncio.gather(*asyncio.Task.all_tasks()).cancel())
 

## 停止event loop

    new_loop = asyncio.new_event_loop()
    t = Thread(target=start_loop, args=(new_loop,))
    t.setDaemon(True)    # 设置子线程为守护线程, 不用等待
    t.start()
    try:
        while True:
            task = rcon.rpop(&quot;queue&quot;)
            if not task:
                time.sleep(1)
                continue
            asyncio.run_coroutine_threadsafe(do_some_work(int(task)), new_loop)
    except KeyboardInterrupt as e:
        print(e)
        new_loop.stop()

## create_subprocess_exec

    p = await asyncio.create_subprocess_exec(&#x27;ping&#x27;, &#x27;-c&#x27;, &#x27;4&#x27;, ip, stdout=asyncio.subprocess.PIPE)
    async for line in p.stdout:
        print(line)
    await p.wait()


# Future executor(包装多线程进程future)
非coroutine 不能并行，但是可以封装成thread/process.

就是手动封装task 太麻烦了，concurrent.futures 提供了方便的executor
1. 标准库中有两个为Future的类：concurrent.futures.Future 和 asyncio.Future。这两个Future作用相同。

Future 是抽象的Task, Task is subclass of Future, Future 也是一种特殊 Corutine

1. Future could wrap `coroutine` as task, and *store it&#x27;s return value*. Important!!
    1. Future.set_result
    2. 然后执行add_done_callback()方法添加的回调函数，
2. Future instances are created by `Executor.submit()` and should not be created directly except for testing.

Future is Not thread safe!

## ThreadPoolExecutor
来一个例子 executor.map, 取数据时会block for all

    import concurrent.futures, urllib.request
    URLS = [&#x27;http://localhost?s=2&#x27;,&#x27;http://localhost?s=4&#x27;]
    def load_url(url,timeout=60):
        with urllib.request.urlopen(url, timeout=timeout) as conn:
            print(url, &#x27;finished!&#x27;)
            return conn.read()

    import concurrent.futures
    with concurrent.futures.ThreadPoolExecutor(max_workers=5) as executor:
       results = executor.map(load_url, URLS)
       print(list(results)) # block for all

每个io 返回的时间不一样，可以Executor.submit生成Future task, 然后实时处理 `futures.as_completed(futures)`

    with concurrent.futures.ThreadPoolExecutor(max_workers=5) as executor:
        future_to_url = {executor.submit(load_url, url, 60): url for url in URLS}
        for future in concurrent.futures.as_completed(future_to_url): # 任何一个完成都会迭代
            url=future_to_url[future]
            print(&#x27;url:&#x27;, url)
            data = future.result()

## ProcessPoolExecutor
也支持executor.map(func,urls) 和 executor.submit(func, url, 60) + as_completed()

    import concurrent.futures, urllib.request,math
    def is_prime(n):
        mid = int(math.sqrt(n))
        flag = True
        for i in range(3, mid+1,2):
            if n%i == 0:
                flag = False
                break
        return flag

    nums = [25, 61, 29, 50, 109]

    with concurrent.futures.ProcessPoolExecutor() as executor:
        future_to_num = {executor.submit(is_prime, n ):n for n in nums}
        for future in concurrent.futures.as_completed(future_to_num):
            data = future.result()
            print(future_to_num[future],data)

也可以不用async , 用multiprocessing.

    multiprocessing.Pool(4).apply_async(func, [url, 60]).get() # get是阻塞的
    multiprocessing.Pool(4).map(math.exp,range(1,11))

    multiprocessing.pool.ThreadPool(4).apply_async(func, [url, 60]).get() # get是阻塞的
    multiprocessing.pool.ThreadPool(4).map(math.exp,range(1,11))

### Future.executor.map(包装多线程进程)
map是有序的： [ProcessPoolExecutor](/demo/py-demo/async/future-processpool-map.py)
as_completed 以及dict是无序的

    with concurrent.futures.ProcessPoolExecutor() as executor:
        for x in zip(nums, executor.map(is_prime, nums)):
            print(x)

## Future Task Method

    future.cancel()
    future.cancelled() bool
    future.running() bool
    future.done() bool
    future.result(timeout=None)

# 其他
## shell

    await asyncio.create_subprocess_exec(&#x27;ping&#x27;, &#x27;-c&#x27;, &#x27;4&#x27;, ip, stdout=asyncio.subprocess.PIPE)

# curio
比asyncio更轻量的协程网络库

curio的作者是David Beazley，下面是使用curio创建tcp server的例子，据说这是dabeaz理想中的一个异步服务器的样子：

    ```
    from curio import run, spawn
    from curio.socket import *

    async def echo_server(address):
        sock = socket(AF_INET, SOCK_STREAM)
        sock.setsockopt(SOL_SOCKET, SO_REUSEADDR, 1)
        sock.bind(address)
        sock.listen(5)
        print(&#x27;Server listening at&#x27;, address)
        async with sock:
            while True:
                client, addr = await sock.accept()
                await spawn(echo_client, client, addr)

    async def echo_client(client, addr):
        print(&#x27;Connection from&#x27;, addr)
        async with client:
            while True:
                data = await client.recv(100000)
                if not data:
                    break
                await client.sendall(data)
        print(&#x27;Connection closed&#x27;)

    if __name__ == &#x27;__main__&#x27;:
        run(echo_server, (&#x27;&#x27;,25000))
    ```

无论是asyncio还是curio，或者是其他异步协程库，在背后往往都会借助于IO的事件循环来实现异步，下面用几十行代码来展示一个简陋的基于事件驱动的echo服务器：
[/demo](/demo/py/socket-selector-echo.py)
验证一下：

    # terminal 1,
    $ nc localhost 8081
    hello world
    hello world

    # terminal 2
    $ nc localhost 8081
    hello world
    hello world

# uvloop with asyncio
基于libuv 的asyncio event-loop 实现

    import asyncio,uvloop
    loop = uvloop.new_event_loop()
    asyncio.set_event_loop(loop)

## sanic
Sanic使用了uvloop作为asyncio的事件循环，uvloop由Cython编写，它的出现让asyncio更快.
比 nodejs、gevent 和其他Python异步框架要快两倍

    from sanic import Sanic
    from sanic.response import json
    app = Sanic()

    @app.route(&#x27;/&lt;user&gt;&#x27;)
    async def test(request, user):
        return json({&#x27;hello&#x27;: user})

    app.run(host=&#x27;0.0.0.0&#x27;, port=8000)

route 可参考：https://www.jianshu.com/p/80f4fc313837

    @app.route(&#x27;/number/&lt;number_arg:number&gt;&#x27;)
    @app.route(&#x27;/folder/&lt;folder_id:[A-z0-9]{0,4}&gt;&#x27;)

    app.add_route(handler2, &#x27;/folder2/&lt;name&gt;&#x27;)
    app.add_route(personal_handler2, &#x27;/personal2/&lt;name:[A-z]&gt;&#x27;, methods=[&#x27;GET&#x27;])

看看 《Sanic 的若干吐槽》，感觉Sanic 不像flask 而是像koa
https://manjusaka.itscoder.com/2018/02/23/why-i-dont-recommend-sanic/


# 参考
- Python黑魔法 --- 异步IO（ asyncio） 协程 http://python.jobbole.com/87310/
</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
