<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/py/py-excel-zip.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>py-excel-zip</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: py-excel-zip
date: 2018-09-28
updated: 2018-10-06
---
# Preface
1. xlsx
	1. openpyxl
	2. xlsxwriter(alternative)
2. xls
	1. xlrd
	2. xlwt

# xlsx 格式
xlsx 是zip 文件：

	zip -t t.xlsx

## unzip

    import zipfile,tempfile,os
    with open(&#x27;a.xlsx&#x27;, &#x27;rb&#x27;) as f:
        dest = tempfile.TemporaryDirectory()
        zf = zipfile.ZipFile(f)
        zf.filelist[0].filename
        zf.extract(&#x27;xl/media/image1.png&#x27;, dest.name)
            &#x27;/var/xxxxxx/xl/media/image1.png&#x27;
        os.rename(dest.name+&#x27;/xl/media/image1.png&#x27;, &#x27;newdir&#x27;)

        # print([f.filename for f in zf.filelist if type(f)==zipfile.ZipInfo])
        # print([f.filename for f in zf.infolist()])
        # zf.extractall(dest)

## 数据类型
数据类型用s(style_id) 表示：

	2,12	date (天数，从1900-01-00 开始的天数)
	3,11	string

	&lt;c r=&quot;A3&quot; s=&quot;2&quot;&gt;&lt;v&gt;42370&lt;/v&gt;&lt;/c&gt;
	&lt;c r=&quot;B3&quot; s=&quot;12&quot;&gt;&lt;v&gt;42374&lt;/v&gt;&lt;/c&gt;
	&lt;c r=&quot;C3&quot; s=&quot;3&quot;&gt;&lt;v&gt;400&lt;/v&gt;&lt;/c&gt;
	&lt;c r=&quot;D3&quot; s=&quot;3&quot; t=&quot;s&quot;&gt;&lt;v&gt;20&lt;/v&gt;&lt;/c&gt;

### 共享类型
`t=&quot;s&quot;` 属于共享类型

	//sheet1.xml
	&lt;row r=&quot;2&quot; spans=&quot;1:256&quot; s=&quot;9&quot; customFormat=&quot;1&quot; ht=&quot;15&quot; customHeight=&quot;1&quot; x14ac:dyDescent=&quot;0.15&quot;&gt;
		&lt;c r=&quot;A2&quot; s=&quot;11&quot; t=&quot;s&quot;&gt;&lt;v&gt;0&lt;/v&gt;&lt;/c&gt;
		&lt;c r=&quot;B2&quot; s=&quot;11&quot; t=&quot;s&quot;&gt;&lt;v&gt;1&lt;/v&gt;&lt;/c&gt;
		&lt;c r=&quot;C2&quot; s=&quot;11&quot; t=&quot;s&quot;&gt;&lt;v&gt;2&lt;/v&gt;&lt;/c&gt;
		&lt;c r=&quot;D2&quot; s=&quot;11&quot; t=&quot;s&quot;&gt;&lt;v&gt;3&lt;/v&gt;&lt;/c&gt;
		&lt;c r=&quot;E2&quot; s=&quot;11&quot; t=&quot;s&quot;&gt;&lt;v&gt;4&lt;/v&gt;&lt;/c&gt;

	//sharedStrings.xml
	&lt;sst xmlns=&quot;http://schemas.openxmlformats.org/spreadsheetml/2006/main&quot; count=&quot;380&quot; uniqueCount=&quot;155&quot;&gt;
		&lt;si&gt;&lt;t&gt;ID&lt;/t&gt;&lt;/si&gt;
		&lt;si&gt;&lt;t&gt;提交日期&lt;/t&gt;&lt;/si&gt;
		&lt;si&gt;&lt;t&gt;补偿日期&lt;/t&gt;&lt;/si&gt;
		&lt;si&gt;&lt;t&gt;订单来源&lt;/t&gt;&lt;/si&gt;
		&lt;si&gt;&lt;t&gt;城市&lt;/t&gt;&lt;/si&gt;

# openpyxl
https://openpyxl.readthedocs.io/en/default/tutorial.html

	from openpyxl import load_workbook
	wb = load_workbook(filename = &#x27;empty_book.xlsx&#x27;)
	for sheetname in wb.sheetnames:
		ws = wb[sheetname]
	for ws in wb.worksheets:
		print(ws[&#x27;A1&#x27;].value)

## row, cell

	from openpyxl import load_workbook
	wb = load_workbook(filename=&#x27;large_file.xlsx&#x27;, read_only=True)
	ws = wb[&#x27;big_data&#x27;] # ws is now an IterableWorksheet

	row = next(ws.rows) # row is tuple, rows is generator

	for row in ws.rows:
		# row[1]
		for cell in row:
			print(cell.value)

### row slicing
tuple

	cell_range = ws[&#x27;A1&#x27;:&#x27;C2&#x27;]
	cell_range = ws[&#x27;A1:C2&#x27;]
	row10 = ws[10]
	row_range = ws[1:10]

	colC = ws[&#x27;C&#x27;]

	for row in ws.iter_rows(min_row=1, max_col=3, max_row=2):

### cell

	cell = ws[&#x27;A1&#x27;]
	cell = ws.cell(row = 4, column = 2)

## csv

	import openpyxl
	import csv

	wb = openpyxl.load_workbook(&#x27;test.xlsx&#x27;)
	print(wb.sheetnames)
	sh = wb.active
	# python3 only
	with open(&#x27;test.csv&#x27;, &#x27;w&#x27;) as f:
		c = csv.writer(f); //writer(f, dialect=&#x27;excel&#x27;)
		for r in sh.rows:
			c.writerow([cell.value for cell in r])

# xlrd for old xls
see [xlrd](/excel-tutorial/xlrd/xlrd.md)</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
