<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/py/py-expr.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>Python 的语法</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: Python 的语法
date: 2018-03-01
updated: 2020-01-10
---
# 多条件compare
多条件比较

    &gt;&gt;&gt; 5&lt;i&lt;100
    &gt;&gt;&gt; 1 &lt; 3 &gt;= 3 &gt; 1==1 &lt;100
    True

# 条件和循环

## try finnaly

    try:
        1/0
    except Exception as e:
        print(&#x27;first:&#x27;,e)
        raise e
    finally:
        print(&#x27;second: finally&#x27;)


## control

	exit(0);
		like exit(0) in c

	sys.exit()
		SystemExit 异常，没有捕获这个异常，会直接退出；捕获这个异常可以做一些额外的清理工作。

## switch

	def zero():
		print(&quot;zero&quot;)
	one = lambda:print(&#x27;one&#x27;)

	{&#x27;a&#x27;:lambda x: print(x), &#x27;b&#x27;:zero}[&#x27;a&#x27;](2)
		2

## if

    a = b &gt; 1 and 1 or 0
    a = (1, 0)[b &gt; 1]

	x=10;
	if 1&lt;=x&lt;=5:
		print(x)
	elif x==6:
        print x*x
	else: 
        print(x*x*x)

if `[]` and `None`

    if [] or None: print(&#x27;not print&#x27;)

if is

	if L is None:
	if L == None:

## loop

### for

	for i in range(5): print i
	for i in [1],2,3: print i

Iterator For

	[w.capitalize() for w in [&#x27;aa&#x27;,&#x27;bb&#x27;,&#x27;cc&#x27;]]

#### for 本质

	for arg in argv:
	for(i=0; i&lt;len(argv); i++): arg = argv[i] //len(argv) 是实时计算的, 会受argv.pop 的影响

### 判断对象是否可迭代
可用：

	hasattr([],&#x27;__iter__&#x27;)

或者:

	&gt;&gt;&gt; from collections import Iterable
	&gt;&gt;&gt; isinstance(&#x27;abc&#x27;, Iterable) # str是否可迭代
	True
	&gt;&gt;&gt; isinstance([1,2,3], Iterable) # list是否可迭代
	True
	&gt;&gt;&gt; isinstance(123, Iterable) # 整数是否可迭代
	False

Python内置的enumerate函数可以把一个list变成索引-元素对，这样就可以在for循环中同时迭代索引和元素本身：

	&gt;&gt;&gt; for i, value in enumerate([&#x27;A&#x27;, &#x27;B&#x27;, &#x27;C&#x27;]):
	...     print(i, value)
	...
	0 A
	1 B

### while

	while x &lt; 6:
		Statement

# List Comprehensions, 列表生成式
列表生成式即List Comprehensions

	&gt;&gt;&gt; [x * x for x in range(1, 11)]
	[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

for循环后面还可以加上if判断，这样我们就可以筛选出仅偶数的平方：

	&gt;&gt;&gt; [x * x for x in range(1, 11) if x % 2 == 0]
	[4, 16, 36, 64, 100]

还可以使用两层循环，可以生成全排列：

	&gt;&gt;&gt; [m + n for m in &#x27;AB&#x27; for n in &#x27;XYZ&#x27;]
	[&#x27;AX&#x27;, &#x27;AY&#x27;, &#x27;AZ&#x27;, &#x27;BX&#x27;, &#x27;BY&#x27;, &#x27;BZ&#x27;]

列出文件

	&gt;&gt;&gt; import os # 导入os模块，模块的概念后面讲到
	&gt;&gt;&gt; [d for d in os.listdir(&#x27;.&#x27;)] # os.listdir可以列出文件和目录

# logic/bit/compare expression

## bit/logic expr
and or not xor

    x &amp; y
    x | y
    ~ x
    x ^ y

bit

    x &lt;&lt; y
    x &gt;&gt; y  

    &gt;&gt;&gt; -1&lt;&lt;2
    -4
    &gt;&gt;&gt; -1&gt;&gt;2
    -1
    &gt;&gt;&gt; ~1
    -2
    &gt;&gt;&gt; ~-1
    0
    &gt;&gt;&gt; 1^1
    0

## logic
    and or not
	&gt;&gt;&gt; False or 0 or &#x27;&#x27; or 3
	3

## compare
	&gt;&gt;&gt; x =5; 1 &lt; x &lt; 10
	True

	!= (not equal)
	== (equal)
	&gt;= (greater-than-equal)
	&lt;= (less-than-equal)
	True
	False

# with
with 可以捕获异常, 类必须支持`__enter__, __exit__`相当于文件open/close:

	class DummyResource:
		def __enter__(self):
			print(&#x27;enter&#x27;);
			return self	  # 可以返回不同的对象
		def __exit__(self, exc_type, exc_value, exc_tb):
			print( &#x27;Free resource.&#x27;)
			if exc_tb is None:
				print(&#x27;Exited without exception.&#x27;)
			else:
				print(&#x27;Exited with exception raised.&#x27;)
				return True   # 不再raise 出异常

	with DummyResource() as obj:
		10/0
		print(&#x27;do sth...&#x27;)

1. exc_tb 是错误发生位置
2. 利用with 断言指定类型的Error，比如通过d[&#x27;empty&#x27;]访问不存在的key时，断言会抛出KeyError：

	with self.assertRaises(KeyError):
		value = d[&#x27;empty&#x27;]

# break, iterators and sentinel values
调用一个函数直到遇到标记值break

    blocks = []
    while True:
        block = f.read(32)
        if block == &#x27;&#x27;:
            break
        blocks.append(block)

更好的方法via `iter(func,mark)`或者`iter(lambda:func(), mark)` 遇到标记自动break：

    blocks = []
    # for block in iter(functools.partial(f.read, 32), &#x27;&#x27;):
    for block in iter(lambda:f.read(32), &#x27;&#x27;):
        blocks.append(block)

    In [6]: with open(&quot;2.txt&quot;,&quot;r+b&quot;) as f:
    ...:     mm = mmap.mmap(f.fileno(),0,prot=mmap.PROT_READ)
    ...:     for line in iter(lambda: mm.readline(), b&#x27;&#x27;):
    ...:         print(line)
    ...:

## limit iter

    for _, item in zip(range(limit), items):
        print(item)
    for item in itertools.islice(items, 0, stop): # stop=None include end
        print(item)

# Distinguishing multiple exit points in loops

    def find(seq, target):
        found = False
        for i, value in enumerate(seq):
            if value == target:
                found = True
                break
        if not found:
            return -1
        return i

Better: break else

    def find(seq, target):
        for i, value in enumerate(seq):
            if value == target:
				print(&#x27;found, break else&#x27;)
                break
        else:
            return &#x27;not found (when no break)&#x27;
        return i

    for i in range(1):
        pass
    else:
        print(&#x27;not found, loop over&#x27;)


# Simultaneous state updates
Better

    x, y, dx, dy = (x + dx * t,
                    y + dy * t,
                    influence(m, x, y, dx, dy, p=&#x27;x&#x27;),
                    influence(m, x, y, dx, dy, p=&#x27;y&#x27;))
</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
