<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/py/py-file-io.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>py-file-io</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: py-file-io
date: 2018-09-28
updated: 2020-08-02
---
# Preface

# flush buffer
开启buffer 后，默认是换行才flush, print 调用的就是sys.stdout

    # mac测试后：不一定有效
    PYTHONUNBUFFERED=0 python3 &lt;&lt;&lt;&#x27;import sys,time; sys.stdout.write(&quot;sys&quot;);time.sleep(10)&#x27;
    PYTHONUNBUFFERED=0 python3 &lt;&lt;&lt;&#x27;import sys,time; sys.stdout.write(&quot;sys\n&quot;);time.sleep(10)&#x27;
    PYTHONUNBUFFERED=0 python3 &lt;&lt;&lt;&#x27;import sys,time; print(&quot;print&quot;,end=&quot;&quot;);time.sleep(10)&#x27;
    # 有效
    python3 -u &lt;&lt;&lt;&#x27;import sys,time; sys.stdout.write(&quot;sys&quot;);time.sleep(10)&#x27;
    python3 -u test.py

也可以定向到别的地方：

    sys.stdout = open(‘file.txt’, ‘a’,0)

其实包括换行，有三种mode:

    1. _IOLBF，line buffer
    2. _IOFBF, full buffer
    3. _IONBF，no buffer

C语言 关闭buffer

    int setvbuf(FILE *stream, char *buffer, int mode, size_t size)
    setvbuf(stdout, 0, _INNBF, 0);

python [完全关闭buffer](http://jaseywang.me/2015/04/01/stdio-%E7%9A%84-buffer-%E9%97%AE%E9%A2%98/)

1. sys.stdout = os.fdopen(sys.stdout.fileno(), &#x27;w&#x27;, 0)
2. 直接定向到stderr 
3. 直接脚本的时候加上 -u 参数。`python -u tool/bench.py`
   1. 但是需要注意下，xreadlines(), readlines() 包含一个内部 buffer，不受 -u 影响，因此如果通过 stdin 来遍历会出现问题
4. 将其 stream 关联到 pseudo terminal(pty) 上，script 命令可以做这事情的: `script -q -c &quot;command1&quot; /dev/null | command2`
或者通过 socat 这个工具实现，


## pipe buffer
再来看个跟 pipe 相关的问题， 这个命令常常回车之后没有反应:

    $ tail -f logfile | grep &quot;foo&quot; | awk {print $1}

解释
1. tail 的 stdout buffer 默认会做 full buffer，由于加上了 -f，表示会调用 fflush() 对输出流进行 flush，所以 tail -f 这部分没什么问题。
2. 关键在 grep 的 stdout buffer，因此它存在一个 8KB stdout buffer，要等该 buffer 满了之后 awk 才会接收到数据。
3. awk 的 stdout buffer 跟终端相关联，所有默认是 line buffer。怎么解决这个问题了，

其实 grep 提供了 –line-buffered 这个选项来做 line buffer，这会比 full buffer 快的多:

    tail -f logfile | grep –line-buffered  &quot;foo&quot; | awk {print $1}

除了 grep，sed 有对应的 -u(–unbuffered)，awk(我们默认的是 mawk) 有 -W 选项，tcpdump 有 -l 选项来将 full buffer 变成 line 或者 no buffer。

### stdbuf
上面修改参数的不具有普遍原理。其实 coreutils 已经给我们提供了一个叫 stdbuf 的工具。expect 还提供了一个叫 unbuffer 的工具:

    tail -f logfile | stdbuf -oL grep &quot;foo&quot; | awk {print $1}

# mmap
1. 文件操作需要从磁盘到页缓存再到用户主存的两次数据拷贝。
2. 而 mmap 操控文件，只需要从磁盘到用户主存的一次数据拷贝过程. 但是大文件： major page fault 多

    In [6]: with open(&quot;2.txt&quot;,&quot;r+b&quot;) as f:
    ...:     mm = mmap.mmap(f.fileno(),0,prot=mmap.PROT_READ)
    ...:     for line in iter(lambda: mm.readline(), b&#x27;&#x27;):
    ...:         print(line)
    ...:

# HTTP io

	from urllib import urlopen

readline:

	urlp = urlopen(url);
	while(line = urlp.readline()){

	}

readlines:

	for line in urlopen(url).readlines():
		print line.strip()

# std io

    for l in sys.stdin.readlines():
        sys.stdout.write(l[::-1])

## input
输入一行，不含换行

	str = input()
	str = input(&quot;Input some string:&quot;)
    # 不回显:
    getpass.getpass(&quot;Please input your Password: &quot;)

## stdin file
接收多行: 包含换行

    import fileinput
    for line in fileinput.input():
        sys.stdout.write(line)
        print(line) # on more new line

# StringIO和BytesIO

## File-like Object
像open()函数返回的这种有个read()方法的对象，在Python中统称为file-like Object。除了file外，还可以是内存的字节流，网络流，自定义流等等。file-like Object不要求从特定类继承，只要写个read()方法就行。

    if hasattr(obj, &#x27;read&#x27;):
        return read(obj)

- StringIO/BytesIO 就是在内存中创建的file-like Object，常用作临时缓冲。

## StringIO
StringIO顾名思义就是在内存中读写str。

要把str写入StringIO，我们需要先创建一个StringIO，然后，像文件一样写入即可：

	&gt;&gt;&gt; from io import StringIO
	&gt;&gt;&gt; f = StringIO()
	&gt;&gt;&gt; f.write(&#x27;hello&#x27;)
	5
	&gt;&gt;&gt; f.write(&#x27; &#x27;)
	1
	&gt;&gt;&gt; f.write(&#x27;world!&#x27;)
	6
	&gt;&gt;&gt; print(f.getvalue())
	hello world!

### init: as file object

	&gt;&gt;&gt; from PIL import Image
	&gt;&gt;&gt; from io import StringIO
	&gt;&gt;&gt; i = Image.open(StringIO(&#x27;Hello!\nHi!\nGoodbye!&#x27;)) # open(filename/file-object/Path)

再来一个csv+pg 例子：

    output = io.StringIO()
    df.to_csv(output, sep=&#x27;\t&#x27;, header=False, index=False)
    output.seek(0)

### read
受f.seek(0) 影响的

	f.read()
	f.readline()
	f.readlines()

io 特有的, 不会改变seek cursor：

    f.getvalue() 

## BytesIO
StringIO操作的只能是str，如果要操作二进制数据，就需要使用BytesIO。

	&gt;&gt;&gt; from io import BytesIO
	&gt;&gt;&gt; f = BytesIO()
	&gt;&gt;&gt; f.write(&#x27;中文&#x27;.encode(&#x27;utf-8&#x27;))
	6

	&gt;&gt;&gt; print(f.getvalue())
	b&#x27;\xe4\xb8\xad\xe6\x96\x87&#x27;

string 与 bytes 相互转换

	&gt;&gt;&gt; &#x27;123€20&#x27;.encode(&#x27;utf-8&#x27;)
	b&#x27;123\xe2\x82\xac20&#x27;
	&gt;&gt;&gt; b&#x27;\xe2\x82\xac20&#x27;.decode(&#x27;utf-8&#x27;)
	&#x27;€20&#x27;
	&gt;&gt;&gt; &#x27;123&#x27;.encode(&#x27;utf-8&#x27;)</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
