<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/py/py-framework-lpthw.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>py-framework-lpthw</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: py-framework-lpthw
date: 2018-09-28
updated: 2018-10-06
---
# Preface

# lpthw
&gt; http://learnpythonthehardway.org/book/ex50.html

## Install lpthw

	easy_install lpthw.web

	mcd projects/gothonweb
	mkdir bin gothonweb tests docs templates
	touch gothonweb/__init__.py
	touch tests/__init__.py

## Edit `bin/app.py`:

	import web

	urls = (
	  &#x27;/hello&#x27;, &#x27;Index&#x27;,
	  &#x27;/count&#x27;, &#x27;count&#x27;,
	  &#x27;/go&#x27;, &#x27;go&#x27;,
	)

	app = web.application(urls, globals())

	//render = web.template.render(&#x27;templates/&#x27;)
	render = web.template.render(&#x27;templates/&#x27;, base=&quot;layout&quot;)

	class Index(object):
		def GET(self):
			return render.hello_form()

		def POST(self):
			form = web.input(name=&quot;Nobody&quot;, greet=None)
			greeting = &quot;%s, %s&quot; % (form.greet, form.name)
			return render.index(greeting)

	class go(object):
		def GET(self):
			web.seeother(&#x27;/count&#x27;)

	if __name__ == &quot;__main__&quot;:
		app.run()

## edit `templates/index.html`

	$def with (greeting)
	$if greeting:
		I just wanted to say &lt;em style=&quot;color: green; font-size: 2em;&quot;&gt;$greeting&lt;/em&gt;.
	$else:
		&lt;em&gt;Hello&lt;/em&gt;, world!

templates/hello_form.html:

	&lt;h1&gt;Fill Out This Form&lt;/h1&gt;
	&lt;form action=&quot;/hello&quot; method=&quot;POST&quot;&gt;
		A Greeting: &lt;input type=&quot;text&quot; name=&quot;greet&quot;&gt;
		&lt;br/&gt;
		Your Name: &lt;input type=&quot;text&quot; name=&quot;name&quot;&gt;
		&lt;br/&gt;
		&lt;input type=&quot;submit&quot;&gt;
	&lt;/form&gt;

templates/layout.html

	$def with (content)
	&lt;html&gt;
	&lt;head&gt;
		&lt;title&gt;Gothons From Planet Percal #25&lt;/title&gt;
	&lt;/head&gt;
	&lt;body&gt;
		$:content
	&lt;/body&gt;
	&lt;/html&gt;

## run

	python bin/app.py
	http://127.0.0.1:8080/hello?name=hilojack

## nose
&gt; An example in `http://learnpythonthehardway.org/book/ex47.html`

Unit Test Tool, Write a test in `./tests/&lt;name&gt;_tests.py`, and touch `touch ./tests/__init__.py`


	from nose.tools import *
	from ex47.game import Room

	def test_&lt;item1&gt;():
		assert_equal(obj.name, &quot;GoldRoom&quot;)
		assert reg.matches(resp.data), &quot;Response does not match %r&quot; % matches

Then run `nosetests`

&gt; for more: `pydoc nose.tools`

## test
tests/tools.py

	from nose.tools import *
	import re

	def assert_response(resp, contains=None, matches=None, headers=None, status=&quot;200&quot;):

		assert status in resp.status, &quot;Expected response %r not in %r&quot; % (status, resp.status)

		if status == &quot;200&quot;:
			assert resp.data, &quot;Response data is empty.&quot;

		if contains:
			assert contains in resp.data, &quot;Response does not contain %r&quot; % contains

		if matches:
			reg = re.compile(matches)
			assert reg.matches(resp.data), &quot;Response does not match %r&quot; % matches

		if headers:
			assert_equal(resp.headers, headers)

tests/app_tests.py:

	from nose.tools import *
	from bin.app import app
	from tests.tools import assert_response

	def test_index():
		# check that we get a 404 on the / URL
		resp = app.request(&quot;/&quot;)
		assert_response(resp, status=&quot;404&quot;)

		# test our first GET request to /hello
		resp = app.request(&quot;/hello&quot;)
		assert_response(resp)

		# make sure default values work for the form
		resp = app.request(&quot;/hello&quot;, method=&quot;POST&quot;)
		assert_response(resp, contains=&quot;Nobody&quot;)

		# test that we get expected values
		data = {&#x27;name&#x27;: &#x27;Zed&#x27;, &#x27;greet&#x27;: &#x27;Hola&#x27;}
		resp = app.request(&quot;/hello&quot;, method=&quot;POST&quot;, data=data)
		assert_response(resp, contains=&quot;Zed&quot;)

The lpthw.web framework has a very simple API for processing requests, which looks like this:
(This works without running an actual web server )

	app.request(localpart=&#x27;/&#x27;, method=&#x27;GET&#x27;, data=None, host=&#x27;0.0.0.0:8080&#x27;,
            headers=None, https=False)

## session
`bin/session.py` and create `/sessions/` Directory to store sessions

	import web

	web.config.debug = False

	urls = (
		&quot;/count&quot;, &quot;count&quot;,
		&quot;/reset&quot;, &quot;reset&quot;
	)
	app = web.application(urls, locals())
	store = web.session.DiskStore(&#x27;sessions&#x27;)
	session = web.session.Session(app, store, initializer={&#x27;count&#x27;: 0})

	class count:
		def GET(self):
			session.count += 1
			return str(session.count)

	class reset:
		def GET(self):
			session.kill()
			return &quot;&quot;

	if __name__ == &quot;__main__&quot;:
		app.run()

session bug for builtin-server, 2 sessions be created:
http://webpy.org/cookbook/session_with_reloader</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
