<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/py/py-http.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>py-http</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: py-http
date: 2018-09-28
updated: 2019-03-05
---
# Preface

# urllib
urllib2 is deprecated, use requests instead , except: `urllib.parse.urlsplit/urlparse`

## urllib.request.urlopen() file-like
.status .reason getheaders() read()
```python
from urllib import request
with request.urlopen(&#x27;https://api.douban.com/v2/book/2129650&#x27;) as f:
    data = f.read()
    print(&#x27;Status:&#x27;, f.status, f.reason) # 200 OK
    for k, v in f.getheaders():
        print(&#x27;%s: %s&#x27; % (k, v))
    print(&#x27;Data:&#x27;, data.decode(&#x27;utf-8&#x27;))
```

## .parse.urlparse
	urllib.parse.urlsplit(url)
	urllib.parse.urlparse(url)
		.scheme
		.path
		.query
		.netloc not .host

### .parse.parse_qsl

	import urllib.parse
	urllib.parse.parse_qs(&#x27;a=1&amp;b=2&amp;b=3&#x27;);
		{&#x27;a&#x27;: [&#x27;1&#x27;], &#x27;b&#x27;: [&#x27;2&#x27;,&#x27;3&#x27;]}
	urllib.parse.parse_qsl(&#x27;a=1&amp;b=2&amp;b=3&#x27;)
		[(&#x27;a&#x27;, &#x27;1&#x27;), (&#x27;b&#x27;, &#x27;2&#x27;), (&#x27;b&#x27;, &#x27;3&#x27;)]

dict + parse_qsl:

	dict(urllib.parse.parse_qsl(&#x27;a=1&amp;b=2&amp;b=3&#x27;))
        {&#x27;a&#x27;: &#x27;1&#x27;, &#x27;b&#x27;: &#x27;3&#x27;}

## .parse.urlencode

	urllib.parse.urlencode({&#x27;a&#x27;:1})
	&#x27;a=1&#x27;
	urllib.parse.urlencode({&#x27;a&#x27;:[1,2]}, doseq=True)
	&#x27;a=1&amp;a=2&#x27;

### .parse.quote unquote
	urllib.parse.quote(&#x27;中国人&#x27;)
	urllib.parse.unquote(&#x27;1%2C3

# SimpleCookie

    from Cookie import SimpleCookie
    &gt;&gt;&gt; sc = SimpleCookie(&#x27;key1=val1; key2=val2; key3=val3&#x27;)
    &gt;&gt;&gt; for c,v in sc.items():
    ...     print c,v
    ...
    key3 Set-Cookie: key3=val3
    key2 Set-Cookie: key2=val2
    key1 Set-Cookie: key1=val1
    &gt;&gt;&gt; sc[&#x27;key1&#x27;].key
    &gt;&gt;&gt; sc[&#x27;key1&#x27;].value

# Request
http://docs.python-requests.org/en/latest/index.html

## Non Block
If you are concerned about the use of blocking IO, there are lots of projects out there that combine Requests with one of Python’s asynchronicity frameworks. Two excellent examples are grequests and requests-futures.

## install

	easy_install requests //2.7
	pip3 install requests
	import requests

## request

	&gt;&gt;&gt; r = requests.request(&#x27;GET&#x27;, &#x27;https://127.0.0.1:8000/a.php&#x27;)
	&gt;&gt;&gt; r = requests.get(&#x27;https://127.0.0.1:8000/a.php&#x27;)
	&gt;&gt;&gt; r = requests.post(&quot;http://httpbin.org/post&quot;, data = {&quot;key&quot;:&quot;value&quot;})
	&gt;&gt;&gt; r = requests.post(&quot;http://httpbin.org/post&quot;, data = ((&quot;key&quot;,&quot;value&quot;,),))
	&gt;&gt;&gt; r = requests.put(&quot;http://httpbin.org/put&quot;, data = {&quot;key&quot;:&quot;value&quot;})
	&gt;&gt;&gt; r = requests.delete(&quot;http://httpbin.org/delete&quot;)
	&gt;&gt;&gt; r = requests.head(&quot;http://httpbin.org/get&quot;)
	&gt;&gt;&gt; r = requests.options(&quot;http://httpbin.org/get&quot;)

### params in url
Passing Parameters In URLs

	&gt;&gt;&gt; r = requests.get(&quot;http://httpbin.org/get&quot;, params={&#x27;key&#x27;:&#x27;val&#x27;})
	&gt;&gt;&gt; print(r.url)
		http://httpbin.org/get?key=val

	&gt;&gt;&gt; r = requests.get(&quot;http://httpbin.org/get&quot;, params=&quot;key=val&amp;key2=val2&quot;})

### post data(form-data type)
data 转为input(raw)会自动encode 

	&gt;&gt;&gt; print(s.post(&#x27;http://hilo.sinaapp.com/header.php&#x27;, data={&#x27;a&#x27;:1, &#x27;b&#x27;:2}).text)
	&gt;&gt;&gt; print(s.post(&#x27;http://hilo.sinaapp.com/header.php&#x27;, data=&#x27;a=1&amp;b=2&#x27;).text)
	 [&quot;input&quot;]=&gt; string(7) &quot;a=1&amp;b=2&quot;
	 &#x27;post&#x27;=&gt;{a:1,b:2}

### post data(unknown type)
data 转为input(raw)会自动encode 

	&gt;&gt;&gt; print(s.post(&#x27;http://localhost:7777/header.php&#x27;,headers={&#x27;Content-Type&#x27;:&#x27;x&#x27;} data=&#x27;a=1&amp;b=2&#x27;).text)
	&gt;&gt;&gt; print(s.post(&#x27;http://localhost:7777/header.php&#x27;,headers={&#x27;Content-Type&#x27;:&#x27;x&#x27;} data={&#x27;a&#x27;:1,&#x27;b&#x27;:2}).text)
	只有php://input =&gt; string(7) &quot;a=1&amp;b=2&quot;

### post json(json type)
只是RAW: [&quot;Content-Type&quot;]=&gt; string(16) &quot;application/json
json 转为input 时, 会自动json.dumps

	&gt;&gt;&gt; r.post(&#x27;http://0:8000/header.php&#x27;, json={&#x27;ahui5&#x27;:1}).text
	[&quot;input&quot;]=&gt; &quot;{&quot;ahui5&quot;: 1}&quot;
	&gt;&gt;&gt; r.post(&#x27;http://0:8000/header.php&#x27;, json=&#x27;ahui6=6&#x27;).text
	[&quot;input&quot;]=&gt; &quot;&quot;ahui6=6&quot;&quot;

### post a Multipart-Encoded File

	&gt;&gt;&gt; files = {&#x27;file&#x27;: open(&#x27;report.xls&#x27;, &#x27;rb&#x27;)}
	&gt;&gt;&gt; r = requests.post(url, files=files)

You can set the filename, content_type and headers explicitly:

	&gt;&gt;&gt; files = {&#x27;file&#x27;: (&#x27;report.xls&#x27;, open(&#x27;report.xls&#x27;, &#x27;rb&#x27;), &#x27;application/vnd.ms-excel&#x27;, {&#x27;Expires&#x27;: &#x27;0&#x27;})}
	&gt;&gt;&gt; r = requests.post(url, files=files)

If you want, you can send strings to be received as files:

	&gt;&gt;&gt; files = {&#x27;file&#x27;: (&#x27;report.csv&#x27;, &#x27;some,data,to,send\nanother,row,to,send\n&#x27;)}
	&gt;&gt;&gt; r = requests.post(url, files=files)

### post data

	data=urllib.parse.parse_qs(&#x27;a=1&amp;b=1&#x27;)
	&gt;&gt;&gt; r = requests.post(&quot;http://httpbin.org/post&quot;, data = data)

## proxy
代理

    proxies = {
      &quot;http&quot;: &quot;http://10.10.1.10:3128&quot;,
      &quot;https&quot;: &quot;http://10.10.1.10:1080&quot;,
    }

    requests.get(&quot;http://example.org&quot;, proxies=proxies)

你也可以通过环境变量 HTTP_PROXY 和 HTTPS_PROXY 来配置代理。

    $ export HTTP_PROXY=&quot;http://10.10.1.10:3128&quot;
    $ export HTTPS_PROXY=&quot;http://10.10.1.10:1080&quot;

若你的代理需要使用HTTP Basic Auth，可以使用 http://user:password@host/ 语法：

    proxies = {
        &quot;http&quot;: &quot;http://user:pass@10.10.1.10:3128/&quot;,
    }

要为某个特定的连接方式或者主机设置代理，使用 scheme://hostname 作为 key， 它会针对指定的主机和连接方式进行匹配。

    proxies = {&#x27;http://10.20.1.128&#x27;: &#x27;http://10.10.1.10:5323&#x27;}
    # 访问10.20.1.128时使用代理10.10.1.10:5323

### SOCKS
除了基本的 HTTP 代理，Request 还支持 SOCKS 协议的代理。这是一个可选功能，若要使用， 你需要安装第三方库。

    $ pip install requests[socks]

安装好依赖以后，使用 SOCKS 代理和使用 HTTP 代理一样简单：

    proxies = {
        &#x27;http&#x27;: &#x27;socks5://user:pass@host:port&#x27;,
        &#x27;https&#x27;: &#x27;socks5://user:pass@host:port&#x27;
    }

## Custom Headers
For example, we didn’t specify our user-agent in the previous example:

	&gt;&gt;&gt; url = &#x27;https://api.github.com/some/endpoint&#x27;
	&gt;&gt;&gt; headers = {&#x27;user-agent&#x27;: &#x27;my-app/0.0.1&#x27;}

	&gt;&gt;&gt; r = requests.get(url, headers=headers)


## Response Content

### response text

	&gt;&gt;&gt; r.text
	u&#x27;[{&quot;repository&quot;:{&quot;open_issues&quot;:0,&quot;url&quot;:&quot;https://github.com/...
	&gt;&gt;&gt; r.encoding
	&#x27;utf-8&#x27;
	&gt;&gt;&gt; r.encoding = &#x27;ISO-8859-1&#x27;

### response binary content(&quot;bytes&quot;)

	&gt;&gt;&gt; r.content
	b&#x27;[{&quot;repository&quot;:{&quot;open_issues&quot;:0,&quot;url&quot;:&quot;https://github.com/...

	 //to create an image from binary data returned by a request, you can use the following code:
	&gt;&gt;&gt; from PIL import Image
	&gt;&gt;&gt; from StringIO import StringIO
	&gt;&gt;&gt; i = Image.open(StringIO(r.content))

### Response json

	r.json()[&#x27;key&#x27;]

### Raw Response Content
In the rare case that you’d like to get the raw socket response from the server, you can access r.raw. If you want to do this, make sure you set stream=True in your initial request. Once you do, you can do this:

	&gt;&gt;&gt; r = requests.get(&#x27;https://api.github.com/events&#x27;, stream=True)
	&gt;&gt;&gt; r.raw
	&lt;requests.packages.urllib3.response.HTTPResponse object at 0x101194810&gt;
	&gt;&gt;&gt; r.raw.read(10)
	&#x27;\x1f\x8b\x08\x00\x00\x00\x00\x00\x00\x03&#x27;

In general, however, you should use a pattern like this to save what is being streamed to a file:

    r = requests.get(...)
	with open(filename, &#x27;wb&#x27;) as fd:
		for chunk in r.iter_content(chunk_size): # bytes
			fd.write(chunk)

### response status_code

	&gt;&gt;&gt; r.status_code
	200

	&gt;&gt;&gt; r.status_code == requests.codes.ok
	True

### Response Headers
We can view the server’s response headers using a Python dictionary:

	&gt;&gt;&gt; r.headers
	{
		&#x27;content-encoding&#x27;: &#x27;gzip&#x27;,
		&#x27;transfer-encoding&#x27;: &#x27;chunked&#x27;,
		&#x27;connection&#x27;: &#x27;close&#x27;,
		&#x27;content-type&#x27;: &#x27;application/json&#x27;
	}

The dictionary is special, though: it’s made just for HTTP headers. According to RFC 7230, HTTP Header names are *case-insensitive*.

	&gt;&gt;&gt; r.headers[&#x27;Content-Type&#x27;]
	&#x27;application/json&#x27;

	&gt;&gt;&gt; r.headers.get(&#x27;content-type&#x27;)
	&#x27;application/json&#x27;

### Redirection and History
By default Requests will perform location redirection for all verbs except HEAD.

The Response.history list contains the Response objects that were created in order to complete the request. The list is sorted from the oldest to the most recent response.

	&gt;&gt;&gt; r = requests.get(&#x27;http://github.com&#x27;)
	&gt;&gt;&gt; r.url
	&#x27;https://github.com/&#x27;
	&gt;&gt;&gt; r.status_code
	200
	&gt;&gt;&gt; r.history
	[&lt;Response [301]&gt;]

If you’re using GET, OPTIONS, POST, PUT, PATCH or DELETE, you can disable redirection handling with the allow_redirects parameter:

	&gt;&gt;&gt; r = requests.get(&#x27;http://github.com&#x27;, allow_redirects=False)
	&gt;&gt;&gt; r.status_code
	301
	&gt;&gt;&gt; r.history
	[]

If you’re using HEAD, you can enable redirection as well:

	&gt;&gt;&gt; r = requests.head(&#x27;http://github.com&#x27;, allow_redirects=True)

## Timeouts
You can tell Requests to stop waiting for a response after a given number of seconds with the timeout parameter:

	&gt;&gt;&gt; requests.get(&#x27;http://github.com&#x27;, timeout=0.001)
	Traceback (most recent call last):
	  File &quot;&lt;stdin&gt;&quot;, line 1, in &lt;module&gt;
	requests.exceptions.Timeout: HTTPConnectionPool(host=&#x27;github.com&#x27;, port=80): Request timed out. (timeout=0.001)

### Cookie
If a response contains some Cookies(instance of RequestsCookieJar), you can quickly access them:

	&gt;&gt;&gt; r.cookies[&#x27;example_cookie_name&#x27;]
	&#x27;example_cookie_value&#x27;

To send your own cookies to the server, you can use the cookies parameter:

	&gt;&gt;&gt; r = requests.get(url, cookies={&#x27;key&#x27;:&#x27;value&#x27;})
	&gt;&gt;&gt; r = requests.get(url, cookies=&#x27;key=value&#x27;) # wrong!!!!

	&gt;&gt;&gt; r1 = requests.post(&#x27;http://www.yourapp.com/login&#x27;)
    pickle.dumps(r1.cookies)
	&gt;&gt;&gt; r2 = requests.post(&#x27;http://www.yourapp.com/somepage&#x27;,cookies=r1.cookies)

#### requests.cookies.RequestsCookieJar() usage:
RequestsCookieJar

	&gt;&gt;&gt; cookies.get(key)
	&gt;&gt;&gt; cookies.get_dict() or items() list
	&gt;&gt;&gt; cookies.__getstate__() # for pickle
    &gt;&gt;&gt; help(cookies)
        .item()
        .iteritem()
        .set(self, name, value, **kwargs)
           Dict-like set() that also supports optional domain and path args in..

    for cookie in cookies:
        print(cookie.domain, cookie.path, cookie.expires)

#### cookie, http.cookiejar.Cookie

    cookies.set(&#x27;key&#x27;, 123)
    cookie = http.cookiejar.Cookie( version=0, name=&#x27;a&#x27;, value=&#x27;b1&#x27;, port=None, port_specified=False, domain=&#x27;&#x27;, domain_specified=False, domain_initial_dot=False, path=&#x27;/&#x27;, path_specified=True, secure=False, expires=1507376934, discard=True, comment=None, comment_url=None, rest={&#x27;HttpOnly&#x27;: None}, rfc2109=False)

    cookies.set_cookie(cookie)

## Session
&gt; both session and cookie is pickle

Use a session object instead, it&#x27;ll persist cookies and send them back to the server:

	with requests.Session() as s:
		r = s.get(URL1)
		r = s.post(URL2, params=&quot;username and password data payload&quot;)

取设headers,cookies:

	s = requests.Session()
	s.auth = (&#x27;user&#x27;, &#x27;pass&#x27;)
	// send both &#x27;x-test&#x27; and &#x27;x-test2&#x27; 
	s.headers.update({&#x27;x-test&#x27;: &#x27;true&#x27;})
	s.get(&#x27;http://httpbin.org/headers&#x27;, headers={&#x27;x-test2&#x27;: &#x27;true&#x27;})

	s.cookies.set(&#x27;a&#x27;,1)

如果你要手动为会话添加 cookie，就是用 [Cookie utility] 函数 来操纵 Session.cookies。
[Cookie utility]: http://docs.python-requests.org/zh_CN/latest/api.html#api-cookies

## Session Cookie
python 2/3:

	from six.moves import http_cookiejar as cookielib

	session.cookies = cookielib.LWPCookieJar(COOKIE_FILE)
	session.cookies.load(ignore_discard=True, ignore_expires=True)

	session.get(url)...
	session.cookies.save(COOKIE_FILE, ignore_discard=True, ignore_expires=True)

iterate

    for cookie in session.cookies:
        print(cookie.name, cookie.value, cookie.domain)

other: save cookie

    import requests, requests.utils, pickle
    session = requests.session()
    # Make some calls
    with open(&#x27;somefile&#x27;, &#x27;w&#x27;) as f:
        pickle.dump(requests.utils.dict_from_cookiejar(session.cookies), f)

Loading is then :

    with open(&#x27;somefile&#x27;) as f:
        cookies = requests.utils.cookiejar_from_dict(pickle.load(f))
        session = requests.session(cookies=cookies)</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
