<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/py/py-process.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>py-process</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: py-process
date: 2018-10-04
updated: 2021-03-16
---
# Preface
## shell
- sh: sh之于subprocess， 相当于requests 对于urllib2
	1. sh.ls(&quot;-l&quot;, &quot;/tmp&quot;, color=&quot;never&quot;)
	2. sh.ifconfig(&quot;en0&quot;)
	3. sh.fileset()

# fork
Cover these functions:
- os.fork()
- os.getpid()

Example

	import os

	print(&#x27;Process (%s) start...&#x27; % os.getpid())
	# Only works on Unix/Linux/Mac:
	pid = os.fork()
	if pid == 0:
		print(&#x27;I am child process (%s) and my parent is %s.&#x27; % (os.getpid(), os.getppid()))
	else:
		print(&#x27;I (%s) just created a child process (%s).&#x27; % (os.getpid(), pid))

## fork api:
    from multiprocessing import Process

    p = Process(target=run_proc, args=(&#x27;test&#x27;,))
        p.start() .join() .terminate()
        p.exitcode = 0
    multiprocessing.Pool(4).apply_async(func_task, args).get() # 直接调用get()会阻塞，不需要pool.join()
        pool = Pool(4)
        pool.close() pool.join()

thread 类似

    t = threading.Thread(target=loop, name=&#x27;LoopThread&#x27;)
        t.start() t.join()

    async_result = multiprocessing.pool.ThreadPool(processes=1).apply_async(foo, (&#x27;world&#x27;, &#x27;foo&#x27;)) # tuple of args for foo
        print(async_result.get()) # 阻塞
        pool.close() .join() # 等待所有线程结束

# multiprocessing.Process(func)跨平台
fork 与子程序func 是分离的, 父进程同步子进程比较麻烦
multiprocessing.Process(func) 则可以直接传func:

1. child = multiprocessing.Process(target=func, args=())
2. child.start()
2. child.join() 等待子进程结束后再继续往下运行，通常用于进程间的同步
4. child.terminate() 或者直接结束
4. child.exitcode 正常是0

example

	from multiprocessing import Process
	import os

	# 子进程要执行的代码
	def run_proc(name):
		print(&#x27;Run child process %s (%s)...&#x27; % (name, os.getpid()))

	if __name__==&#x27;__main__&#x27;:
		print(&#x27;Parent process %s.&#x27; % os.getpid())
		p = Process(target=run_proc, args=(&#x27;test&#x27;,))
		print(&#x27;Child process will start.&#x27;)
		p.start()
		p.join()
		print(&#x27;Child process end.&#x27;)

结果

	Parent process 928.
	Process will start.
	Run child process test (929)...
	Process end.

## kill

    p = Process(target=run_proc, args=(&#x27;test&#x27;,))
    p.start()
    if hasattr(p, &#x27;kill&#x27;):
        p.kill()
    else:
        os.kill(p.pid, signal.SIGTERM)


## daemon
daemon vs nodaemon:(process 默认是noDaemon(children process), pool 默认是daemon)
1. When a daemon process exits, it attempts to terminate all of its daemonic child processes.
    2. You could call `os._exit` to let children process live, `quit()`也会live (是sleep状态)
1. When a nodaemon process exits, children process live

默认是非daemon 的

    import time
    import multiprocessing
    def f():
        time.sleep(1)
        print(&#x27;sleep end&#x27;)
    p = multiprocessing.Process(target=f)
    p.daemon=True
    p.start()
    print(&#x27;Daemon will not wait children, in case of p.join()...&#x27;)

daemonic processes are not allowed to have children!

    import time
    import multiprocessing
    def f():
        p = multiprocessing.Process(target=lambda:1)
        p.start()
        time.sleep(1)
    p = multiprocessing.Process(target=f)
    # daemon (no wait)
    p.daemon=True
    p.start()
    print(&#x27;start join...&#x27;)
    p.join()

# Pool

## close sleep child
daemonPool/noDaemonPool 都可以通过pool.close清理sleeping children

    from multiprocessing import Pool
    import time

    def work(x):
        print(&#x27;quit1&#x27;)

    def main():
        p = Pool(4)
        p.map(work, [1,2,3,4,5,6])
        #p.close(); #p.join()
        print(&#x27;main: sleep 20 seconds&#x27;)
        time.sleep(20)

    main()

##  NoDaemon
pool 默认是Deamon 而不是Process默认的 noDaemon

    import multiprocessing
    import multiprocessing.pool
    class NoDaemonProcess(multiprocessing.Process):
        def _get_daemon(self):
            return False
        def _set_daemon(self, value):
            pass
        daemon = property(_get_daemon, _set_daemon)

    # We sub-class multiprocessing.pool.Pool instead of multiprocessing.Pool
    # because the latter is only a wrapper function, not a proper class.
    class MyPool(multiprocessing.pool.Pool):
        Process = NoDaemonProcess
    
    p = MyPool(4)
    for i in range(4):
        p.apply_async(lambda:1) 

    p.close()
    p.join()

## Pool().apply_async()
如果要启动大量的子进程，可以用进程池的方式批量创建子进程：
1. multiprocessing.Pool(4) 比fork 简单
2. multiprocessing.pool.ThreadPool(2) 也是

e.g.
1. p = multiprocessing.Pool(4)
2. for i in range(5): res = p.apply_async(func, args=(i,))
2. p.join() 等待子进程结束后再继续往下运行，通常用于进程间的同步
3. 或者用res.get() 阻塞获取返回值

e.g.

    from multiprocessing import Pool
    import os, time, random

    def long_time_task(name):
        print(&#x27;Run task %s (%s)...&#x27; % (name, os.getpid()))
        start = time.time()
        time.sleep(random.random() * 3)
        end = time.time()
        print(&#x27;Task %s runs %0.2f seconds.&#x27; % (name, (end - start)))

    if __name__==&#x27;__main__&#x27;:
        print(&#x27;Parent process %s.&#x27; % os.getpid())
        p = Pool(4)
        for i in range(5):
            p.apply_async(long_time_task, args=(i,)) # 加5个任务
        time.sleep(3)
        print(&#x27;Waiting for all subprocesses done...&#x27;)
        p.close() # Tells the pool not to accept any new job. Once all the tasks have been completed the worker processes will exit
        p.join() # Wait for the worker processes to exit. One must call close() before using join().
        print(&#x27;All subprocesses done.&#x27;)

Note: 可以使用r.get() 获得返回(阻塞)

    from multiprocessing import Pool
    import os, time, random

    def long_time_task(name):
        time.sleep(3)
        return &#x27;%s&#x27; %name

    p = Pool(4)
    rr = []
    for i in range(5):
        r = p.apply_async(long_time_task, args=(i,)) # 加5个任务
        rr.append(r)
    for r in rr: print(r.get())

执行结果如下：

    Parent process 78869.
    Run task 0 (78870)...
    Run task 1 (78871)...
    Run task 2 (78872)...
    Run task 3 (78873)...
    Task 2 runs 0.47 seconds.
    Run task 4 (78872)...
    Task 4 runs 0.19 seconds.
    Task 3 runs 1.74 seconds.
    Task 1 runs 2.24 seconds.
    Task 0 runs 2.99 seconds.
    Waiting for all subprocesses done...
    All subprocesses done.

请注意输出的结果，task 0，1，2，3是立刻执行的，而task 4要等待前面某个task完成后才执行，这是因为Pool的默认大小在我的电脑上是4，因此，最多同时执行4个进程。这是Pool有意设计的限制，并不是操作系统的限制。如果改成：

	p = Pool(5)
	# 就可以同时跑5个进程。

由于Pool的默认大小是CPU的核数，如果你不幸拥有8核CPU，你要提交至少9个子进程才能看到上面的等待效果。

## map(阻塞)
1. map 阻塞, apply_async 不阻塞
2. map 不支持lambda
3. map 直接返回所有的结果

example

    import multiprocessing
    import math
    multiprocessing.Pool(processes=4).map(math.exp,range(1,11)) #type list
    multiprocessing.Pool(4).map(math.exp,range(1,11), chunksize=2) 一组chunksize 传入一个进程
    [2.718281828459045, 7.38905609893065, 20.085536923187668, ...]

    results = Pool(4).map(math.exp, range(10))

### chunksize

   chunksize=1
     The portion of the input data to hand to each worker.  This
     can be used to tune performance during the mapping phase.
   &quot;&quot;&quot;
   multiprocessing.Pool(4).map(map_func, iterable_inputs, chunksize=chunksize)

# 进程间通信
Process之间肯定是需要通信的，操作系统提供了很多机制来实现进程间的通信。Python的multiprocessing模块包装了底层的机制，提供了Queue、Pipes等多种方式来交换数据。

## queue
其实管道也是一种queue, queue 是线程安全的

	from multiprocessing import Process, Queue
	q = Queue()
	q.put(value)
	q.get(True)	 # io阻塞
	q.get(False) # io非阻塞
	time.sleep(random.random())

### queue example 0
    ```
    from multiprocessing import Process, Queue
    def multiply(a,b,que): que.put(a*b)

    queue1 = Queue() #create a queue object
    p = Process(target= multiply, args= (5,4,queue1)) #we&#x27;re setting 3rd argument to queue1
    p.start()
    print(queue1.get()) #and we&#x27;re getting return value: 20
    p.join()
    print(&quot;ok.&quot;)
    ```
### queue example
我们以Queue为例，在父进程中创建两个子进程，一个往Queue里写数据，一个从Queue里读数据：

	from multiprocessing import Process, Queue
	import os, time, random

	# 写数据进程执行的代码:
	def write(q):
	    print(&#x27;Process to write: %s&#x27; % os.getpid())
	    for value in [&#x27;A&#x27;, &#x27;B&#x27;, &#x27;C&#x27;]:
	        print(&#x27;Put %s to queue...&#x27; % value)
	        q.put(value)
	        time.sleep(random.random())

	# 读数据进程执行的代码:
	def read(q):
	    print(&#x27;Process to read: %s&#x27; % os.getpid())
	    while True:
	        value = q.get(True)
	        print(&#x27;Get %s from queue.&#x27; % value)

	if __name__==&#x27;__main__&#x27;:
	    # 父进程创建Queue，并传给各个子进程：
	    q = Queue()
	    pw = Process(target=write, args=(q,))
	    pr = Process(target=read, args=(q,))
	    # 启动子进程pw，写入:
	    pw.start()
	    # 启动子进程pr，读取:
	    pr.start()
	    # 等待pw结束:
	    pw.join()
	    # pr进程里是死循环，无法等待其结束，只能强行终止:
	    pr.terminate()

运行结果如下：

	Process to write: 50563
	Put A to queue...
	Process to read: 50564
	Get A from queue.
	Put B to queue...
	Get B from queue.
	Put C to queue...
	Get C from queue.

在Unix/Linux下，multiprocessing模块封装了fork()调用，使我们不需要关注fork()的细节。由于Windows没有fork调用，因此，multiprocessing需要“模拟”出fork的效果，父进程所有Python对象都必须通过pickle序列化再传到子进程去，所有，如果multiprocessing在Windows下调用失败了，要先考虑是不是pickle失败了。

# distribute process, 分布式进程
Process可以分布到多台机器上，而Thread最多只能分布到同一台机器的多个CPU上。

Python的`multiprocessing模块`不但支持多进程，其中`managers子模块`还支持把多进程分布到多台机器上。 由于managers模块封装很好，不必了解网络通信的细节

	from multiprocessing.managers import BaseManager

举个例子：
我们先看服务进程，服务进程负责启动Queue，把Queue注册到网络上，然后往Queue里面写入任务：

	# task_master.py

	import random, time, queue
	from multiprocessing.managers import BaseManager

	# 发送任务的队列:
	task_queue = queue.Queue()
	# 接收结果的队列:
	result_queue = queue.Queue()

	# 从BaseManager继承的QueueManager:
	class QueueManager(BaseManager):
	    pass

	# 把两个Queue都注册到网络上, callable参数关联了Queue对象:
	QueueManager.register(&#x27;get_task_queue&#x27;, callable=lambda: task_queue)
	QueueManager.register(&#x27;get_result_queue&#x27;, callable=lambda: result_queue)
	# 绑定端口5000, 设置验证码&#x27;abc&#x27;:
	manager = QueueManager(address=(&#x27;&#x27;, 5000), authkey=b&#x27;abc&#x27;)
	# 启动Queue:
	manager.start()
	# 获得通过网络访问的Queue对象:
	task = manager.get_task_queue()
	result = manager.get_result_queue()
	# 放几个任务进去:
	for i in range(10):
	    n = random.randint(0, 10000)
	    print(&#x27;Put task %d...&#x27; % n)
	    task.put(n)
	# 从result队列读取结果:
	print(&#x27;Try get results...&#x27;)
	for i in range(10):
	    r = result.get(timeout=10)
	    print(&#x27;Result: %s&#x27; % r)
	# 关闭:
	manager.shutdown()
	print(&#x27;master exit.&#x27;)

请注意，当我们在一台机器上写多进程程序时，创建的Queue可以直接拿来用，但是，在分布式多进程环境下，添加任务到Queue不可以直接对原始的task_queue进行操作，那样就绕过了QueueManager的封装，必须通过manager.get_task_queue()获得的Queue接口添加。

然后，在另一台机器上启动任务进程（本机上启动也可以）：

	# task_worker.py

	import time, sys, queue
	from multiprocessing.managers import BaseManager

	# 创建类似的QueueManager:
	class QueueManager(BaseManager):
	    pass

	# 由于这个QueueManager只从网络上获取Queue，所以注册时只提供名字:
	QueueManager.register(&#x27;get_task_queue&#x27;)
	QueueManager.register(&#x27;get_result_queue&#x27;)

	# 连接到服务器，也就是运行task_master.py的机器:
	server_addr = &#x27;127.0.0.1&#x27;
	print(&#x27;Connect to server %s...&#x27; % server_addr)
	# 端口和验证码注意保持与task_master.py设置的完全一致:
	m = QueueManager(address=(server_addr, 5000), authkey=b&#x27;abc&#x27;)
	# 从网络连接:
	m.connect()
	# 获取Queue的对象:
	task = m.get_task_queue()
	result = m.get_result_queue()
	# 从task队列取任务,并把结果写入result队列:
	for i in range(10):
	    try:
	        n = task.get(timeout=1)
	        print(&#x27;run task %d * %d...&#x27; % (n, n))
	        r = &#x27;%d * %d = %d&#x27; % (n, n, n*n)
	        time.sleep(1)
	        result.put(r)
	    except Queue.Empty:
	        print(&#x27;task queue is empty.&#x27;)
	# 处理结束:
	print(&#x27;worker exit.&#x27;)

任务进程要通过网络连接到服务进程，所以要指定服务进程的IP。

现在，可以试试分布式进程的工作效果了。先启动task_master.py服务进程：

	$ python3 task_master.py
	Put task 3411...
	Put task 1605...
	Put task 1398...
	Put task 4729...
	Put task 5300...
	Put task 7471...
	Put task 68...
	Put task 4219...
	Put task 339...
	Put task 7866...
	Try get results...

task_master.py进程发送完任务后，开始等待result队列的结果。现在启动task_worker.py进程：

	$ python3 task_worker.py
	Connect to server 127.0.0.1...
	run task 3411 * 3411...
	run task 1605 * 1605...
	run task 1398 * 1398...
	run task 4729 * 4729...
	run task 5300 * 5300...
	run task 7471 * 7471...
	run task 68 * 68...
	run task 4219 * 4219...
	run task 339 * 339...
	run task 7866 * 7866...
	worker exit.

task_worker.py进程结束，在task_master.py进程中会继续打印出结果：

	Result: 3411 * 3411 = 11634921
	Result: 1605 * 1605 = 2576025
	Result: 1398 * 1398 = 1954404
	Result: 4729 * 4729 = 22363441
	Result: 5300 * 5300 = 28090000
	Result: 7471 * 7471 = 55815841
	Result: 68 * 68 = 4624
	Result: 4219 * 4219 = 17799961
	Result: 339 * 339 = 114921
	Result: 7866 * 7866 = 61873956

这个简单的Master/Worker模型有什么用？其实这就是一个简单但真正的分布式计算，把代码稍加改造，启动多个worker，就可以把任务分布到几台甚至几十台机器上，比如把计算n*n的代码换成发送邮件，就实现了邮件队列的异步发送。

Queue对象存储在哪？注意到task_worker.py中根本没有创建Queue的代码，所以，Queue对象存储在task_master.py进程中</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
