<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/py/py-time.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>python 时间函数的用法笔记</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: python 时间函数的用法笔记
date: 2018-04-02
updated: 2019-10-01
---
# time 工具
time 提供基本的时间，sleep

	import time
	time.time()
		19972314124.05238
        time.localetime(time.time())
	time.ctime()
        &#x27;Tue Sep 20 15:19:28 2016&#x27;

## sleep

	import time
	time.sleep(1)#1s
	time.sleep(random.random())

## timeit

### with Timer context

    import time
    class Timer:
        def __init__(self, print_at_exit=True):
            self.print_at_exit = print_at_exit

        def __enter__(self):
            self.start_time = time.time()
            return self

        def __exit__(self, exc_type, exc_val, exc_tb):
            self.duration = time.time() - self.start_time
            if self.print_at_exit:
                print(self.duration)

    with Timer() as t:
        print(11)
    print(&quot;=&gt; elasped lpush: %s s&quot; % t.duration)

### for test

    from timeit import Timer
    def test1(): 
        return list(range(1e4))

    t1 = Timer(&quot;test1()&quot;, &quot;from __main__ import test1&quot;)
    print(&quot;concat &quot;,t1.timeit(number=1000), &quot;milliseconds&quot;)

e.g. 2:

    from timeit import Timer
    popzero = Timer(&quot;x.pop(0)&quot;, &quot;from __main__ import x&quot;)
    popend = Timer(&quot;x.pop()&quot;, &quot;from __main__ import x&quot;)
    print(&quot;pop(0)   pop()&quot;)
    for i in range(1000000,100000001,1000000):
        x = list(range(i))
        pt = popend.timeit(number=1000)
        x = list(range(i))
        pz = popzero.timeit(number=1000)
        print(&quot;%15.5f, %15.5f&quot; %(pz,pt))

## timer 定时器

    from threading import Timer

    def timeout():
        print(&quot;Game over&quot;)

    # duration is in seconds
    t = Timer(10, timeout)
    t.start()

    # wait for time completion
    t.join()

Should you want pass arguments to the timeout function, you can give them in the timer constructor:

    def timeout(foo, bar=None):
        print(&#x27;The arguments were: foo: {}, bar: {}&#x27;.format(foo, bar))

    t = Timer(20 * 60, timeout, args=[&#x27;something&#x27;], kwargs={&#x27;bar&#x27;: &#x27;else&#x27;})

# datetime

	from datetime import datetime, timedelta

## datetime to date

    datetime.datetime.now().date()
    datetime.date.today()

## range time

	base = datetime.datetime.today()
	date_generator = (base - datetime.timedelta(days=i) for i in itertools.count())
	&gt;&gt;&gt; dates = itertools.islice(date_generator, 3)
	&gt;&gt;&gt; list(dates)

pd.date_range():

	import pandas as pd
	datelist = pd.date_range(pd.datetime.today(), periods=100).tolist()

## 获取日期和时间元素
```
	from datetime import datetime
	&gt;&gt;&gt; now = datetime.now() # 获取当前datetime
	&gt;&gt;&gt; print(now)
	2015-05-18 16:28:07.198690
	&gt;&gt;&gt; print(type(now))
	&lt;class &#x27;datetime.datetime&#x27;&gt;
```

	d.year
	d.month
	d.weakday() 0~6
	d.day

	d.hour
	d.minute
	d.second
	d.microsecond

	date
		d.date() 2016-08-31
	time
		d.time() 09:41:52.256441
	datetime
		d
	timestamp
		d.timestamp()

### by format

	d=datetime.strptime(&#x27;2015-6-1 18:19:59&#x27;, &#x27;%Y-%m-%d %H:%M:%S&#x27;)
	d.strftime(&#x27;%a, %b %d %H:%M&#x27;)
	d.strftime(&#x27;%Y-%m-%d %H:%M&#x27;)

和shell 一样

	&gt;&gt;&gt; datetime.strptime(&#x27;2015-6-1 18:19:59&#x27;, &#x27;%Y-%m-%d %H:%M:%S&#x27;)
	2015-06-01 18:19:59

	&gt;&gt;&gt; datetime.now().replace(microsecond=0).isoformat()
    &#x27;2018-08-16T15:16:47&#x27;

formater: 
https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

    zone:
        %Z  (empty),UTC,EST,CST (time zone name)
        %z  UTC+0000,-0400,+1030,+0800 (time zone offset)
    weekday:
        %a Sun, Mon, ..., Sat (en_US);
        %A Sunday, Monday, ..., Saturday (en_US);
        %w 0,1,...,6(0 is Sunday)
        %U	00,01,....,53 (Sunday as the first day)
        %W	00,01,....,53 (Monday as the first day)
    year:
        %y  00,01,...09,10,11
        %Y  0001,0002,....,2016,...
    month:
        %b Jan, Feb, ..., Dec (en_US);
        %B January, February, ..., December (en_US);
        %m  01,...,12
    day:
        %d  01,...,31
        %j  001,...,366
    Hour:
        %H  00,....,23
        %I  01,02,...,12(12 hour)
        %p  AM,PM
    Minute:
        %M  00,...,59
    Second:
        %S  00,...,59
    Microsecond
        %f  000000,...,999999

### today
开始和结束

    &gt;&gt;&gt; datetime.datetime.combine(datetime.date.today(), datetime.time.min)
    datetime.datetime(2015, 1, 12, 0, 0)
    &gt;&gt;&gt; datetime.datetime.combine(datetime.date.today(), datetime.time.max)
    datetime.datetime(2015, 1, 12, 23, 59, 59, 999999)

## set time
### by datetime：

	&gt;&gt;&gt; from datetime import datetime
	&gt;&gt;&gt; dt = datetime(2015, 4, 19, 12, 20) # 用指定日期时间创建datetime
	&gt;&gt;&gt; print(dt)
	2015-04-19 12:20:00

### by timestamp

	timestamp = 0 = 1970-1-1 00:00:00 UTC+0:00
	timestamp = 0 = 1970-1-1 08:00:00 UTC+8:00

	&gt;&gt;&gt; from datetime import datetime
	&gt;&gt;&gt; t = 1429417200.0
	&gt;&gt;&gt; print(datetime.fromtimestamp(t)) # 本地时间
	2015-04-19 12:20:00
	&gt;&gt;&gt; print(datetime.utcfromtimestamp(t)) # UTC时间
	2015-04-19 04:20:00
	&gt;&gt;&gt; datetime.now().timestamp()

### by format

    # with no format
    from dateutil.parser import parse as strptime
    strptime(&#x27;2011-12-31&#x27;)

    # with format
	d=datetime.strptime(&#x27;2015-6-1 18:19:59&#x27;, &#x27;%Y-%m-%d %H:%M:%S&#x27;)

## timedelta: datetime加减

    &gt;&gt;&gt; timedelta(days=2, hours=12)
    &gt;&gt;&gt; timedelta(1,3600).__str__()
    &#x27;1 day, 1:00:00&#x27;
    &gt;&gt;&gt; timedelta(1,3600,2).__str__()
    &#x27;1 day, 1:00:00.000002&#x27;

使用timedelta你可以很容易地算出前几天和后几天的时刻。

	&gt;&gt;&gt; from datetime import datetime, timedelta
	&gt;&gt;&gt; now = datetime.now()
	&gt;&gt;&gt; now
	datetime.datetime(2015, 5, 18, 16, 57, 3, 540997)
	&gt;&gt;&gt; now + timedelta(hours=10)
	datetime.datetime(2015, 5, 19, 2, 57, 3, 540997)
	&gt;&gt;&gt; now - timedelta(days=1)
	datetime.datetime(2015, 5, 17, 16, 57, 3, 540997)
	&gt;&gt;&gt; now + timedelta(days=2, hours=12)
	datetime.datetime(2015, 5, 21, 4, 57, 3, 540997)

### diff

    (datetime.now()-d).total_seconds()
    (datetime.now()-d).seconds

compare

    d1&lt;d2

### begin of hour

    print(datetime.now().replace(microsecond=0,second=0,minute=0))

### CST
使用东8区显示：

    datetime.now(tz=timezone(timedelta(hours=8))).strftime(&#x27;%a %b %d %Y %H:%M:%S GMT%z (CST)&#x27;)
    &#x27;Thu Sep 22 2016 17:50:56 GMT+0800 (CST)&#x27;

# timezone

## create timeinfo
一个datetime类型有一个时区属性tzinfo

    from datetime import datetime, timedelta, timezone
    tz_utc_8 = timezone(timedelta(hours=8)) # 创建时区UTC+8:00
    tz_utc_0 = timezone.utc

## replace with timezone
Can&#x27;t subtract offset-naive and offset-aware datetimes

    naive = dt.replace(tzinfo=None)

## keep time
### replece timezone(keep time, change timestamp)
使用replace(tzinfo=tz) 标注时区，timestamp随着tz变化，不会改变字面时间

    ; 默认locale时:没有时区
    &gt;&gt;&gt; datetime.fromtimestamp(0).__str__()
    &#x27;1970-01-01 08:00:00&#x27;

    ; 标注当前时区(字面时间不变)
    &gt;&gt;&gt; datetime.fromtimestamp(0).replace(tzinfo=timezone(timedelta(hours=8))).__str__()
    &#x27;1970-01-01 08:00:00+08:00&#x27;
    &gt;&gt;&gt; datetime.fromtimestamp(0).replace(tzinfo=timezone(timedelta(hours=8))).timestamp()
    0.0

    ; 标为时区为UTC+0(字面时间不变)
    &gt;&gt;&gt; datetime.fromtimestamp(0).replace(tzinfo=timezone.utc).__str__()
    &#x27;1970-01-01 08:00:00+00:00&#x27;
    &gt;&gt;&gt; datetime.fromtimestamp(0).replace(tzinfo=timezone.utc).timestamp()
    28800.0

### datetime(...,tzinfo=), (keep time, change timestamp)
    &gt;&gt;&gt; datetime(2015, 5, 18, 17, 2, 10, 871012, tzinfo=timezone(timedelta(0, 3600))).__str__()
    &#x27;2015-05-18 17:02:10.871012+01:00&#x27;

## keep timestamp, switch timezone
### now(tz=)/utcnow(), (change time, keep timestamp)
使用now(tz=tz)/utcnow() 标注时区，不会改变timestamp，字面时间随着tz变化

    datetime.now(tz=timezone(timedelta(hours=7))).__str__()  # ok: 自动基于utc 时间加时区

### d.astimezone(tz)

	tokyo_dt = utc_dt.astimezone(timezone(timedelta(hours=9)))
	2015-05-18 18:05:12.377316+09:00

### utcnow() is evil!
utcnow()一开始就是错误的timestamp, 不要使用: 它只是单纯的当timestamp 减小了8个小时，时区居然不变！拿到的还是错误的时间!
```
datetime.now().timestamp()-datetime.utcnow().timestamp() = 28800
8:00+UTC8 - 0:00+UTC8
```
除非时区也减小到UTC+0:
```
#并强制设置正确的时区为UTC+0:00:
&gt;&gt;&gt; utc_dt = datetime.utcnow().replace(tzinfo=timezone.utc)
```
# arrow/pendulum（python内带的datetime处理太弱了）

    &gt;&gt;&gt; import arrow
    &gt;&gt;&gt; utc = arrow.utcnow()
    &gt;&gt;&gt; utc
    &lt;Arrow [2013-05-11T21:23:58.970460+00:00]&gt;

    &gt;&gt;&gt; utc = utc.replace(hours=-1)
    &gt;&gt;&gt; utc
    &lt;Arrow [2013-05-11T20:23:58.970460+00:00]&gt;

    &gt;&gt;&gt; local = utc.to(&#x27;US/Pacific&#x27;)
    &gt;&gt;&gt; local
    &lt;Arrow [2013-05-11T13:23:58.970460-07:00]&gt;

    &gt;&gt;&gt; arrow.get(&#x27;2013-05-11T21:23:58.970460+00:00&#x27;)
    &lt;Arrow [2013-05-11T21:23:58.970460+00:00]&gt;

    &gt;&gt;&gt; local.timestamp
    1368303838

    &gt;&gt;&gt; local.format(&#x27;YYYY-MM-DD HH:mm:ss ZZ&#x27;)
    &#x27;2013-05-11 13:23:58 -07:00&#x27;

    &gt;&gt;&gt; local.humanize()
    &#x27;an hour ago&#x27;

    &gt;&gt;&gt; local.humanize(locale=&#x27;ko_kr&#x27;)
    &#x27;1시간 전&#x27;
</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
