<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/py/py-thread.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>python thread 线程笔记</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: python thread 线程笔记
date: 2019-02-06
updated: 2019-02-06
---
# threading
Python的标准库提供了两个模块：`_thread`和`threading`: `_thread`是低级模块，threading是高级模块，对_thread进行了封装。

绝大多数情况下，我们只需要使用threading这个高级模块。

	import time, threading
	t = threading.Thread(target=loop, name=&#x27;LoopThread&#x27;, args = (arg1, arg2, ..))
	# t.setDaemon(True); # 设置独立线程, 主线程不会等待子线程序而结束(子线程也会强制结束, 除非强制join()才会等待) 
                         # 默认主线程结束后，会默认等待子线程(非daemon) 结束后，主线程才退出。
	t.start()
	t.join(); 相当于wait
	threading.current_thread().name

Python的threading模块有个current_thread()函数，它永远返回当前线程的实例。

1. 主线程实例的名字默认叫`MainThread`，
1. 子线程的名字在创建时指定，我们用`LoopThread`命名子线程。
1. 名字仅仅在打印时用来显示，完全没有其他意义，如果不起名字Python就自动给线程命名为`Thread-1，Thread-2……`


## threading.Thread
启动一个线程就是把一个函数传入并创建Thread实例，然后调用start()开始执行：

	import time, threading

	def loop(*args, **kw):
		print(&#x27;thread %s is running...&#x27; % threading.current_thread().name)
        print(args)
		n = 0
		while n &lt; 5:
			n = n + 1
			print(&#x27;thread %s &gt;&gt;&gt; %s&#x27; % (threading.current_thread().name, n))
			time.sleep(1)
		print(&#x27;thread %s ended.&#x27; % threading.current_thread().name)

	print(&#x27;thread %s is running...&#x27; % threading.current_thread().name)
	t = threading.Thread(target=loop, name=&#x27;LoopThread&#x27;, args=[1,2,3], kwargs={&#x27;v&#x27;:2})
	t.start()
    t.is_alive()
	t.join([timeout])
	print(&#x27;thread %s ended.&#x27; % threading.current_thread().name)

执行结果如下：

	thread MainThread is running...
	thread LoopThread is running...
    [1,2,3]
	thread LoopThread &gt;&gt;&gt; 1
	thread LoopThread &gt;&gt;&gt; 2
	thread LoopThread &gt;&gt;&gt; 3
	thread LoopThread &gt;&gt;&gt; 4
	thread LoopThread &gt;&gt;&gt; 5
	thread LoopThread ended.
	thread MainThread ended

### attr
threading.current_thread().ident
threading.current_thread().name

## lock thread
如果线程要修改全局变量，为防collision 冲突，可以加lock
1. Rlock(),允许多重嵌套锁，
2. 而Lock()只能锁一次；

Lock:

	balance = 0
	//创建一把锁
	lock = threading.Lock()

	def run_thread(n):
		for i in range(100000):
			# 先要获取锁:
			lock.acquire()
			try:
				# 放心地改吧:
				balance +=n
				balance -=n
			finally:
				# 改完了一定要释放锁:
				lock.release()


RLock:

    from threading import RLock, Thread
    lock = Rlock()
    lock.acquire(block=True)
    lock.release()

mutex:

    if mutex.acquire(1):
        if not queue.empty():
            queue.get()
        mutex.release()

在c语言里面就是用的futex

## close thread: via thread.Event
via a threadsafe threading.Event():
1. 利用e.wait() until e.set():

    e = threading.Event()
    while not e.wait(0.5): # wait 会阻塞0.5秒
        time.sleep(1)
    print(&#x27;end&#x27;)

2. 利用e.is_set() until e.clear():

    e = threading.Event()
    e.set()

    def loop(running):
        while running.is_set():
            print(&#x27;running&#x27;)
            time.sleep(0.5)

    thread = threading.Thread(target=loop, args=(running,))
    thread.start()

    e.clear()
    thread.join()

3. close via thread attr:

    def loop():
        t = threading.currentThread()
        while getattr(t, &quot;do_run&quot;, True):
            print (&quot;working on %s&quot; % arg)
            time.sleep(1)
        print(&quot;Stopping as you wish.&quot;)

    thread = threading.Thread(target=loop, args=(running,))
    thread.do_run = False

## thread isAlive
thread.start() 后为true

    thread.isAlive()

## catch thread excetion
    import threading
    import sys
    class ExcThread(threading.Thread):

        def __init__(self, target, args = None):
            self.args = args if args else []
            self.target = target
            self.exc = None
            threading.Thread.__init__(self)

        def run(self):
            try:
                self.target(*self.args)
                raise Exception(&#x27;An error occured here.&#x27;)
            except Exception:
                self.exc=sys.exc_info()

    def main():
        thread_obj = ExcThread(target=lambda *x:print(f&#x27;run target({x})&#x27;), args=[1,2,3])
        thread_obj.start()

        thread_obj.join()
        exc = thread_obj.exc
        if exc:
            exc_type, exc_obj, exc_trace = exc
            print(exc_type, &#x27;:&#x27;,exc_obj, &quot;:&quot;, exc_trace)

    main()


## communicate via pool.apply_async().get()
对比下ThreadPool vs Thread

    t = threading.Thread(target=loop, name=&#x27;LoopThread&#x27;)
        #t.start() t.join()

e.g.

    def foo(bar, baz):
        print(&#x27;hello {0}&#x27;.format(bar))
        return &#x27;return baz:&#x27; + baz

    from multiprocessing.pool import ThreadPool
    pool = ThreadPool(processes=1)
    async_result = pool.apply_async(foo, (&#x27;world&#x27;, &#x27;foo&#x27;)) # tuple of args for foo
    print(async_result.get()) # 阻塞+get

# 多核CPU
打开Mac OS X的Activity Monitor，或者Windows的Task Manager，都可以监控某个进程的CPU使用率。
我们可以监控到一个死循环线程会100%占用一个CPU。

如果有两个死循环线程，在多核CPU中，可以监控到会占用200%的CPU，也就是占用两个CPU核心。
要想把N核CPU的核心全部跑满，就必须启动N个死循环线程。

试试用Python写个死循环：

    import threading, multiprocessing
    def loop():
        x = 0
        while True:
            x = x ^ 1
    for i in range(multiprocessing.cpu_count()):
        t = threading.Thread(target=loop)
        t.start()

启动与CPU核心数量相同的N个线程，在4核CPU上可以监控到CPU占用率仅有102%，也就是仅使用了一核。
但是用C、C++或Java来改写相同的死循环，直接可以把全部核心跑满，4核就跑到400%，8核就跑到800%，为什么Python不行呢？

因为:
1. Python的线程虽然是真正的线程，但解释器执行代码时，有一个GIL锁：`Global Interpreter Lock`，任何Python线程执行前，必须先获得GIL锁，
2. 然后，每执行100条字节码，解释器就自动释放GIL锁，让别的线程有机会执行。

这个GIL全局锁实际上把所有线程的执行代码都给上了锁，所以，多线程在Python中只能交替执行，即使100个线程跑在100核CPU上，也只能用到1个核。

1. 当线程运行在不同的内核中时，两个或更多的处理器要更新同一个对象便产生了竞争机制，特别在Python垃圾回收处理机制中。
2. 合理的解决方案就是给每个对象上锁
3. 锁的粒度越小, 实现起来越复杂, 而且可能还会因为锁而降低性能. 所以就加了全局大锁(GIL)

Note, GIL 与LOCK
1. 虽然 python线程是串行的(GIL), 但是它不是appliction 级的锁定, 所以还是需要加锁lock
2. 一个进程可以占用多个CPU，但是一个线程可能只会占用一个CPU。
3. 进程是资源分配的最小单位，线程是CPU调度的最小单位；

## CPython
GIL是Python解释器设计的历史遗留问题，通常我们用的解释器是官方实现的CPython，要真正利用多核，除非重写一个不带GIL的解释器。

所以，在Python中 如果一定要通过多线程利用多核

1. 那只能通过C扩展来实现，不过这样就失去了Python简单易用的特点。
2. 不过，也不用过于担心，Python虽然不能利用多线程实现多核任务，但可以通过多进程实现多核任务。多个Python进程有各自独立的GIL锁，互不影响

# sleep
sleep 线程级的，只会停止当前线程: 在waiter sleep时，worken继续工作

    class worker(Thread):
        def run(self):
            for x in xrange(0,11):
                print x
                time.sleep(1)

    class waiter(Thread):
        def run(self):
            for x in xrange(100,103):
                print x
                time.sleep(5)

    def run():
        worker().start()
        waiter().start()


# share variable
1. 通过thread attr:
    t = Thread(...)
    t.a = 2;
    threading.current_thread().a
2. 通过dict[thread_key]
3. 通过queue


## ThreadLocal
线程也有属于自己的子全局变量，否则:
每个函数一层一层调用都这么传参数？太麻烦了!

	def thread_student(name):
		std = Student(name)
		# std是局部变量，但是每个函数都要用它，因此必须传进去：
		do_task_1(std)
		do_task_2(std)

	def do_task_1(std):
		do_subtask_1(std)
		do_subtask_2(std)


由于`dict[key]=value`是线程安全的, 可用一个全局dict存放所有的Student对象，然后以thread自身作为key获得线程对应的Student对象如何？

	global_dict = {}

	def std_thread(name):
		std = Student(name)
		# 把std放到全局变量global_dict中：
		global_dict[threading.current_thread()] = std
		do_task_1()
		do_task_2()

	def do_task_1():
		# 不传入std，而是根据当前线程查找：
		std = global_dict[threading.current_thread()]

它最大的优点是消除了std对象在每层函数中的传递问题，但是，每个函数获取std的代码有点丑

有没有更简单的方式？
ThreadLocal应运而生，不用查找dict，ThreadLocal帮你自动做这件事：

	import threading

	# 创建全局ThreadLocal对象:
	local_school = threading.local()

	def process_student():
	    # 获取当前线程关联的student:
	    std = local_school.student
	    print(&#x27;Hello, %s (in %s)&#x27; % (std, threading.current_thread().name))

	def process_thread(name):
	    # 绑定ThreadLocal的student: local_school[thread_key].student
	    local_school.student = name
	    process_student()

	t1 = threading.Thread(target= process_thread, args=(&#x27;Alice&#x27;,), name=&#x27;Thread-A&#x27;)
	t2 = threading.Thread(target= process_thread, args=(&#x27;Bob&#x27;,), name=&#x27;Thread-B&#x27;)
	t1.start()
	t2.start()
	t1.join()
	t2.join()

执行结果：

	Hello, Alice (in Thread-A)
	Hello, Bob (in Thread-B)

ThreadLocal最常用的地方:

0. 线程范围内的全局变量
1. 就是为每个线程绑定一个数据库连接，HTTP请求，用户身份信息等，这样一个线程的所有调用到的处理函数都可以非常方便地访问这些资源。

## communicate via Queue
Queue  is thread safe

    import queue
    q=queue.Queue()

## signal for thread
signal.pthread_kill(thread_id, signum)</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
