<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/py/py-test.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>py-test</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: py-test
date: 2018-10-04
updated: 2020-05-24
---
# Preface
test framework list:
- pytest   比unittest 好的一点是：可以选择测试范围
- unittest 单元测试, py-unittest
    - doctest, 不太常用
- nose

function:
1. be able to continue through a test function after a failure

# mock
https://medium.com/@yeraydiazdiaz/what-the-mock-cheatsheet-mocking-in-python-6a71db997832

# pytest

## test case
```
    # content of test_sample.py
    def func(x):
        return x + 1

    def test_answer():
        assert func(3) == 5
```
## test case rule
name rule:

    file: test_*.py|*_test.py
    clsss: Test*
        method/func: test* 一般还是test_*
    directory: test*, 一般写tests

/conftest.py:
    用于命令行配置

inifile: setup.cfg

    [tool:pytest]
    minversion = 3.0
    testpaths = tests


### class case
class rule:
1. class 不能有`__init__`
2. 测试class 的过程像是做遍历: for method in class().methods(): test(method())

example

    # content of test_class.py
    class TestClass:
        def test_one(self):
            x = &quot;this&quot;
            assert &#x27;h&#x27; in x

        def test_two(self):
            x = &quot;hello&quot;
            assert hasattr(x, &#x27;check&#x27;)

        def setup_class(cls):
            print(&#x27;setup_class init&#x27;)

        def teardown_class(cls):
            print(&#x27;teardown_class: end&#x27;)

## run test

    py -m pytest
    py.test               # run all tests below current dir(test_*.py|*_test.py), or *test** directory
    py.test test_mod.py   # run tests in module
    py.test somepath      # run all tests below somepath
    py.test -k stringexpr # only run tests with names that match the
                          # the &quot;string expression&quot;, 
                          e.g. &quot;class_pattern and [not] method_pattern &quot; 
                          e.g. &quot;method/func_pattern &quot; 
                          e.g. &quot;MyClass and not method&quot;
                            # will select TestMyClass.test_something
                            # but not TestMyClass.test_method_simple
    py.test test_mod.py::test_func # only run tests that match the &quot;node ID&quot;,
                       # e.g &quot;test_mod.py::test_func&quot; will select only test_func in test_mod.py

### output

    # log
    py.test --resultlog=filepath
    # xml
    py.test --junitxml=filepath

## help
```
py.test --version # shows where pytest was imported from
py.test --fixtures # show available builtin function arguments
py.test -h | --help # show help on command line and config file options
```

# flask test
conftest.py 通过fixture 生成需要的上下文环境

    @pytest.fixture
    def app():
        app = Flask(&#x27;flask_test&#x27;, root_path=os.path.dirname(__file__))
        return app


    @pytest.fixture
    def app_ctx(app):
        with app.app_context() as ctx:
            yield ctx


    @pytest.fixture
    def req_ctx(app):
        with app.test_request_context() as ctx:
            yield ctx


    @pytest.fixture
    def client(app):
        return app.test_client()

然后利用上下文：

    # file: test_reqctx.py
    def test_context_binding(app):
        @app.route(&#x27;/&#x27;)
        def index():
            return &#x27;Hello %s!&#x27; % flask.request.args[&#x27;name&#x27;]

        with app.test_request_context(&#x27;/?name=World&#x27;):
            assert index() == &#x27;Hello World!&#x27;

其实是基于上下文app:

    from flask import Flask
    app = Flask(&#x27;myapp&#x27;)

    @app.route(&#x27;/&#x27;)
    def hi():
        return &#x27;hi&#x27;

    with app.test_request_context(&#x27;/?name=W&#x27;):
        assert hi() == &#x27;hi lo&#x27;

</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
