<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/c/c-debug-heap.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>Google Heap Profiler</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: Google Heap Profiler
date: 2018-10-06
updated: 2018-10-06
---
# Preface
本文参考: http://blog.csdn.net/jhzhou/article/details/7245992

Google Heap Profiler，大致有三类功能：

1. 可以分析出在程序的堆内有些什么东西
2. 定位出内存泄露
3. 可以让我们知道哪些地方分配了比较多的内存

大概的原理就是使用tcmalloc 来代替malloc calloc new等等，这样Google Heap Profiler就能知道内存的分配情况，从而分析出内存问题。

# Create dump
首先需要把tcmalloc链接到我们需要分析的程序中， 当然我们也可以动态load 这个lib，但是为了简单起见，还是推荐大家链接这个lib到自己的程序中。

链接之后，我们接下来的任务就是得到内存分析的dump文件，我们有两种方法：

## 静态dump方法：
直接定义一个环境变量HEAPPROFILE 来指定dump profile文件的位置，如：/tmp/test.log,它将会在/tmp/目录下生成很多类似/tmp/test.log.0003.heap文件名的文件

	env HEAPPROFILE=&quot;/tmp/test.log&quot; /test/testprog

# 动态dump方法：
我们可以调用Google Heap Profiler的API来控制什么时候dump出内存的profiler文件，这样更加灵活，为此，我们必须包含heap-profiler.h这个头文件。

	HeapProfilerStart() 用来开始内存分析
	HeapProfilerStop().  用来终止内存分析

这样就只会在开始和结束之间产生dump profiler文件。

选项

	 HEAP_PROFILE_ALLOCATION_INTERVAL

程序内存每增长这一数值之后就dump 一次内存，默认是1G （1073741824）

	 HEAP_PROFILE_INUSE_INTERVAL

程序如果一次性分配内存超过这个数值dump 好像默认是100K

# Analyse Dump

## View Dump
查看dump 文件

	pprof --pdf /test/testProg /tmp/test.log.0001.heap

就是以pdf的形式来显示这个dump文件，当然我们也可以使用其他的格式来显示。

	--text              Generate text report
	--callgrind         Generate callgrind format to stdout
	--gv                Generate Postscript and display
	--evince            Generate PDF and display
	--web               Generate SVG and display
	--list=&lt;regexp&gt;     Generate source listing of matching routines
	--disasm=&lt;regexp&gt;   Generate disassembly of matching routines
	--symbols           Print demangled symbol names found at given addresses
	--dot               Generate DOT file to stdout
	--ps                Generate Postcript to stdout
	--pdf               Generate PDF to stdout
	--svg               Generate SVG to stdout
	--gif               Generate GIF to stdout
	--raw               Generate symbolized pprof data (useful with remote fetch)

这就是所有可支持的格式。

&gt; pprof 依赖`dot`,要安装 `yum install graphviz -y`

我们也可以专门focus在一些包含某些关键字的路径上，也可以忽略相关的路径

	--focus
	--ignore
	pprof --pdf --focus=CData /test/testProg /tmp/test.log.0001.heap

## Compare Dump
为了知道在某一段时间内的内存分布情况，或者需要了解某段时间内有没有内存泄露，我们就需要用到diff我们的dump文件

	pprof --pdf --base /tmp/test.log.0001.heap /test/testProg /tmp/test.log.0101.heap

比较了第1个dump文件与第101个文件的差异，结果以pdf的形式显示
</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
