<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/c/process-redirect-fork2exec.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>linux 下的Fork 与 Exec</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: linux 下的Fork 与 Exec
date: 2019-02-04
updated: 2019-02-04
---
# Preface
多进程的的内容包括进程控制, 进程通信, 进程本身的结构.

# 重定向
标准输入输出:

    /dev/stdin -&gt; /dev/fd/0
    /dev/stdout -&gt; /dev/fd/1
    /dev/stderr -&gt; /dev/fd/2

重定向：

    &lt; or 0&lt; : 
        $ cat &lt;a.txt
    &gt; or &gt;&gt; or 1&gt; or 1&gt;&gt;:
        $ echo 1 &gt; a.txt
    2&gt; or 2&gt;&gt; : 重定向标准错误
        $ { echo ass; xxxxxxx} 2&gt;a.txt
        zsh: command not found: xxxxxxx

参考下面的exec

    &gt;&amp; or &amp;&gt; : 重定向标准输出和标准错误
        $ { echo ass; xxxxxxx} &gt;&amp; a.txt
        ass
        zsh: command not found: xxxxxxx
    2&gt;&amp; 重定向标准错误(重复)
        $ { echo ass; xxxxxxx} 2&gt;&amp; a.txt

## 输入重定向
本质是 `fd=open(file, r); 0-&gt;fd`

  cat 0&lt;a.txt
  cat &lt;a.txt

## 输出重定向
本质是 `fd=open(file, w+[append]); [1-n]-&gt;fd`

  command-line1 [1-n]&gt;file
  command-line1 [1-n]&gt;&gt;file

将标准出、标准错误导向/dev/null

  cmd &amp;&gt;/dev/null
  cmd &gt;&amp;/dev/null

## 绑定重定向
`&amp;[n]` 代表是已经存在的文件描述符，`&amp;1` 代表输出 `&amp;2`代表错误输出 `&amp;-`代表关闭与它绑定的描述符

  Command &gt;&amp;m	把1指向 m 描述符所在的结构体
  Command [n]&gt;&amp;m	把描述符n 指向到文件描述符m中所指向的结构体
  Command &lt;&amp;-	关闭标准输入
  Command 0&lt;&amp;-	关闭标准输入
  Command 0&gt;&amp;-	同上
  Command 3&gt;&amp;-	关闭 fd3

eg:

  $ exec 6&gt;&amp;1
  #将fd 6绑定 1指向的文件

  $ ls  /dev/fd/
  0  1  2  3  6
  #出现文件描述符6

  $ exec 1&gt;suc.txt
  #将接下来所有命令标准输出，绑定到suc.txt文件（输出到该文件）

  $ ls -al
  #执行命令，发现什么都不返回了，因为标准输出已经输出到suc.txt文件了

  $ exec 1&gt;&amp;6
  #恢复标准输出


  $ exec 6&gt;&amp;-
  #关闭fd 6描述符

  $ ls /dev/fd/
  0  1  2  3

分析:

  1. 6&gt;&amp;1: 6 -&gt; 1 -&gt; stdout
  2. 1&gt;suc.txt: 1-&gt;suc.txt, 6-&gt;stdout
  3. 1&gt;&amp;6: 1-&gt;6-&gt;stdout
  3. 6&gt;&amp;-: 1-&gt;stdout

如果`exec 1&gt;suc.txt`, 怎么恢复呢?  因为标准输出的文件描述符还有: `2`,`/dev/tty`, 所以:

  exec 1&gt;&amp;2
  exec 1&gt;/dev/tty

# exec
虽然exec和source都是在父进程中直接执行，但exec这个与source有很大的区别，source是执行shell脚本，而且执行后会返回以前的shell。而exec的执行不会返回以前的shell了，而是直接把以前登陆shell作为一个程序看待，在其上进行复制。

exec命令示例

    exec ls
    在shell中执行ls，ls结束后不返回原来的shell中了
    exec &lt;file
    将file中的内容作为exec的标准输入
    exec &gt;file
    将file作为标准写出
    exec 3&lt;file
    将file读入到fd3中
    sort &lt;&amp;3
    fd3中读入的内容被分类
    exec 4&gt;file
    将写入fd4中的内容写入file中
    ls &gt;&amp;4
    Ls将不会有显示，直接写入fd4中了，即上面的file中
    exec 5&lt;&amp;4
    创建fd4的拷贝fd5
    exec 3&lt;&amp;-
    关闭fd3

## exec的重定向

先上我们进如/dev/fd/目录下看一下：

    root@localhost:~/test#cd /dev/fd
    root@localhost:/dev/fd#ls
    0  1  2  255
    默认会有这四个项：
		0是标准输入，默认是键盘。
		1是标准输出，默认是屏幕/dev/tty
		2是标准错误，默认也是屏幕

当我们执行exec 3&gt;test时：

    root@localhost:/dev/fd#exec 3&gt;/root/test/test
    root@localhost:/dev/fd#ls
    0  1  2  255  3
    root@localhost:/dev/fd#

看到了吧，多了个3，也就是又增加了一个设备，这里也可以体会下linux设备即文件的理念。这时候fd3就相当于一个管道了，重定向到fd3中的文件会被写在test中。关闭这个重定向可以用exec 3&gt;&amp;-。

## 应用举例：

    exec 3&lt;test
    while read -u 3 pkg
    do
    echo &quot;$pkg&quot;
    done

### 利用pipeline 控制进程数量
利用wait 等待所有的子进程，利用 read -u9 阻塞等待pipe

    # Author: cloud@txthinking.com
    max_process=54
    fd=/tmp/google-hosts.fd
    mkfifo $fd
    exec 9&lt;&gt;$fd
    rm $fd
    for((i=0;i&lt;$max_process;i++))
    do
        echo
    done &gt;&amp;9

    n=0
    for((i=$first;i&lt;$last;i++))
    do
        {
            read -u9
            {
                out=$(./getssl.sh $i)
                echo -e &quot;$out&quot;
                echo -e &quot;$out&quot; &gt;&gt; $output
                echo &gt;&amp;9
            }
        }&amp;
        n=$(($n+1))
        if [ $(($n%$(($max_process*2)))) -eq 0 ]
        then
            wait
        fi
    done
    wait
    exec 9&gt;&amp;-


# kill 信号
kill -15 默认向进程发送GIGTERM 信号

	kill -l 用于显示所有信号
	kill -l SEGV 查看信号值

	HUP    1    终端断线(如果忽略HUP, 终端关闭时进程不会退出)
	INT     2    中断（同 Ctrl + C）
	QUIT    3    退出（同 Ctrl + \）
	TERM   15    终止(默认)
	KILL    9    强制终止
	CONT   18    继续（与STOP相反， fg/bg命令）
	STOP    19    暂停（同 Ctrl + Z）
	SEGV	11	segmentfault

# redirect output of an already running process
Firstly I run the command `cat &gt; foo1` in one session and test that data from stdin is copied to the file.
Then in another session I redirect the output.

Firstly find the PID of the process:

    $ ps aux | grep cat
    rjc 6760 0.0 0.0 1580 376 pts/5 S+ 15:31 0:00 cat

Now check the file handles it has open:

    $ ls -l /proc/6760/fd
    total 3
    lrwx—— 1 rjc rjc 64 Feb 27 15:32 0 -&gt; /dev/pts/5
    l-wx—— 1 rjc rjc 64 Feb 27 15:32 1 -&gt; /tmp/foo1
    lrwx—— 1 rjc rjc 64 Feb 27 15:32 2 -&gt; /dev/pts/5

Now run GDB:

    $ gdb -p 6760 /bin/cat
    GNU gdb 6.4.90-debian

    [license stuff snipped]

    Attaching to program: /bin/cat, process 6760

    [snip other stuff that&#x27;s not interesting now]

    (gdb) p close(1)
    $1 = 0
    (gdb) p creat(“/tmp/foo3″, 0600)
    $2 = 1
    (gdb) q
    The program is running. Quit anyway (and detach it)? (y or n) y
    Detaching from program: /bin/cat, process 6760

The `p` command in GDB will print the value of an expression, an expression can be a function to call, it can be a system call…

1. So I execute a *close()* system call and pass file handle 1,
2. then I execute a *creat()* system call to *open a new file*. The result of the creat() was 1 which means that it replaced the previous file handle.
* If I wanted to use the same file for stdout and stderr or if I wanted to replace a file handle with some other number then I would need to call the *dup2()* system call to achieve that result.

For this example I chose to use *creat()* instead of *open()* because there are fewer parameter.
The C macros for the flags are not usable from GDB (it doesn’t use C headers) so I would have to read header files to discover this – it’s not that hard to do so but would take more time.

Note that *0600* is the octal permission for the owner having read/write access and the group and others having no access.
It would also work to use 0 for that parameter and run chmod on the file later on.

After that I verify the result:

    ls -l /proc/6760/fd/
    total 3
    lrwx—— 1 rjc rjc 64 2008-02-27 15:32 0 -&gt; /dev/pts/5
    l-wx—— 1 rjc rjc 64 2008-02-27 15:32 1 -&gt; /tmp/foo3 &lt;====
    lrwx—— 1 rjc rjc 64 2008-02-27 15:32 2 -&gt; /dev/pts/5

Typing more data in to *cat* results in the file */tmp/foo3* being appended to.

If you want to close the original session you need to close all file handles for it, open a new device that can be the controlling tty, and then call *setsid()*.

Reference: http://stackoverflow.com/questions/1323956/how-to-redirect-output-of-an-already-running-process

## reredirect
https://github.com/jerome-pouiller/reredirect/

    reredirect -m FILE PID

## dupx
Dupx is a simple \*nix utility to redirect standard output/input/error of an already running process.

http://www.isi.edu/~yuri/dupx/

## strace
http://superuser.com/questions/473240/redirect-stdout-while-a-process-is-running-what-is-that-process-sending-to-d/535938#535938


# Rerference
- [memory]
- [fork]

[fork]: http://www.cnblogs.com/hicjiajia/archive/2011/01/20/1940154.html &quot;x1&quot;
[memory]: http://arhythmically40.rssing.com/chan-19541204/all_p4.html#item76
[fork exec]: http://www.cnblogs.com/hicjiajia/archive/2011/01/20/1940154.html

</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
