<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/math/math-envelope.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>红包飞的概率问题</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: 红包飞的概率问题
date: 2015-03-04
updated: 2019-01-01
---
# 红包飞的概率问题
100元的红包，分给10个人，每个人得的数额是随机的。请设计一个公平的算法，保证每个人得到的金额从数学期望上是相等的。

# 生成红包时就拆分好

## 此时生成10个随机数作权重
按每个随机数据的比例拆分

## 此时生成9个随机数,再排列，以间距拆分红包
生成9个随机数rand(0,100), 然后加一个100，并从小到大排序：s1,s2,...,s9,100. 第一个人得到的金额是s1, 第二个人得到的金额是s2-s1,..., 最后一个人得到的金额是100-s9. 加入的100 不是随机数，这样公平吗？

当然公平！让我们证明一下：假如随机数rand(0,1)

### 最大值的期望

- 1个独立随机数中的最大值小于x 的概率是x^1, 相当于对 dx 求积分，上限x, 下限是0
- 2个独立随机数中的最大值小于x 的概率是x^2, 相当于对 (2*x)dx 求积分，上限x, 下限是0
- ...
- n个独立随机数中的最大值小于x 的概率是x^n, 相当于对 (n*x^(n-1))dx 求积分，上限x, 下限是0

那么n个独立随机数的最大值等于x 的概率是：(n*x^(n-1))dx.
概率乘以x 得(n*x^n)dx 积分上限1，下限0，得到的最大值期望就是：n/(n+1).
9 次随机数的期望就是 9/10. 最后一个获取的金额的期望就是(1/10). 就是公平的

### 最小值的期望
如何计算最小值的期望？

2个独立随机数的最小值大于x 的概率是 `(1-x)^2`, 相当于对 `(2-2x)dx` 积分，上限1，下限x

那么最小值为x的概率就是 `(2-2x)*dx`, 对`(2-2x)*xdx` 积分,得到:`x^2-2/3*x^3`,上限1，下限0，得到 1/3
对`n*(1-x)^(n-1)*xdx` 积分,上限1，下限0，得到n/(n+1)

### 第m个值的期望
在`s1,s2,.sm,..,sn` 中 `sm`来说，其等于x的概率为:
$$
f=C_n^1dx * C_{n-1}^{m-1}x^{m-1} * (1-x)^{n-m} \\
=mC_{n}^{m}x^{m-1} * (1-x)^{n-m} * dx \\
$$

sm的期望为:
$$
\int_0^1 mC_{n}^{m}x*x^{m-1} * (1-x)^{n-m} * dx \\
=\int_0^1 mC_{n}^{m}*x^m * (1-x)^{n-m} dx \\
=\int_0^1 mC_n^m [1-(1-x)]^m * (1-x)^{n-m} dx \\
=\int_0^1 mC_n^m [1-C_m^1(1-x)^1+C_m^2(1-x)^2...+(-1)^mC_m^m(1-x)^m] (1-x)^{n-m} dx \\
=mC_n^m \int_0^1 (1-x)^{n-m}-C_m^1(1-x)^{n-m+1}+C_m^2(1-x)^{n-m+2}- ...\\
+(-1)^mC_m^m(1-x)^n dx \\
=-mC_n^m [ \frac{C_m^0}{n-m+1}(1-x)^{n-m+1}
-\frac{C_m^1}{n-m+2}(1-x)^{n-m+2}+...
..+(-1)^mC_m^m\frac{1}{n+1}(1-x)^{n+1} ]|_0^1 \\
=mC_n^m [ \frac{C_m^0}{n-m+1} -\frac{C_m^1}{n-m+2}+...
..+(-1)^mC_m^m\frac{1}{n+1}] \\
=\frac{m}{1+n}\\
$$

我们利用到了公式:
$$
\binom nm \sum_{i=0}^{m} (-1)^i\frac{\binom mi}{(n-m+1)+i}\\
=\frac{n!}{m!(n-m)!} \frac{m!}{(n-m+1)(n-m+2)...n(n+1)}\\
=\frac{1}{1+n}\\
$$

参考:
https://math.stackexchange.com/questions/715706/partial-fraction-expansion-of-frac1xx1x2-cdotsxn/715718#715718  乘积的倒数，就是数列之和
https://math.stackexchange.com/questions/38623/how-to-prove-sum-limits-r-0n-frac-1rr1-binomnr-frac1n1 数列之和也是分部积分的结果
https://math.stackexchange.com/questions/3058307/prove-that-binom-nm-sum-i-0m-1i-frac-binom-min-m1i-frac11 汇总的

# 发送红包时拆分好

    total 每次抢的剩余金额为
    num	剩余人数
    min	最小金额(不限制最小金额时，min = 0)
    max	最大金额(不限制最大金额时，max &gt;=total)

    //max = total 时
    if(num == 1)
        return total;
    t = total - min*mum;				/t 是可分得最大金额(除去了min)
    ram = min + t*rand(0,1) * (2/num);	/**期望 E(t*rand*2/num) = t * 0.5 * 2/num = t /num */
    return ram;

max 为给定值的情况下, 可以使用方式2：

    if(num == 1)
        return total;
    t = total - min*mum;				/t 是可分得最大金额(除去了min)
    tm = min(max-min, t);				//tm 是人为强制的最大金额: if max &gt;= total, then tm = t

    人均期望与tm 期望之比为：
        ave/(tm/2) = (t/num) /(tm/2) = 2/num * (t/tm)

    ram = min + tm*rand(0,1) * (2/num) * (t/tm) = min + t*rand(0,1) * (2/num)
    return ram;

其实方法2 是错误的，它并没有限制max, 从结果上看这种计算同上面的方法本质上是一样的)：
在max 指定值的情况下，如何寻找一个概率分布（T分布？正态分布？F分布）的方法，使得值的范围是(min, max), 期望为(total/num)呢？
换句话说，值的范围是(0,max-min) 期望为(total/num - min)

</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
