<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/bc/stock-book.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>数据</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: 数据
date: 2018-09-26
updated: 2018-10-06
---
# 数据
## 量化quant
挖矿
https://uqer.io/data/browse/0/?page=1
gf quant, 广发量化云服务平台
https://quant.gf.com.cn/
银河证券Apama量化交易平台介绍
http://m.toutiao.manqian.cn/wz_bvEKRYul3QF.html

# book
https://www.botvs.com/bbs-topic/1357
  1、《聪明的投资者》（格雷厄姆著）。格雷厄姆专门为业余投资者所著，巴菲特称之为“有史以来最伟大的投资著作”。

        2、《穷光蛋查理年鉴》（富兰克林著）（一个不幸的灵魂去年问查理：“如果感受不到阅读本书的喜悦，该怎么办？”他得到的芒格式的回答——“没问题，请把这本书赠给更有智慧的人。）

        3、《怎样选择成长股》（费舍尔著）。巴菲特称自己的投资策略是“85%的格雷厄姆和15%的费舍尔”。他说：“运用费舍尔的技巧，可以了解这一行……有助于做出一个聪明的投资决定”。
　　　　
        4、《学以致富》（彼得·林奇著）（如果好他给自己的孙子送生日礼物，《学以致富》是最好不过的了。）

        5、《证券分析》（格雷厄姆 多德著）。格雷厄姆的经典名著，专业投资者必读之书，巴菲特认为每一个投资者都应该阅读此书十遍以上。

        6、《杰克·韦尔奇自传》（杰克·韦尔奇著）（韦尔奇是管理界中的“老虎伍兹”，所有CEO都想效仿他。他们虽然赶不上他，但是如果仔细聆听他所说的话，就能更接近他一些。）
　　　　
        7、《赢》（杰克·韦尔奇著）。（有了《赢》，再也不需要其他管理著作了。）

        8、《寻找智慧——从达尔文到芒格〉〉》（Reter Bevelin著）
　　　　
        9、《客户的游艇在哪里》（Fred Schweb著）（这是以投资为主题出版过的书中最好的一本，它睿智地阐释了关于投资主题的许多真知灼见。）
　　　　
        10、《巴菲特致股东的信：股份公司教程》。本书搜集整理了20多年巴菲特致股东的信中的精华段落，巴菲特认为此书是整理其投资哲学的一流工作。</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
