<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/idea/idea-study.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>日常生活中有哪些十分钟就能学会并可以终生受用的技能？</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: 日常生活中有哪些十分钟就能学会并可以终生受用的技能？
date: 2018-09-27
updated: 2018-10-06
---
日常生活中有哪些十分钟就能学会并可以终生受用的技能？ - 回答作者: 曾加 http://zhihu.com/question/20894671/answer/30171083 (想看更多？下载知乎 App：http://weibo.com/p/100404711598)

# 如何快速阅读。

链接：https://www.zhihu.com/question/20894671/answer/30171083

如果你只要读得快一些，那跟着自己的手指读是一个极好的方法。但是快速阅读则需要一个完全不同的技巧系统。

那就从基础开始吧。
大部分人是一个个词语阅读的，然后觉得词语的发音映在了脑海里（又叫“内语”）。但为什么我们要做这些？我非常憎恨幼儿园的阅读训练，它强迫孩子在课堂和家中都大声朗读。到底是哪个天杀的这么想呢？总之，那根本不是最高效的阅读方式，无论从速度还是理解方面来说。因此，你要做的第一件事是消除在你脑海里的声音。这件事只花了我一个小时。只用你的眼睛来阅读。为什么这么做？因为你念词语的速度永远比不上你理解的速度。这个过程有点艰难，但值得尝试。

对于那些无法抑制“不自觉”的念出来的情况，我有一个建议：
在你阅读的时候请控制呼吸。正如Sean O&#x27;Connor指出的，我们在阅读的时候会呼吸，即使它看起来如此情感亏，因为我们习惯于大声念出这些词语。在很多时候，你甚至注意到你嘴唇的运动，即使它是合上的。控制你的呼吸来去除“内语”，仅仅在你需要的时候呼吸（不要过度刻意，否则憋死自己我概不负责）。当你觉得自己能去除这些声音时，就恢复正常呼吸。

当你觉得你能基本消除脑海里的声音时，你已经得到了快速阅读的钥匙。既然你已经用眼睛来阅读 ，尝试着每次读两到三个词语，熟练后继续提升。相信我，如果你坚持消除脑脑里的声音，你在这个阶段的进步将是非常快的。在训练的一段日子后，我阅读一本非小说类的读物时，每一页只要花15-20秒，这本书是导引，里面充满了需要理解的东西。我并没有夸大，这是我在这个训练中“走火入魔”的印证 ：我每次可以读一行。另一个小技巧是：阅读时请睁大眼睛。试着把更多的词语映入眼底，然后把目光尽可能快地一行行下移，你最终会找到自己的韵律。

希望能帮助到大家 。它真的对我帮助很大。我现在可以把一个小时的阅读量在10分钟甚至更少时间内读完。我马上就去训练啦，然后等我这个夏天回来的时候 ，我就能读完这个书单啦：有哪些能改变一生的好书？

另：有一个链接（感谢Mike Stenhouse）会教你很多快速阅读的技巧。它给出的技巧可比我多多啦：科学的快速阅读：如何在20分钟内将阅读速度提升3倍！
http://fourhourworkweek.com/2009/07/30/speed-reading-and-accelerated-learning/

# 提问时应当说“我有一个疑问&quot;
提问时应当说“我有一个疑问&quot;（ &quot;I have a question&quot;）而不是“我有一个怀疑”（ &quot;I have a doubt&quot;）
因为这会对非印度裔的阅读者造成困扰：我曾经看到印度作者写到： &quot;I have a doubt about your research paper.&quot;，对一个美国人来说，那听起来像：“ I suspect there is a problem with your research paper”，意义可是完全不同啊。

# 感到压力太大？
试试这些：
切断你的网络连接。
穿上你的跑鞋，戴上耳机放着你最喜欢、最有节奏感的音乐，立刻、马上去跑步。跑得越快越好，越远越好。
如果你不能出去跑步，做10个俯卧撑、10个仰卧起坐、10个深蹲，然后再一个地方踱步一分钟，再做一组。
洗个痛快澡。
为自己做一杯热咖啡。
听一些软软的音乐。
啊，压力融化了哟！
这并不是从网上复制下来的。这是一个被尝试和测试过的方法，能很快冷静下来。
去吧。别忘了给我点赞。

（应原作者要求，注明以下内容：Niharika Banerjee, Co Founder and Writers&#x27; Lead on Page on fadbulletin.com with the link present）

# （记忆方法）
如何在10分钟内记住某一年的日历。
只要记忆12个数字就可以了。

让我们试着记住2014年的日历吧。
255 136 140 250
（在你的脑海里试着用小图像的方法记住它）

含义是明显的，每一个数字代表一个月，比如 2代表1月，5代表2月，5代表3月……

为了得到具体某一天是周几其实很简单。以2014年8月15日为例：

回忆你记住的当月的数字。嗯，8月是4。
将日期加上你记住的数字。嗯，15+4=19.
将结果除以7，取余数。嗯，19/7=2……5
完成！2014年8月15日是星期五。

P.S. 你不必记住每一年的12个数字，如果你记住了2014年的 255 136 140 250时，对于2015年，你只要把每个数+1就行—&gt;366 240 251 361，当然，如果遇到了闰年，那从第3个数字开始，后面的数字需要再加1，而第2年的起始数字需要+2。（原回答太复杂，略作修改）

# 社交技巧
建立和保持人与人之间的关系。这是生存之道。

照镜子，观察自己的肢体语言。
感受自己演讲时的声音和频率。
回想其他人说过的话。
仔细聆听别人的世界的模型，然后，在你答复他们之前，在你自己的脑海里建立起他们的模型。

每天和1-5个不同的人练习1分钟。
一个月之后，你的社交技巧将会如火箭般提升。</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
