<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/ria/chart-antv.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>antv and bizcharts</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: antv and bizcharts
date: 2020-01-13
updated: 2020-01-13
---
# Antv &amp; bizcharts

# style
## padding
https://bizcharts.net/products/bizCharts/docs/qa 设置padding 解决留白

    &lt;Chart height={window.innerHeight} width={&quot;100%&quot;} height={130} padding={[0, 0, 0, 0]} data={periodDv} scale={scale} forceFit &gt;

# data set

    const ds = new DataSet();
    const dv = ds.createView().source(aveTime);
    dv.transform({
        type: &#x27;fold&#x27;,
        fields: [&#x27;aveExecutionTime&#x27;, &#x27;aveQueueWaitTime&#x27;],
        key: &#x27;type&#x27;,
        value: &#x27;value&#x27;,
    });


# geom

    // 柱形
    &lt;Geom type=&quot;interval&quot;/&gt;
    // 面积
    &lt;Geom type=&quot;area&quot;/&gt;

柱的大小：

    &lt;Geom type=&quot;interval&quot; size={10}/&gt;


# 轴
## 横轴
指定轴的数据是时间、还是线性... lineNear vs time

    scale = {
        year: {
            type: &quot;linear&quot;,
            tickInterval: 50
        }

        startDate: {
            type: &#x27;time&#x27;,
            tickCount: 8,
            mask: &#x27;YYYY-MM&#x27;,
        },
    }

## 纵轴
给纵轴数据值加 label 单位k, 或者其它（`%`,`km`...）

    &lt;Axis
        name=&quot;value&quot;
        label={{
            formatter: val =&gt; {
            return (val / 10000).toFixed(1) + &quot;k&quot;;
            }
        }}
    /&gt;

# 各元素
## yAxis 名
聚合轴名

    const scale = {
        type: {
            formatter: k =&gt; {
                return { aveExecutionTime: &#x27;执行时长&#x27;, aveQueueWaitTime: &#x27;排队时长&#x27; }[k];
            }
        },
        price:{
            alias: &#x27;价格&#x27;
        }
    };

### Label
Label 一般用于圆饼图标签

        &lt;Geom
            type=&quot;intervalStack&quot;
            position=&quot;percent&quot;
            tooltip={[
              &quot;item*percent&quot;,
              (item, percent) =&gt; {
                percent = percent * 100 + &quot;%&quot;;
                return {
                  name: item,
                  value: percent
                };
              }
            ]}
          &gt;
            &lt;Label
              content=&quot;percent&quot;
              formatter={(val, item) =&gt; {
                return item.point.item + &quot;: &quot; + val;
              }}
            /&gt;
          &lt;/Geom&gt;

## Axis
Axis 是不分纵横的。

    &lt;Axis name=&quot;year&quot; title/&gt;
    &lt;Axis name=&quot;value&quot; title/&gt;
    &lt;Geom type=&quot;areaStack&quot; position=&quot;year*value&quot; /&gt;


### Axis label
&gt;api: https://bizcharts.net/product/bizcharts/category/7/page/26

formatter + offset

    &lt;Axis name=&quot;value&quot; label={
        { 
            formatter: val =&gt; { return (val / 10000).toFixed(1) + &quot;k&quot;; },
            offset: 12,
            autoRotate: false,
        }
    } /&gt;

label textStyle

    label={ offset:200,
       textStyle: {
            fontSize: &#x27;22&#x27;,
            textAlign: &#x27;right&#x27;,
            fontWeight: &#x27;bold&#x27;,
        }, 
    }

### Axis title
&gt; title 的object|string|null 与 Axis.label一样
必须和geom 中的一样指定name：

    const scale = {
        country: { alias: &#x27;里程&#x27; },
    }

    &lt;Axis name=&quot;country&quot; title /&gt;
    &lt;Geom type=&quot;interval&quot; position=&quot;country*population&quot; /&gt;


### Axis position

     &lt;Axis name=&quot;value&quot; position={&#x27;right&#x27;} /&gt;

## 分组fold
https://bizcharts.net/products/bizCharts/demo/detail?id=g2-clustered-stacked&amp;selectedKey=%E6%A6%82%E8%A7%88
https://codepen.io/ahuigo/pen/jOEMBed?&amp;editable=true

    const ds = new DataSet();
    const dv = ds.createView().source(data);
    dv.transform({
        type: &#x27;map&#x27;,
        callback(row) {
            row.ave_execution_time /= 3600;
            row.ave_queue_wait_time /= 3600;
            return row;
        }
    }).transform({
        type: &#x27;fold&#x27;,
        fields: [&#x27;ave_execution_time&#x27;, &#x27;ave_queue_wait_time&#x27;],
        key: &#x27;time&#x27;,
        value: &#x27;value&#x27;,
    })


### 根据值分类
像这样：
https://bizcharts.net/products/bizCharts/demo/detail?id=area-stacked&amp;selectedKey=%E7%82%B9%E5%9B%BE
https://codepen.io/ahuigo/pen/YzPGZmr

    const data = [
      {
        country: &quot;Asia&quot;,
        year: &quot;1750&quot;,
        value: 502
      },
      {
        country: &quot;Asia&quot;,
        year: &quot;1800&quot;,
        value: 635
      },
      {
        country: &quot;Africa&quot;,
        year: &quot;1750&quot;,
        value: 106
      },
      {
        country: &quot;Africa&quot;,
        year: &quot;1800&quot;,
        value: 107
      },
    ]
    &lt;Geom type=&quot;line&quot; position=&quot;year*value&quot; color=&quot;country&quot; /&gt;

color 取数据field

## Tooltip
https://www.yuque.com/antv/g2-docs/api-tooltip#tg6xkz
https://bizcharts.net/products/bizCharts/demo/detail?id=area-stacked&amp;selectedKey=%E7%82%B9%E5%9B%BE
悬浮提示

    &lt;Tooltip crosshairs={{ type: &quot;cross&quot; }} /&gt;

### tooltip format
https://bizcharts.net/products/bizCharts/api/geom

    &lt;Geom
    tooltip={[&#x27;sales*city&#x27;, (sales, city)=&gt;{
        return {
        name:&#x27;xxx&#x27;,
        value:city + &#x27;:&#x27; + sales
        }
    }]}

### tooltip value format

    // year*value
    const scale = {
      value: {
        alias: &quot;价格&quot;,
        formatter: function(val) {
          return &quot;$&quot; + val;
        }
      },
      year: {
        range: [0, 1]
      }
    };

## Legend 图例
多条线fold/或多线, 它是图例
https://bizcharts.net/products/bizCharts/demo/detail?id=area-stacked&amp;selectedKey=%E7%82%B9%E5%9B%BE

    &lt;Legend /&gt;</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
