<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/ria/css-layout.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>css 布局</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: css 布局
date: 2018-03-03
updated: 2021-03-25
---
# 参考
&gt; 参考: http://zh.learnlayout.com/position.html

# display
1. block: This makes the element a block box. It won&#x27;t let anything sit next to it on the page! *It takes up the full width*.
2. inline-block: This makes the element a block box, but will allow other elements to sit next to it on the *same line*.
3. inline: Makes the element sit on the same line as another element. only takes up as much width as it needs(*width/height:auto*)
4. none: disappear from the page entirely!

# container, 容器
1. block, 块容器 
1. flex 容器
1. table 容器
1. inline-[block|flex|...] 行内级


## box
box 的 horizonal 水平居中
居中的前提是要先设置盒子的大小:

    .box{
        margin: 0 auto;
        max-width: 500px;
        box-sizing: border-box; //将border, padding 也作为盒模型width的一部分
    }

## column
吧文本分成 column 3列

    p{
        column-count: 3;
        column-gap: 1em;
    }

## hide scrollbar

    .hideScrollBar::-webkit-scrollbar{ 
        width: 0 !important ;
        height: 0 !important ;
    }

## img 
img 会超出div范围, 可以用max-width 限制

    &lt;img style=&#x27;max-height: 100%; max-width: 100%; &#x27;/&gt; 

## table
https://css-tricks.com/almanac/properties/t/table-layout/

    table-layout: fixed; //等宽效果: 

### border
    table{
        border-collapse: collapse
    }

### row
    .topics tr { line-height: 14px; }

### td 换行
可以采用：

    td{    
        height: 14px; white-space: nowrap; 
        width=&quot;pixels|%&quot;
    }

td 内容有时会撑大单元格，可以加word-break: 

    td{
        overflow-wrap: break-word;
    }

#### td 等宽度
    &lt;table style={table-layout: fixed;}&gt;

## ul/li自适应(百分比)
### 下拉菜单列表
http://imweb.io/topic/559f902a3d7bb8096b69cfdd

    &lt;parent&gt;
        position: relative;
    &lt;li child&gt; 列表
        position: absolute;
        top: 100%;

#### 策略
    &lt;ul&gt;        .self{block}       -&gt; none   (.self.active: block)
        &lt;li&gt;    .child inline -&gt; block+absolute  display
        抽屉    .self postion  -&gt; absolute       position
        wrap   .parent flex    -&gt; block          flex 

### ul,li空白
li 之间如果有空白，去掉的方式有几种

     ul{font-size:0}
     //或
     ul { display: flex; }


# 位置的css 核心属性

## float
float 因为自己漂浮起来，导致`下面的块`的滑动，`上面的块`不会滑动: `自己`float 不会挤上面的空间
1. 下面的float 块按宽度往上挤的效果(属性为float:left/right 且有空间)
2. 非float 块, 会向上移动(注意: 文字不是block, 本身会排斥float 块, 所以文字不会向上移动)
3. 文字不会去挤压float 块，产生文字环绕的效果

### 关于float+clear: 
1. parent 有height时，`下面的块`不会滑动上去(本质上的原因是，float 本身不占用parent.height)
1. clear 是告诉自己不要往左上、右上挤，
2. 也不要去填补 float 浮动起来后的空位

e.g.

    &lt;div style=&quot;float:left&quot;&gt;&lt;/div&gt;
    &lt;div style=&quot;clear:left&quot;&gt;我遇到了clear:left，不会往左上挤&lt;/div&gt;

    # clear 内部无效(冲突的)
    &lt;div style=&quot;float:left; background:red;&quot;&gt;你好&lt;div style=&quot;clear:left&quot;&gt;&lt;/div&gt;&lt;/div&gt;

    # 自己清理
    &amp;::after: {
        clear: &quot;both&quot;,
        content: &quot;&quot;,
        display: &quot;table&quot;
    }

example:

    nav {
        float: left;
        width: 200px; #  width: 25%;
    }
    section {
        margin-left: 200px;
    }

### overflow
浮动元素不占用父容器的宽高，可能会溢出容器，可以加overflow, item 会继承的(flex box也如此):

    overflow: hidden; #浮动元素不会被hidden，而会撑大容器
    overflow: auto; #浮动元素不会被hidden，而会撑大容器
    overflow: scroll; #浮动元素不会被hidden，而会撑大容器

    &lt;style type=&quot;text/css&quot;&gt;
    div {
        background-color:#00FFFF;
        width:50px;
        height:50px;
        overflow: scroll;
    }
    .sub{width:100px;height:100px;background:red}
    &lt;/style&gt;
    &lt;div&gt;&lt;div class=&quot;sub&quot;&gt;abc&lt;/div&gt;&lt;/div&gt;

#### img + overflow

    .img-wrapper{
        max-width:100%;
        max-height:100%;
        overflow:auto;
    }
    img { border: 0; }

#### overflow + list-style conflict
包一层div 避免conflict

    &lt;div style=&quot;overflow:hidden&quot;&gt;
        &lt;ol style=&quot;list-style-type: decimal;&quot;&gt;
    &lt;/div&gt;

## inline-block 代替float
float+clear 多麻烦，我们用inline-block:
1. vertical-align 属性会影响到 inline-block 元素，你可能会把它的值设置为 top 。(默认bottom)
2. 你需要设置每一列的宽度
2. 如果HTML源代码中元素之间有空格，那么列与列之间会产生空隙

e.g.1. https://codepen.io/ahuigo/pen/ZqYVmv
e.g.2. http://zh.learnlayout.com/inline-block-layout.html

    nav {
        display: inline-block;
        vertical-align: top; /* default: bottom*/
        width: 25%;
    }
    .column {
        display: inline-block;
        vertical-align: top;
        width: 75%;
    }


example

    这是一幅&lt;img stype=&quot;vertical-align:top&quot; src=&quot;/i/eg_cute.gif&quot; /&gt;位于段落中的图像

## margin
margin 控制的是相邻元素之间的border 外边界间距。float和普通元素的margin则指与容器内的`padding内边界`的间距

	Inherited: no

    &lt;div style=&quot; background: red; width: 200px; height: 200px;
        border: 10px solid rebeccapurple;
        padding: 1px; 
    &quot;&gt;
        &lt;div style=&quot; float: left; width: 100px; height: 100px; background: green;
            margin-top: 5px;
        &quot;&gt;&lt;/div&gt;

边距:

1. 两相邻div的margin值, 同为正/负, 取绝对值最大的, 否则相加
2. 如果当前元素是float-right, 那么以margin-right为准, 而非margin-left.

### margin in flex container
flex 内部，s1 与 s2 之间距不是max(s1,s2) 而是s1+s2

    &lt;div style=&quot;display:flex&quot;&gt;
        &lt;div class=&quot;s1&quot; style=&quot;margin:5px&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;s2&quot; style=&quot;margin:5px&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;

### margin 的原点坐标
1. 两个div 之间：border 外沿
    2. 如果当前元素是float, 则margin就是距离其下元素的border外沿的距离.
2. parent/child 之间：
    1. parent有border_or_padding: **child/parent&#x27;s padding 内边界**; parent/不影响
    2. parent 无border+无padding: 
        1. all child has float: child/parent&#x27;s padding 内边界; parent/不影响
        2. any child not float: `first non-float child&#x27;s margin-top传parent`; **parent/first non-float child 二者的margin绝对值最大者**(no border/padding/float)

当前元素或者(或者父元素)是float的元素,margin 由于浮动起来了，不再影响父容器，但是child&#x27;s margin 起点是parent&#x27;s padding内边界开始

    &lt;div id=&quot;parent&quot;&gt;
        &lt;div style=&quot;width: 100%;height: 50px;background: yellow;float:left;&quot;&gt;&lt;/div&gt;
        &lt;div style=&quot;margin-top: 45px; &quot;&gt;&lt;/div&gt;
    &lt;/div&gt;

## position
只有 static 元素它不会被“positioned”

	Inherited: no
	position:
		static; 默认(left/top 不生效, 不会被“positioned”)
		relative; 相对本元素static 的偏移, 会占用父元素的位置
            不会影响别的兄弟节点
		absolute; 相对于父级“positioned”祖先元素的偏移, 如果没有则以当前视窗为基准
            不占用位置，兄弟节点会填补位置，用z-index:-1 不会遮蔽 

		fixed; 以整个视窗为基准,不受鼠标滚动影响

		relative/absolute以parent positioned 结点为基准
            没有positioned 的话，则以: window.innerWidth/innerHeight 为基准


### relative/static + height percent
When you set a percentage height on an element who&#x27;s parent elements(包括static/relative).
严重依赖parent height

Summary
1. absolute 么有这个毛病: 严格依赖 parent positioned 一定有height
2. static/relative: 依赖parent, 以下两种parent 的height 都有效
   1. 依赖parent 的height：`html,body{height:100%}`
   1. 依赖parent 的`flex:1`

解决有几种方案：
1. 自己变absolute
2. set a 100% height on all your parent elements

更好的方案可能是：

    body{height:100vh}

## media
“响应式设计（Responsive Design”) 要借助媒体查询

    @media screen and (min-width:600px) {
    nav {
        float: left;
        width: 25%;
    }
    section {
        margin-left: 25%;
    }
    }
    @media screen and (max-width:599px) {
    nav li {
        display: inline;
    }
    }
</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
