<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/ria/js-ajax.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>js ajax legacy</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: js ajax legacy
date: 2018-10-06
updated: 2018-10-06
---
# js ajax legacy

## prototype
	var xhr=new XMLHttpRequest();
    xhr.onload=function(ProgressEvent){}
	xhr.open(&quot;POST&quot;,&quot;http://hilo.sinaapp.com/header.php?demo&quot;,true);//默认true 异步
	xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);
	xhr.setRequestHeader(&#x27;Accept&#x27;, &#x27;application/json&#x27;);
	xhr.setRequestHeader(&#x27;X-Requested-With&#x27;, &#x27;XMLHttpRequest&#x27;);
	xhr.send(&quot;xuehui1=1&amp;xuehui2=2&quot;);

## listener
所有的e.target 指向xhr

        # download
		xhr.addEventListener(&quot;load&quot;, uploadProcess, false); //e is ProgressEvent
		xhr.addEventListener(&quot;loadstart&quot;, func, false);
		xhr.addEventListener(&quot;loadend&quot;, func, false);
		xhr.addEventListener(&quot;error&quot;, uploadFailed, false);
		xhr.addEventListener(&quot;abort&quot;, uploadCanceled, false);

### upload progress

        # upload
		xhr.upload.addEventListener(&quot;progress&quot;, uploadProgress, false); //e is ProgressEvent

        &lt;progress max=&quot;100&quot; value=&quot;0&quot;&gt;&lt;/progress&gt;

### download progress

    xhr.onload = function(e){
        //e is ProgressEvent
        if(e.lengthComputable){
            e.loaded/e.total
        }
    }

### onreadystate

	xhr.onreadystatechange=function(e) { //e = Event
		if (xhr.readyState==4 &amp;&amp; xhr.status==200) {
			var a=xhr.response;
            var contentType = xhr.getResponseHeader(&quot;Content-Type&quot;);
		}//redayState=!4 请求还在继续
	}

## Request
### chunk upload
demo: [js-lib/chunk/](js-lib/chunk/)
refer: http://stackoverflow.com/questions/7853467/uploading-a-file-in-chunks-using-html5

	function sendRequest() {
		var blob = document.getElementById(&#x27;fileToUpload&#x27;).files[0];
		const BYTES_PER_CHUNK = 2000; // 2kb chunk sizes.
		const SIZE = blob.size;
		var start = 0;
		var end = BYTES_PER_CHUNK;
		while( start &lt; SIZE ) {
			var chunk = blob.slice(start, end);
			uploadFile(chunk);
			start = end;
			end = start + BYTES_PER_CHUNK;
		}
	}

	function uploadFile(blobFile) {
		var fd = new FormData();
		fd.append(&quot;fileToUpload&quot;, blobFile);
		fd.append(&quot;var&quot;, &#x27;value&#x27;);

		var xhr = new XMLHttpRequest();
		xhr.open(&quot;POST&quot;, &quot;upload.php&quot;);
		xhr.send(fd);
	}

## Add form listener:

	$(&#x27;form&#x27;).submit(function(event) {
        event.preventDefault();

		//ajax....uploading code
		var oReq = new XMLHttpRequest();
		oReq.open(&quot;POST&quot;, &quot;stash.php&quot;, true);
		oReq.onload = function(oEvent) {
			if (oReq.status == 200) {... }
		};
		oReq.send(formData);
    });

&gt; here is an demo:
http://stackoverflow.com/questions/166221/how-can-i-upload-files-asynchronously

# Response
# ResponseType:json

    url = &#x27;https://ajax.googleapis.com/ajax/services/search/images?v=1.0&amp;q=http://m.weibo.cn&#x27;
	var x = new XMLHttpRequest();
	x.open(&#x27;GET&#x27;, url);
	x.responseType = &#x27;json&#x27;;
	x.onload = function(){
		res = x.response;
		console.log(res);//json
	}
</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
