<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/ria/js-dom-html5.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>html5 笔记</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: html5 笔记
date: 2019-07-13
updated: 2019-07-13
---
# Tag

## Forms
属性

    enctype=&quot;multipart/form-data&quot;
        default content-type: application/x-www-form-urlencoded
	autocomplete(自动完成)
		autocomplete=&quot;off&quot; //默认自动完成是on
    onsubmit=&quot;return callback()&quot; //return: true/false
    onsubmit=&quot;callback()&quot; //不行！return 才能break

## button
button will auto submit by default  `type=&quot;submit&quot;`, change it to:

    &lt;button type=&quot;button&quot;&gt;My Button&lt;/button&gt;

## Input
没有name，form 不会提交

	&lt;input type=&quot;input&quot; readonly name=&quot;creator&quot; value=&quot;hilo&quot;&gt;
	email:	&lt;input type=&quot;email&quot; name=&quot;xxx&quot; /&gt;
	url:	&lt;input type=&quot;url&quot; name=&quot;xxx&quot; /&gt;
	number:	&lt;input type=&quot;number&quot; name=&quot;points&quot; min=&quot;1&quot; max=&quot;10&quot; /&gt;
	range: &lt;input type=&quot;range&quot; name=&quot;points&quot; min=&quot;1&quot; max=&quot;10&quot; /&gt;
	date:
		date, time, datetime-local, 
        month, week
        &lt;input type=&quot;datetime-local&quot; value=&quot;2010-12-11T10:00:00&quot;&gt;
        &lt;input type=&quot;date&quot; value=&quot;2015-07-01&quot;&gt;
    color:
    image:

multiple(多选)

    &lt;input type=&quot;file&quot; name=&quot;img&quot; multiple=&quot;multiple&quot; /&gt;

### Datalist-Option
Select-Option

	&lt;select name=&quot;browser&quot;&gt;
		&lt;option value=&quot;firefox&quot;&gt;Firefox&lt;/option&gt;
		&lt;option value=&quot;chrome&quot;&gt;Chrome&lt;/option&gt;
		&lt;option value=&quot;opera&quot;&gt;Opera&lt;/option&gt;
		&lt;option value=&quot;safari&quot;&gt;Safari&lt;/option&gt;
	&lt;/select&gt;

Datalist-Option:
1. 需要id与list绑定
1. 用户可做任意修改数据

	&lt;input type=text list=browsers&gt;
	&lt;datalist id=browsers&gt;
		&lt;option value=&quot;Firefox&quot;&gt;
		&lt;option value=&quot;Chrome&quot;&gt;
		&lt;option value=&quot;Opera&quot;&gt;
		&lt;option value=&quot;Safari&quot;&gt;
	&lt;/datalist&gt;

## detail

    this.open = false/true
    &lt;details open&gt;
        &lt;summary&gt;Header&lt;/summary&gt;
    &lt;/details&gt;

##　video

	node.play();
	node.pause();
	node.load();

	  &lt;video id=&quot;video1&quot; width=&quot;420&quot; style=&quot;margin-top:15px;&quot;&gt;
		&lt;source src=&quot;/example/html5/mov_bbb.mp4&quot; type=&quot;video/mp4&quot; /&gt;
		&lt;source src=&quot;/example/html5/mov_bbb.ogg&quot; type=&quot;video/ogg&quot; /&gt;
		Your browser does not support HTML5 video.
	  &lt;/video&gt;

## radio

## drag

	&lt;img draggable=&quot;true&quot; /&gt;

### 拖动什么 - ondragstart 和 setData()
	ondragstart = function drag (ev){
		ev.dataTransfer.setData(&quot;Text&quot;,ev.target.id);
	}

### 目标区行为ondragover
	//否则目标区不会接受drop行为
	ondragover=&quot;allowDrop(event)&quot;
	function allowDrop(ev) {
		ev.preventDefault();
	}
### 开始放置drop
	ondrop = function drop(ev){
		ev.preventDefault();
		var data=ev.dataTransfer.getData(&quot;Text&quot;);
		ev.target.appendChild(document.getElementById(data));
	}

## Canvas
https://www.liaoxuefeng.com/wiki/001434446689867b27157e896e74d51a89c25cc8b43bdb3000/00143449990549914b596ac1da54a228a6fa9643e88bc0c000#0

	&lt;canvas id=&quot;my&quot; width=&quot;200&quot; height=&quot;100&quot;&gt;&lt;/canvas&gt;

	var c=document.getElementById(&quot;my&quot;);
	//context 对象
	var cxt=c.getContext(&quot;2d&quot;);
	//画矩形
	cxt.fillStyle=&quot;#FF0000&quot;;
	cxt.fillRect(0,0,150,75);
	//画线
	cxt.moveTo(10,10);//提笔移动
	cxt.lineTo(150,50);//执笔画线
	cxt.lineTo(10,50);
	cxt.stroke();//收笔

	//画圆
	cxt.fillStyle=&quot;#FF0000&quot;;
	cxt.beginPath();
	cxt.arc(70,18,15,0,Math.PI*2,true);
	cxt.closePath();
	cxt.fill();

	//渐变
	var grd=cxt.createLinearGradient(0,0,175,50);
	grd.addColorStop(0,&quot;#FF0000&quot;);
	grd.addColorStop(1,&quot;#00FF00&quot;);
	cxt.fillStyle=grd;
	cxt.fillRect(0,0,175,50);

	//画片
	var img=new Image()
	img.src=&quot;flower.png&quot;
	cxt.drawImage(img,0,0);

### Text

	cxt.fillStyle = &quot;blue&quot;;
	cxt.font = &quot;bold 16px Arial&quot;;
	cxt.fillText(&quot;Zibri&quot;, 0, 20);//(0,20)是文字的左下角, 又好像是(0,21)

### clear

	cxt.clearRect(0,0,w,h);

## svg
SVG 意为可缩放矢量图形（Scalable Vector Graphics）

	Canvas
        依赖分辨率
        不支持事件处理器
        弱的文本渲染能力
        能够以 .png 或 .jpg 格式保存结果图像
        最适合图像密集型的游戏，其中的许多对象会被频繁重绘
	SVG
        不依赖分辨率
        支持事件处理器
        最适合带有大型渲染区域的应用程序（比如谷歌地图）
        复杂度高会减慢渲染速度（任何过度使用 DOM 的应用都不快）
        不适合游戏应用

# Location(navigator.geolocation)
	navigator.geolocation.getCurrentPosition(showPos, showErr);
	funciton showPos(pos){
		x = pos.corrds.latitude;
		y = pos.corrds.longtitude;
	}
	function showErr(err){
		switch(err.code){
			case err.PERMISSION_DENIED: break;
			case err.POSITION_UNAVAILABLE: break;
			case err.TIMEOUT: break;
			case err.UNKNOWN_ERROR: break;
		}
	}

其它方法:

	watchPosition() - 返回用户的当前位置，并继续返回用户移动时的更新位置（就像汽车上的 GPS）。
	clearWatch() - 停止 watchPosition() 方法

# web存储
	localStorage.name
	sessionStorage.name

# Web Workers
web worker 是运行在后台的 JavaScript，不会影响页面的性能。
&gt;双出了 navigator.serviceWorker.register(&#x27;/sw-test.js&#x27;);
&gt; worker 里面是self 不是window: https://www.zhangxinxu.com/wordpress/2017/07/js-window-self/
https://www.zhangxinxu.com/wordpress/2017/07/service-worker-cachestorage-offline-develop/

##创建web worker文件

		var i=0;
		function count(){
			i++;
			postMessage(i);
			setTimeout(&quot;count()&quot;,500);
		}
		count();

## 引入worker

		w = new Worker(&#x27;worker.js&#x27;);
		w.onmessage = function(ev){
			console.log(ev.data);
		}
		w.terminate();

&gt;由于 web worker 位于外部文件中，它们无法访问下例 JavaScript 对象：
`window/document/parent`.

##  Channel Messaging API 
 Channel Messaging API allows two separate scripts running in different browsing contexts attached to the same document (e.g., two IFrames, or the main document and an IFrame,

# server-sent event 服务器发送事件
Server-Sent 事件指的是网页自动获取来自服务器的更新。
以前也可能做到这一点，前提是网页不得不询问是否有可用的更新。通过服务器发送事件，更新能够自动到达。

SSEs 使用的还是http 协议，不过它封装了：setInterval(retry)+ ajax + event, 它是单向通道(unidirectional channel),

由服务端决定何时响应event+data: 通过retry 指定重试时间(默认3秒)，或者服务器端可以用while(1) + sleep 做连接保持

- Polling: ajax. It&#x27;s shortcoming is create greater http overhead.
- Long polling (Hanging GET / COMET): 长连接和 iframe 流方式(利用其src属性在服务器和客户端之间建立一条长链接，服务器向iframe传输数据). 将来会被WebSocket 取代

When communicating using SSEs, a server can push data to your app whenever it wants(via retry), without the need to make an initial request. In other words, updates can be streamed from server to client as they happen.

SSEs open a single *unidirectional channel* between server and client.(因为http1.1是单工的sigplex)

## 服务器端a.php

	header(&#x27;Content-Type: text/event-stream&#x27;);//务器端事件流 &quot;Content-Type&quot; 报头设置为 &quot;text/event-stream&quot; 服务器端控制轮询间隔
	header(&#x27;Cache-Control: no-cache&#x27;);

	$time = date(&#x27;r&#x27;);
	echo &quot;data: The server time is: {$time}\n\n&quot;;
	flush();

### Data
Multiline Data

	: this is a comment
	data: first line\n
	data: second line\n\n

JSON Data:

	data: {\n
	data: &quot;msg&quot;: &quot;hello world&quot;,\n
	data: &quot;id&quot;: 12345\n
	data: }\n\n

or:

	data: {&quot;msg&quot;: &quot;hello world&quot;,&quot;id&quot;: 12345 }\n\n

Associating an ID with an envent:

	id: 12345\n
	data: GOOG\n
	data: 556\n\n

Controlling the Reconnection-timeout in 10 seconds

	retry: 10000\n
	data: hello world\n\n

Specifying an event name

	data: {&quot;msg&quot;: &quot;First message&quot;}\n\n
	event: userlogon\n
	data: {&quot;username&quot;: &quot;John123&quot;}\n\n
	event: update\n
	data: {&quot;username&quot;: &quot;John123&quot;, &quot;emotion&quot;: &quot;happy&quot;}\n\n

Refer to: http://www.html5rocks.com/en/tutorials/eventsource/basics/

## Client端

	source = new EventSource(&#x27;/b.php&#x27;);
	source.onmessage = function(ev){console.log(ev.data);}
	//source.onerror
	//source.onopen
	//source.close();

	source.addEventListener(&#x27;message&#x27;, function(e) {
	  console.log(e.data);
	}, false);

	source.addEventListener(&#x27;open&#x27;, function(e) {
	  console.log(&#x27;open&#x27;);// Connection was opened.
	}, false);

	source.addEventListener(&#x27;error&#x27;, function(e) {
	  if (e.readyState == EventSource.CLOSED) {
		// Connection was closed.
	  }
	}, false);

## Security
SSEs 是可以跨域的，server 端应该判断响应的Origin:

	source.addEventListener(&#x27;message&#x27;, function(e) {
	  if (e.origin != &#x27;http://example.com&#x27;) {
		alert(&#x27;Origin was not http://example.com&#x27;);
		return;
	  }
	  ...
	}, false);

# copy &amp; paste

## copy

### copy text
JavaScript copy to clipboard isn&#x27;t available because of security which also mean that jQuery isn&#x27;t able to copy the text to clipboard. You can do it with flash.
Or:

	window.prompt(&quot;Copy to clipboard: Ctrl+C, Enter&quot;, text);


# Data

    &lt;tag data-key=&quot;abc&quot;&gt;

## dataset
html5 的dataset 对象

　　element.dataset.key = string_only;

jquery:

    $(element).data(&#x27;key&#x27;, &#x27;value&#x27;);
    element.dataset.key // undefined

    $(element).attr(&#x27;data-key&#x27;, &#x27;value&#x27;);

# history

## pushstate
不刷新页面ajax
http://www.cnblogs.com/xuchengzone/archive/2013/04/18/html5-history-pushstate.html
- help.gitbook.io

Example:

	var stateObj = { foo: &quot;bar&quot; };
	history.pushState(stateObj, title=&quot;page 2&quot;, &quot;bar2.html&quot;);
	//title 可能不生效

## event

	window.onpopstate = function(event) {
		alert(&quot;location: &quot; + document.location + &quot;, state: &quot; + JSON.stringify(event.state));
	};
</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
