<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/ria/node-npm.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>command</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: command
date: 2018-10-04
updated: 2019-03-13
---
# command

    npm list -g; # global
    npm list; # local
    npm dedupe -g; # Reduce duplication

## run
http://www.ruanyifeng.com/blog/2016/10/npm_scripts.html

    &quot;scripts&quot;: {
        &quot;test&quot;: &quot;jasmine --config=jasmine.json&quot;,
        &quot;test:unit&quot;: &quot;npm test -- test/unit/**/*-spec.js&quot;,
        &quot;test:specs&quot;: &quot;npm test -- test/specs/**/*-spec.js&quot;,
        &quot;test:lint&quot;: &quot;eslint bin/marked .&quot;,
        &quot;test:redos&quot;: &quot;eslint --plugin vuln-regex-detector --rule &#x27;\&quot;vuln-regex-detector/no-vuln-regex\&quot;: 2&#x27; lib/marked.js&quot;,

        //internal
        &quot;start&quot;: &quot;node server.js&quot;，
        &quot;install&quot;: &quot;node-gyp rebuild&quot;

        //hooks: build, install, start....
        &quot;prebuild&quot;: &quot;echo I run before the build script&quot;,
        &quot;postbuild&quot;: &quot;echo I run after the build script&quot;
    }


    npm run test:unit
    npm run test:lint

    # security
    npm run test:redos

    # specs
    npm run test:specs

### npx
下面三种等价

    &quot;scripts&quot;: {
        &quot;build&quot;: &quot;npx webpack&quot;
    },
    $ node_modules/.bin/webpack
    $ npx webpack
    $ npm run build


## short cmd

    npm start是npm run start
    npm stop是npm run stop的简写
    npm test是npm run test的简写
    npm restart是npm run stop &amp;&amp; npm run restart &amp;&amp; npm run start的简写

# repo

    # temp
    npm --registry https://registry.npm.taobao.org install &lt;package&gt;

    # persistance
    npm config set registry https://registry.npm.taobao.org
    # verify
    npm config get registry

自动切换源, nrm是个npm镜像管理工具，可以很方便的切换镜像源

    npm i nrm -g
    nrm use npm

# npm help
    npm help install

# npm install
安装之前，会先检查，`node_modules`目录之中是否已经存在指定模块。 如果存在，就不再重新安装了，即使远程仓库已经有了一个新版本，也是如此。

如果你希望强制重新安装，可以使用-f或--force参数。

    $ npm install &lt;packageName&gt; --force
    $ npm update &lt;packageName&gt;

## 模块的安装过程
Node模块的安装过程是这样的。

1. 发出npm install命令
2. npm 向 registry 查询模块压缩包的网址
3. 下载压缩包，存放在`~/.npm`目录
4. 解压到`node_modules目录`. e.g. `/usr/local/lib/node_modules`
5. 但是，运行npm install的时候，只会检查node_modules目录，而不会检查~/.npm目录。也就是说，如果一个模块在～/.npm下有压缩包，但是没有安装在node_modules目录中，npm 依然会从远程仓库下载一次新的压缩包。

### package.json update
wirte package dependency to devDep:

    -D, --save-dev
    npm install -D 

wirte package dependency to dep:

    -P, --save # This is default

## registry
npm update命令怎么知道每个模块的最新版本呢？

2. 以 npmjs.org 为例，它的查询服务网址是 https://registry.npmjs.org/ 。
3. 这个网址后面跟上模块名，就会得到一个 JSON 对象，里面是该模块所有版本的信息。比如，访问 https://registry.npmjs.org/react，就会看到 react 模块所有版本的信息。

它跟下面命令的效果是一样的。

    $ npm view react

    # npm view 的别名: info show v
    $ npm info react
    $ npm show react
    $ npm v react

返回的 JSON 对象里面，有一个dist.tarball属性，是该版本压缩包的网址。

    dist: {
      shasum: &#x27;2a57c2cf8747b483759ad8de0fa47fb0c5cf5c6a&#x27;,
      tarball: &#x27;http://registry.npmjs.org/react/-/react-0.14.6.tgz&#x27;
    },

## 缓存目录
npm install或npm update命令，从 registry 下载压缩包之后，都存放在本地的缓存目录`~/.npm`。

这个缓存目录，在 Linux 或 Mac 默认是用户主目录下的.npm目录，在 Windows 默认是%AppData%/npm-cache。通过配置命令，可以查看这个目录的具体位置。

    $ npm config get cache
    $HOME/.npm

    $ npm cache ls

你会看到里面存放着大量的模块，储存结构是{cache}/{name}/{version}。

    $ npm cache ls react
    ~/.npm/react/0.14.6/

.npm目录保存着大量文件，清空它的命令如下。

    $ rm -rf ~/.npm/*
    # 或者
    $ npm cache clean

## version spec

    ^1.1.0 匹配 &gt;=1.1.0 且 &lt;2.0.0
    ^0.0.3 匹配 &gt;=0.0.3 且 &lt;0.0.4

    latest 当前发布版本。
    * 匹配 &gt;=0.0.0
    2.* 匹配 &gt;=1.0.0 且 &lt;2.0.0
    1.2.* 匹配 &gt;=1.2.0 且 &lt;1.3.0

    ~0.1.1 匹配 &gt;=0.1.1 且 &lt;0.2.0。
    ~1 匹配 &gt;=1.0.0 且 &lt;2.0.0

    1.30.2 - 2.30.2 匹配 &gt;=1.30.2 且 &lt;=2.30.2

# npm require
&gt; https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders
Node.js will search in the following locations by default:

    1. NODE_PATH=&#x27;path1:path2:&#x27; (global)
    2. ./node_modules (local)
    3. $HOME/.node_modules (global)</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
