<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/ria/React-ref.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>React Ref</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: React Ref
date: 2019-09-07
updated: 2019-11-28
---
# React Ref
Ref 是用来绑定dom 或 Component实例 的

## Dom Ref
ref.current 指向 div

    const ref= React.createRef();
    return &lt;div ref={ref}/&gt;

### 回调Refs
你也可以这样用回调Refs 实现精确的控制:

    &lt;div ref={node=&gt;ref.current=node}/&gt;

回调Refs 更新过程中它会被执行两次，第一次传入参数 null，然后第二次会传入参数 DOM 元素。

    ref={node=&gt; console.log(&#x27;node:&#x27;,node) }

这是因为:
1. 在每次渲染时会创建一个新的函数实例，所以 React 清空旧的 ref 并且设置新的。(卸载null与创建, 参考react-diff)
2. 通过将 ref 的回调函数定义成 class 的绑定函数的方式可以避免上述问题(大多数情况无关紧要)


## 组件Ref
ref.current 指向 Com3

    &lt;Com3 ref={ref}/&gt;

### 函数组件Ref
你不能在函数组件上传递 ref 属性，因为它们没有实例,
不过你可以通过`React.forwardRef` wrap 一层，第二个参数传ref:

    import React from &#x27;react&#x27;;

    const Com2 = React.forwardRef((props, ref) =&gt; {
        console.log({com3:props, ref})
          return &lt;p&gt;
                &lt;button ref={ref} className=&quot;FancyButton1&quot;&gt;
                    {props.children}
                  &lt;/button&gt;
            &lt;/p&gt;
    });

    export default class Com extends React.Component{
        constructor(props){
            super(props)
        }
        componentDidMount(nextProps){
            console.log(this.ref) //ref.current point to h1
            console.log(this.subref) //ref.current point to h1
        }


        render(){
            this.subref = React.createRef();
            //任何对象都 可以 的，e.g.: 
            this.ref= React.createRef();
            this.ref = {}

            return &lt;h1 ref={this.ref}&gt;
                &lt;Com2 a=&quot;1&quot; b=&quot;12&quot; key={2} ref={this.subref}&gt;com2&lt;/Com2&gt;
            &lt;/h1&gt;
        }
    }

Note:
1. 用 React.forwardRef, 它不可控: 孙子组件如何改变它，破坏它不可控
1. 第二个参数 ref 只在使用 React.forwardRef 定义组件时存在。常规函数和 class 组件不接收 ref 参数，且 props 中也不存在 ref。

### 孙子组件ref
由于ref 只能通过forwardRef 向下传递，中间组件传ref 时需要改成别的名：

    return React.forwardRef((props, ref) =&gt; {
        return &lt;MiddleWare {...props} forwardedRef={ref} /&gt;;
    });
    function MiddleWare(props){
        const {forwardRef, ...rest} = props;
        return &lt;Sub ref={forwardRef} {...rest}&gt;
    }

## ref 与生命周期
React 会在组件挂载时给 current 属性传入 DOM 元素，并在组件卸载时传入 null 值。
1. ref 会在 `componentDidMount` 或 `componentDidUpdate` 生命周期钩子触发前更新

## 组件自定义名称Com.displayName
React.forwardRef 接受一个渲染函数。React DevTools 使用该函数来决定为 ref 转发组件显示的内容。

例如，以下组件将在 DevTools 中显示为 “anonymouse:ForwardRef”：

    const WrappedComponent = React.forwardRef((props, ref) =&gt; {
        return &lt;LogProps {...props} forwardedRef={ref} /&gt;;
    });

显示 命名了渲染函数: `“myFunction:ForwardRef”`

    const WrappedComponent = React.forwardRef( function myFunction(props, ref) {
        return &lt;LogProps {...props} forwardedRef={ref} /&gt;;
    });

自定义组件的名称 displayName 属性：

    function logProps(Component) {
        function forwardRef(props, ref) {
            return &lt;Component {...props} forwardedRef={ref} /&gt;;
        }

        const name = Component.displayName || Component.name;
        forwardRef.displayName = `logProps(${name})`;

        return React.forwardRef(forwardRef);
    }

# Refer
1. https://zh-hans.reactjs.org/docs/forwarding-refs.html</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
