<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/eng/eng-verb-tense-taste.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>动词时态, verb tense</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: 动词时态, verb tense
date: 2018-09-27
updated: 2018-10-06
---
# 动词时态, verb tense
## 一般现在时
经常性动作：I leave home at 7:00 am every day.
客观真理：The earth moves around the sun.
格言：Pride goes before a fall. 骄者必败
即使主句是过去式，宾语从句也用一般现在时：Columbus proved that the earth is round.
现在时的状态、能力：I don&#x27;t want so much. Ann writes good English but does not speak well.
瞬间动作：Now I put the sugar in the cup.

### must/need/dare助动词后用一般现在式
He thought that I need not tell yout the truth.

## 一般过去式
1. 过去一段时间内经常的动作或习惯：When I was child, I often played football in the street.
2. 句型It&#x27;s time sb. did sth.(早该): It is time you went to bed. 你早该睡觉了。
    vs: It is time for sb. to do sth.
    would(had) rather sb. did sth.(宁愿某人做某事)
3. 用过去式表示现在式， 表示委婉语气： 
    Did you want anything else?
    Could you lend me your bike?
    
## used to/be used to
used to do 过去常常，现在不了
be used to doing: 对...感到习惯了

## 一般将来式
be going to do 表示主观打算
be to do 表示客观安排或者受人指示而做某事
will do（意愿）

### 一般现在式表示将来式
1. 从句中：He is going to visit his aunt *the day he arrives in Beijing*.
1. 已经确定安排好的事：The train leaves at 7 tomorrow morning.
2. 倒装句表正在进行的动作(不是将来式)：Here comes the bus. = The bus is coming.
3. 在时间或条件句中：When Bill comes(不是will come), ask him to wait for me.
4. 在动词hope, take care that等后：I hope they have a nice time next week.
5. 现在时表将来时：I&#x27;m leaving tomorrow.

## 现在完成时
强调动作发生过： I saw this film yesterday.
强调做过(或持续到现在)：I have seen this film.(看过)
    I have worked here for many years（持续到将来）
    I worked here for many years.(过去工作了几年，已经结束了, 过去的事)
    My book is missing, I have looked for it everywhere but still *haven&#x27;t found* it. （影响到现在）
It is the first time 用现在完成：It&#x27;s the first time I have been here.

### 现在完成时的否定形式，不预测未来
I still don&#x27;t find it.(没有找到，未来也找不到)
I still have not found it.(还没有找到，未来可能会)

## 过去完成时
She said that she had never been to Paris.
状语：Whe the police arrived, the thieves had run away.
表原本：I had hoped that you would come, but you didn&#x27;t.
had no sooner...than.. 刚...就...: He had no sooner bought the car than he sold it.

## 将来完成时
状态完成：They will have been married for 20 years by then.
动作完成：You will have reached Shanghai by this time tomorrow.

## 现在进行时
You are always changing your mind.
The leaves are turning red.
动作/状态持续进行：My book is missing.

## 将来进行式
I&#x27;ll be coming soon.

# 动词语态, verb taste
## 主动语态与被动语态
被动动词+加to不定式:
    The teacher made me go out of the classroom.
    I was made to go out of the classroom.

let 使役动词被动不用加to:    
    They let me go.
    I was let go
    
it is suggested/said/thought/... + that + ....

## 无被动语态
不及物动词无被动语态
The price has risen.
The price has been risen.(错，rise是不及物)

let 后宾补太长，常用用allow/permit 代替
    The nurse let me go to see my classmate.
    I was permitted to go to see my classmate.

## 被动用主动表示：
    This key just fits the lock.
    It sounds good.
    The book sells well.
    Much work remains
need/require/want/worth... + 动名词(=to be done)
    The room needs cleaning.(need to be cleaned.)
    The book is worth reading(to be readed)
made sb. heard/understood/... sth.
have sth. done.(sth. 被完成)

## 主动用被动表示
He is granduated from a famouse university. 他毕业于...

marry sb. == get married to sb.
    He married a rich girl.
    He got married to a rich girl.</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
