<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/eng/eng-pronoun.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>Pronoun</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: Pronoun
date: 2018-09-27
updated: 2018-10-06
---
# Perface
人称代词
personal pronoun
指示代词
demonstrative pronoun

# 人称代词的用法

## 人称代词personal

    格          主格    宾格    主格    宾格
    第一人称    I       me      We      us
    第二人称    you     you     you     you
    第三人称    he      him     they    them
                she     her     they    them
                it      it      they    them

### 人称代词用法
I was taken to be her. 我被当成了她。
They took me to be her. 他们把我被当成了她。

## 物主代词,Substitute pronouns
形容词性

    第一人称    my  our
    第二人称    your     your
    第三人称    his     their
                her     their
                its     its

名词性

    第一人称    mine     ours
    第二人称    yours     yours
    第三人称    his     theirs
                hers    theirs
                its     its

### 双重所有格
物主代词不可与a,an,this,that,some,each 等一起前置。只能：

    a/an/this.. + 名词 of 名词性物主代词
    a friend of mine.
    each brother of his.
    
### 人称代词的主宾格
主格(The nominative case)用作主语，宾格(The objective case)用作宾语，所有格(The possessive case)则表示所有之物。

1. I give him a book. 这里的give 是动词，him 是give 的宾语, 就是宾格.I是主格
2. She speaks to me. 这里的to 是介词，它后面的me在英语语法中称宾语，因此也要用宾格。

## 指示代词
指示代词可作主语宾语表语、名词限定：this/that, these/those

that/those（this/these不行）常用于定语从句, 
one 代替可数名词, that代替不可数名词：

    He admired that which looks beautiful.
    他赞赏外表漂亮的东西。
    He admired those who look beautiful.
    他赞赏那些漂亮的人。

1）The weather in China is different from____.
　B. one in America　 D. that in America
  B和D中，B中的one常用来代替可数名词，而that可车以代替不可数或抽象名词，所以选D。

## 反身代词，表示你自己，他自己, 我们自己
形容词性物主代词+self/selves: herself,ourselves, themselves, itself
She  was talking to herself.

反身只可用于宾格，不可用于主格, 除了and/or/nor. 第二个主语要反身：

    Charles and myself saw it .

### 第二人称宾语要反身
You should be proud of yourself

### 有些动词需要反身代词
absent,bathe,amuse,blame,dry,cut,enjoy,hurt,introduce,behave.
1. We enjoyed ourselves very much last night.
2. Please help yourself to some fish. 请你随便吃点鱼

### 可用于及物动+宾(反身)+介词
take pride in, be annoyed with, help oneself to sth.
1. I could not dress (myself) up at that time. 那时我不能打扮我自己。

### 在不强调的情况下，but,except,for 等介词后宾语用反向或人称宾格
No one be myself(me) is hurt.

## 相互代词：表示相互关系的
each, other, one another

    They love each other.
    It is easy to see that the people of different cultures have always copied each other.
    显而易见，不同文化的人总是相互借鉴的

1.用于宾
&gt; each other 用于两人之间，one another 用于两人以上

    People should love one another. 人们应当彼此相爱。

2.用于介宾

    Does bark,cocks crow,frogs croak to each other.
    吠、鸡鸣、蛙儿对唱
    He put all books beside each other/one another. 他把所有书都并列摆放起来。
    Usually these small groups were independent of eaah other.

3.相互代词构成所有格

    The students borrowed each other&#x27;s notes.
    学生们相互借笔记。

## 不定代词：不是指明代码任何特定名词的代词
常用的有：

    all,both,each,every, 含有some-， any-,no- 等合成词

many +可数，much +不可数：

    many books, much time

a few +可数，a little +不可数(一点)：
few +可数，little +不可数(几乎没有)：

    He has a few friends.(他有几个朋友)
    He has few friends.(他几乎没有朋友)
    There is little time left. 没有什么时间了。

    quite a few books
    不少书
    Many books were sold.
    Many a book was sold.

every 有重复的意思，each 没有：

    every two weeks

every 强调整体，each 强调个体：

    Every man is not honest. 并非每个人都诚实。
    Each man is not honest. 每个人都不诚实。

other vs another:

    one ... the other 两个
    one .... another 三个以上的另一个

one 不是特指，that/it是特指:

    I can&#x27;t find my hat, I think I must buy one.
    I can&#x27;t find my hat, I don&#x27;t know where I put it.

all:

1. all 不能跟单数，得用whole: the whole book 整本书
2. all 只能于可数的时间连用：all day, all night
3. all 可与特殊单数连用，all the city, all my life, all the way

both:

    We both can ...

either 是两者中的任何一个，强调个体

    Either of the two boys is clever.
    Both the two boys are clever.

neither 否定一个主语: Neither + 一般疑问; neither of sb. do sth.

    If you don&#x27;t do it, neither (should) I.
    She can&#x27;t sing, neither (can) he.
    Neither of them wants to go.

nor 否定多个谓语:

    He can&#x27;t sing, nor dance, nor skate.

Neither...nor... 用于否定主，否定宾，否定双句：

    Neither Sidney nor I am going to buy piratical VCDs. 锡德尼和我都不打算买盗版的 VCD
    Air is neither a solid nor a liquid. 空气既不是固体，又不是液体。
    Neither could theory do without practice, nor could practice do without theory.

none 可作否定代词（none of.）也可以作否定回答：

    It is none of your business.
    Are there any pictures on the wall? None.(No)


## 疑问代词，interrogative/questioning pronoun
指人：who, whom(介宾),whose
指物：what
指人或物：which
用于引导名词性从句:主从，宾从，表从

    Tell me who he is. 宾从(主语省略)
    Who did to speak to.
    I can&#x27;t make out what he is driving at.
    我不清楚他用意何在。名词从句
    Whose shirt on the bed.
    Much of what you say I agree with, but I cannot go all the wall with you.
    你说的大部分我都同意，但并不完全赞同。

## 关系代词

            指人    指物        指人或物
    主格    who     which/what   that
    宾格    whom    that/what    that
    属格    whose   of which/whose  of which/whose

关系代词that 作宾从、表从时可省略

    He changed, he is not the man he was.


# 代词指代问题
## 不定代词
anybody,everybody,nobody,anyone,someone,no one,whoever,person 正式场合可用he,his,him 代替

    Nobody came, did he？没有人来，是吗？

## 动物名词用it,they 有时也用he/she 带亲切感情色彩。
Give the cat some food. She is hungry.

## 指代车或国家、船舶，含感情色彩时常用she

# 并列人称排序
单数：

    第二》第三》第一
    you&gt;he/she;it &gt; I
    He and I should return on time.

复数

    一》二》三
    We &gt; you&gt; they

在承认错误时、长辈对下属要把第一人称放在前面：

    It was I and John that made her angry.</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
