<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/algorithm/algorithm-find-the-nth-of-2-sorted-array.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>查找两有序数组中第N 大的值</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: 查找两有序数组中第N 大的值
date: 2018-09-26
updated: 2018-10-06
---
# 查找两有序数组中第N 大的值
问题:
&gt; A B 两个递增有序数组, 将两数组中的元素合并到一起。请找到其中第N，N+1 大的数

&gt; Find the n&#x27;th max number of 2 sorted array!

			p1
	A ------+----------

			p2
	B ------+----------

# 算法
使用二分法, 设A 长度是An, B 长度是Bn。

1. 先初始化:
	p1 指向A 数组的n/2, p2 指向B 数组的n/2;
	Al=0, Ar=An-1; Bl=0, Br=Bn-1;

2. 然后不断按以下规则判断并做二分切割, 直到找到第N大的值

判断规则如下：
1. `=` 是赋值
2. `&lt;&gt;` 是不等

	当p1 &lt; p2
		当p2 &lt;= p1r &amp;&amp; p2l &lt;= p1 (两点相邻, 当没有p1r，p2l也判断相邻)
			p1 + p2 = N, 则p1，p2 分别是第N,N+1 大的元素
			p1 + p2 &lt; N,
				Al=p1, p1=(Al+Ar+1)/2
					p1 == Al(不能右移了)
						则第N、N+1 大的数字出现B 数组上的（N-An-1), (N-An)
					p1 &lt;&gt; Al
						再继续比较
			p1 + p2 &gt; N,
				Br=p2, p2=(Bl+Br)/2
					p2 == Br(不能左移了)
						则第N、N+1 大的数字出现A 数组上的（N-1), N
					p2 &lt;&gt; Br
						再继续比较
		当p2, p1(不相邻)
			p1 + p2 = N
				Al=p1, p1=(Al+Ar+1)/2
					p1 == Al(不能右移了)
						则第N、N+1 大的数字出现B 数组上的（N-An-1), (N-An)
				p1 &lt;&gt; Al
					继续
			p1 + p2 &lt; N
				Al=p1, p1=(Al+Ar+1)/2
					p1 == Al(不能右移了)
						则第N、N+1 大的数字出现B 数组上的（N-An-1), (N-An)
				p1 &lt;&gt; Al
					继续
			p1 + p2 &gt; N
				Br=p2, p2=(Bl+Br)/2
					p2 == Br(不能左移了)
						则第N、N+1 大的数字出现A 数组上的（N-1), N
				p2 &lt;&gt; Br
					继续
	当p1 = p2 与p1&lt;p2 一样
	当p1 &gt; p2 与p1&lt;p2 相反的过程</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
