<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/algorithm/tree-skiplist.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>跳跃表</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: 跳跃表
date: 2017-09-26
updated: 2019-03-10
---
# 跳跃表
我们实现redis 的有序集合用什么结构呢？
1. list: 插入的复杂度是O(n)
2. 链表: 查找的复杂度是O(n)

跳跃表(skiplist) 是一种随机化的数据结构，相当于为链表增加了索引，其效率比拟于二叉查找平衡树（平均查找时间是O(logN)）

基本上，跳跃列表是对`有序的链表`增加上附加的`前进链接`，增加是以随机化的方式进行的，所以在列表中的查找可以快速的跳过部分列表(因此得名)。所有操作都以对数随机化的时间进行。

# skiplist 特点
一个跳表，应该具有以下特征：

	一个跳表应该有几个层（level）组成；
	跳表的第一层包含所有的元素；
	每一层都是一个有序的链表；
	如果元素x出现在第i层，则所有比i小的层都包含x；
	第i层的元素通过一个down指针指向下一层拥有相同值的元素；
	在每一层中，-1和1两个元素都出现(分别表示INT_MIN和INT_MAX)；
	Top指针指向最高层的第一个元素。

缺点：
1. 不像某些传统平衡树数据结构那样提供绝对的最坏情况性能保证, 但是实际工作良好(普通情况)
2. 能解决查找树的节点值必须不同的问题。

高层链表提供查找插入删除的快速通道。查找时，在L层遍历链表，直到出现大于或等于或为空的节点，就开始找下一层。

	1
	1-----4---6
	1---3-4---6-----9
	1-2-3-4-5-6-7-8-9-10

![](/img/ds-skiplist-level.png)

# Skip List构造步骤：

	1、给定一个有序的**链表**。
	2、选择连表中最大和最小的元素，然后从其他元素中按照一定算法（随机）随即选出一些元素，将这些元素组成有序链表。这个新的链表称为一层，原链表称为其下一层。
	3、为刚选出的每个元素添加一个指针域，这个指针指向下一层中值同自己相等的元素。Top指针指向该层首元素
	4、重复2、3步，直到不再能选择出除最大最小元素以外的元素。


#skiplist vs 平衡树
1. 平衡树调整更复杂
2. 范围查找复杂：平衡树比skiplist操作要复杂, 中序遍历的顺序需要进行改造

# 原理
&gt; http://studentdeng.github.io/blog/2013/08/08/skip-list/
&gt; http://blog.csdn.net/zy825316/article/details/22600003

## 期望

### 元素个数期望
如果每个元素被选中并放到上层的概率是 `p = 1/2`， 那么每个元素被插入到i 层的概率是`p^(i-1) = 1/2^(i-1)`, 
在i 层插入的期望元素的个数是 `n*p^(i-1)`, 
skiplist 总元素个数期望是: `n*(p^0+p^1+p^2+ ... + p^(h-1))`, p小于0.5 时，个数小于2n

### 高度h
假设`p=1/2`

每个数据项出现在i层概率是`1/2^i`, 出现的个数期望是

	n/2^i

高度的期望是

    1*(1-p)^n + C()

高度h 大于i 的概率等于 第i 层有数据项的概率`P(i)`, 这意味着h 大于`3logN` 的概率至多为

	P(3logN) =  = n/2^(3logN) = n/n^3 = 1/n^2

对于常数c(c&gt;1), h 大于`c*logN` 的概率至多为：

	1/n^(c-1)

所以h 高度是`O(logN)` 级别

&gt; 可以简单的认为，第一层链表会减半, 所以跳跃表无论查找还是插入删除，都是复杂度为`Log(n)`

# Example
Here is an example, https://www.cs.auckland.ac.nz/~jmor159/PLDS210/niemann/s_skl.htm
[example](https://www.cs.auckland.ac.nz/~jmor159/PLDS210/niemann/s_skl.txt)
	
	#include &lt;stdio.h&gt;
	#include &lt;stdlib.h&gt;
	
	/* define data-type and compare operators here */
	typedef int T;                  /* type of item to be stored */
	#define compLT(a,b) (a &lt; b)
	#define compEQ(a,b) (a == b)
	
	/* levels range from (0 .. MAXLEVEL) */
	#define MAXLEVEL 15
	
	typedef struct Node_ {
		T data;                     /* user&#x27;s data */
		struct Node_ *forward[1];   /* skip list forward pointer */
	} Node;

	typedef struct {
		Node *hdr;                  /* list Header */
		int listLevel;              /* current level of list */
	} SkipList;

	SkipList list;                  /* skip list information */

	#define NIL list.hdr

	Node *insertNode(T data) {
		int i, newLevel;
		Node *update[MAXLEVEL+1];
		Node *x;

	   /***********************************************
		*  allocate node for data and insert in list  *
		***********************************************/

		/* find where data belongs */
		x = list.hdr;
		for (i = list.listLevel; i &gt;= 0; i--) {
			while (x-&gt;forward[i] != NIL 
			  &amp;&amp; compLT(x-&gt;forward[i]-&gt;data, data))
				x = x-&gt;forward[i];
			update[i] = x;
		}
		x = x-&gt;forward[0];
		if (x != NIL &amp;&amp; compEQ(x-&gt;data, data)) return(x);

		/* determine level */
		for (newLevel = 0; rand() &lt; RAND_MAX/2 &amp;&amp; newLevel &lt; MAXLEVEL; newLevel++);

		if (newLevel &gt; list.listLevel) {
			for (i = list.listLevel + 1; i &lt;= newLevel; i++)
				update[i] = NIL;
			list.listLevel = newLevel;
		}

		/* make new node */
		if ((x = malloc(sizeof(Node) + 
		  newLevel*sizeof(Node *))) == 0) {
			printf (&quot;insufficient memory (insertNode)\n&quot;);
			exit(1);
		}
		x-&gt;data = data;

		/* update forward links */
		for (i = 0; i &lt;= newLevel; i++) {
			x-&gt;forward[i] = update[i]-&gt;forward[i];
			update[i]-&gt;forward[i] = x;
		}
		return(x);
	}

	void deleteNode(T data) {
		int i;
		Node *update[MAXLEVEL+1], *x;

	   /*******************************************
		*  delete node containing data from list  *
		*******************************************/

		/* find where data belongs */
		x = list.hdr;
		for (i = list.listLevel; i &gt;= 0; i--) {
			while (x-&gt;forward[i] != NIL 
			  &amp;&amp; compLT(x-&gt;forward[i]-&gt;data, data))
				x = x-&gt;forward[i];
			update[i] = x;
		}
		x = x-&gt;forward[0];
		if (x == NIL || !compEQ(x-&gt;data, data)) return;

		/* adjust forward pointers */
		for (i = 0; i &lt;= list.listLevel; i++) {
			if (update[i]-&gt;forward[i] != x) break;
			update[i]-&gt;forward[i] = x-&gt;forward[i];
		}

		free (x);

		/* adjust header level */
		while ((list.listLevel &gt; 0)
		&amp;&amp; (list.hdr-&gt;forward[list.listLevel] == NIL))
			list.listLevel--;
	}

	Node *findNode(T data) {
		int i;
		Node *x = list.hdr;

	   /*******************************
		*  find node containing data  *
		*******************************/

		for (i = list.listLevel; i &gt;= 0; i--) {
			while (x-&gt;forward[i] != NIL 
			  &amp;&amp; compLT(x-&gt;forward[i]-&gt;data, data))
				x = x-&gt;forward[i];
		}
		x = x-&gt;forward[0];
		if (x != NIL &amp;&amp; compEQ(x-&gt;data, data)) return (x);
		return(0);
	}

	void initList() {
		int i;

	   /**************************
		*  initialize skip list  *
		**************************/

		if ((list.hdr = malloc(sizeof(Node) + MAXLEVEL*sizeof(Node *))) == 0) {
			printf (&quot;insufficient memory (initList)\n&quot;);
			exit(1);
		}
		for (i = 0; i &lt;= MAXLEVEL; i++)
			list.hdr-&gt;forward[i] = NIL;
		list.listLevel = 0;
	}

	int main(int argc, char **argv) {
		int i, *a, maxnum, random;

		/* command-line:
		 *
		 *   skl maxnum [random]
		 *
		 *   skl 2000
		 *       process 2000 sequential records
		 *   skl 4000 r
		 *       process 4000 random records
		 *
		 */

		maxnum = atoi(argv[1]);
		random = argc &gt; 2;

		initList();

		if ((a = malloc(maxnum * sizeof(*a))) == 0) {
			fprintf (stderr, &quot;insufficient memory (a)\n&quot;);
			exit(1);
		}

		if (random) {
			/* fill &quot;a&quot; with unique random numbers */
			for (i = 0; i &lt; maxnum; i++) a[i] = rand();
			printf (&quot;ran, %d items\n&quot;, maxnum);
		} else {
			for (i = 0; i &lt; maxnum; i++) a[i] = i;
			printf (&quot;seq, %d items\n&quot;, maxnum);
		}

		for (i = 0; i &lt; maxnum; i++) {
			insertNode(a[i]);
		}

		for (i = maxnum-1; i &gt;= 0; i--) {
			findNode(a[i]);
		}

		for (i = maxnum-1; i &gt;= 0; i--) {
			deleteNode(a[i]);
		}
		return 0;
	}</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
