<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/algorithm/tree-.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>数据结构之树</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: 数据结构之树
date: 2018-09-26
updated: 2019-02-11
---
# 数据结构之树

树状图是一种数据结构，它是由n（n&gt;=1）个有限节点组成一个具有层次关系的集合。把它叫做“树”是因为它看起来像一棵倒挂的树，也就是说它是根朝上，而叶朝下的。它具有以下的特点：

1. 每个节点有零个或多个子节点；
1. 没有父节点的节点称为根节点；
1. 每一个非根节点有且只有一个父节点；
1. 除了根节点外，每个子节点可以分为多个不相交的子树；

# 术语
- 节点的度：一个节点含有的子树的个数称为该节点的度；二叉树的度小于等于2
- 树的度：一棵树中，最大的节点的度称为树的度；
- 叶节点或终端节点：度为零的节点；
- 非终端节点或分支节点：度不为零的节点；
- 父亲节点或父节点：若一个节点含有子节点，则这个节点称为其子节点的父节点；
- 孩子节点或子节点：一个节点含有的子树的根节点称为该节点的子节点；
- 兄弟节点：具有相同父节点的节点互称为兄弟节点；
- *节点的层次*：从根开始定义起，根为第1层，根的子节点为第2层，以此类推；
- *树的高度或深度*：树中节点的最大层次；
- 堂兄弟节点：父节点在同一层的节点互为堂兄弟；
- 节点的祖先：从根到该节点所经分支上的所有节点；
- 子孙：以某节点为根的子树中任一节点都称为该节点的子孙。
- 森林：由m（m&gt;=0）棵*互不相交的树*的集合称为森林

# 存储
一般树使用多用nodes 数组存储, node 之间关系通过链表实现

# 分类
无序树：树中任意节点的子节点之间没有顺序关系，这种树称为无序树，也称为自由树；	
有序树：树中任意节点的子节点之间有顺序关系，这种树称为有序树；	
	二叉树：每个节点最多含有两个子树的树称为二叉树；	
		完全二叉树：对于一颗二叉树，假设其深度为d（d&gt;1）。除了第d层外，其它各层的节点数目均已达最大值，且第d层所有节点从左向右连续地紧密排列，这样的二叉树被称为完全二叉树；	
		满二叉树：对于上述的完全二叉树，如果去掉其第d层的所有节点，那么剩下的部分就构成一个满二叉树（此时该满二叉树的深度为d-1）；	
	霍夫曼树：带权路径最短的二叉树称为哈夫曼树或最优二叉树；	
	B树	

## Binary Tree 二叉树
最多含两个结点的树(树的度不大于2), 通常被用于实现二叉查找树和二叉堆。

* 完全二叉树和满二叉树
- 满二叉树（Full Binary Tree）：一棵深度为k，且有2^k-1个节点称之为满二叉树
- 完全二叉树（Complete Binary Tree）：深度为k，有n个节点的二叉树，当且仅当其每一个节点都与深度为k的满二叉树中，序号为1至n的节点对应时，称之为完全二叉树
- 二叉查找树([Binary Search Tree](/p/algorithm-binary-search-tree))

### 特性
|完全二叉树	|满二叉树|
|总节点k	|2^{h-1}&lt;= k &lt;= 2^h-1	|k = 2^h-1|
|树高h	|h = log_2k+1	|h = log_2(k+1) |

&gt; 二叉树在图论中是这样定义的：二叉树是一个连通的无环图，并且每一个顶点的度不大于3。如果不考虑连通性，允许图中有多个连通分量，这样的结构叫做森林

### 存储

#### 顺序存储
1. 一维数组：适合完全二叉树(包括满二叉)，否则非常浪费空间
2.多维数组：类似于链表

    myTree = [&#x27;a&#x27;, [&#x27;b&#x27;, [&#x27;d&#x27;,[],[]], [&#x27;e&#x27;,[],[]] ], [&#x27;c&#x27;, [&#x27;f&#x27;,[],[]], []] ]
    print(myTree)
    print(&#x27;left subtree = &#x27;, myTree[1])
    print(&#x27;root = &#x27;, myTree[0])
    print(&#x27;right subtree = &#x27;, myTree[2])

#### 链表存储
1. 二叉链表存储: 左右指针指向左右子树
1. 三叉链表存储: 增加一个指向parent 的指针

链表存储要申请一堆空间:` struct node{}[10000]`
https://stackoverflow.com/questions/3951664/array-of-linked-lists-on-disk

Many UNIX file systems support *sparse* allocation, which means that if you allocate block 365 it doesn&#x27;t have to allocate blocks 0 through 364.(实际存储不是连续的) 

### 遍历二叉树

#### 线索二叉树 (threaded binary tree)
二叉树添加了直接指向节点的前驱和后继的指针的二叉树称为线索二叉树。
线索二叉树能线性地遍历二叉树，从而比递归的 中序遍历更快。

![](/img/ds/treaded-binary-tree.png)


#### 深度优先遍历（Deep First Search）
DFS是沿着树的深度遍历树的节点，尽可能深的搜索树的分支。
和图的深度优先搜索不同的是，不需记住访问过的每一个结点，因为树中不会有环。
前序（Pre-order Traversal）、中序（In-order Traversal）、后序遍历（Post-order Traversal）都是深度优先遍历的特例。

- 前序: 根左右
- 中序: 左根右
- 后序: 左右根

* 复杂度
DFS 搜索时间复杂度是`O(b^m)`, 空间复杂度是`O(b*m)`, 其中b 是最大分支系数，m 是图的最大深度. 
对于二叉树来说，b = 2, 2^m 与结点数是同一数量级O(n);
而b*m 其实是栈所消耗的空间: 每增加一层深度，就要在栈中添加b-1 个结点，之所以减1 是因为有一个结点要被弹出并继续深度搜索下去。所以总的空间为O((b-1)*m) = O(b*m). 对于二叉树来说，就是`O(m)`.

* 算法
1. 算法借助递归实现, 使用与树的高度成比例的栈空间:
2. 算法借助栈(先入后出)实现。

中序递归算法:

	//中序: 左根右
	visit(node)
		if node.left  != null then visit(node.left)
		print node.value
		if node.right != null then visit(node.right)

如果我们在每个结点中存储指向父结点的指针，那样可以使用迭代算法，只使用常数空间实现所有这些遍历。然而，指向父结点的指针占用更多的空间。这只在需要指向父节点的指针或栈空间有限时才使用。

中序遍历的迭代算法:

	visit(node)
		while(node != NULL){
			//parent
			if(node.right &amp;&amp; prev in node.right){
				prev = node;
				node = node.parent;
			}elseif(!node.right &amp;&amp; (!node.left || prev in node.left ) ){
				print node;
				prev = node;
				node = node.parent;
			//right
			}elseif(
				(!node.left || prev in node.left  )
				&amp;&amp; node.right &amp;&amp; !prev in node.right){
				print node;
				prev = node;
				node = node.right;
			//left
			}else(node.left &amp;&amp; !prev in node.left){
				prev = node;
				node = node.left;
			}
		}
		

#### 广度优先遍历 (Bread First Search)
- 层级遍历
和深度优先遍历不同，广度优先遍历会先访问离根节点最近的节点。参见广度优先搜索。 二叉树的广度优先遍历又称按层次遍历。

* 复杂度
BFS 搜索时因为要遍历所有的点(V)+路径(E), 所以其时间复杂度和空间复杂度都为`O(|V|+|E|)`
* 算法
算法借助队列实现。


### 将n叉树转换为二叉树
![n-tree](/img/n-tree.png)
将一棵树转换为二叉树的方法：
1. 在兄弟之间加一连接；
2. 对每个结点，除了其左孩子外，去除其与其余孩子之间的联系；
3. 以树的根结点为轴心，将整树顺时针转45度。

# 搜索树
- M==2: 二叉查找树，二叉平衡树（红黑树、AVL树）
- M&gt;=3: B树，B+树，`B*`树,层次更少. 因为子节点数量多，不需要频繁地重新保持平衡(可能浪费一些空间)
B树适用于读写相对大的数据块的存储系统，例如磁盘

# References
- [树]

[树]: http://zh.wikipedia.org/wiki/%E6%A0%91_(%E6%95%B0%E6%8D%AE%E7%BB%93%E6%9E%84)</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
