<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/db/mysql-datatype.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>mysql-datatype</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: mysql-datatype
date: 2018-09-27
updated: 2018-10-06
---
# Preface

# Data Type(数据类型)

	NULL means you do not have to provide a value for the field... default to null
	NOT NULL means you must provide a value for the fields. 但很多情况下，插入数据时默认会给一个空值(0, 或者空字符串).

## 不要用null
Null 列的缺点:

- 难以优化索引：Mysql难以优化引用可空列查询，它会使索引、索引统计和值更加复杂。
- 更多的空间：可空列需要更多的存储空间，还需要mysql内部进行特殊处理。
&gt; NULL columns require additional space in the rowto record whether their values are NULL. For MyISAM tables, each NULL columntakes one bit extra, rounded up to the nearest byte.”

## Type Convert

	CAST(expr AS type)
		result value of a specified type, similar to CONVERT()
	CONVERT(expr, type)
		type supported:
			二进制，: BINARY    
			字符型，带参数 : CHAR(5)     对于hive 来说, 使用string
			日期 : DATE     
			时间: TIME     
			日期时间型 : DATETIME     
			浮点数 : DECIMAL      
			整数 : SIGNED     
			无符号整数 : UNSIGNED

Example:

	select max(cast(col as UNSIGNED));
	select	cast(&#x27;2016-03-01 01:01:02&#x27; as date) |
	+-------------------------------------+
	| 2016-03-01

Hive内置的数据类型之间是否可以进行隐式的转换操作:

			bl		tinyint	si		int		bigint	float	double	dm		string	vc		ts		date	ba
	boolean	true	false	false	false	false	false	false	false	false	false	false	false	false
	tinyint	false	true	true	true	true	true	true	true	true	true	false	false	false
	smallint false	false	true	true	true	true	true	true	true	true	false	false	false
	int		false	false	false	true	true	true	true	true	true	true	false	false	false
	bigint	false	false	false	false	true	true	true	true	true	true	false	false	false
	float	false	false	false	false	false	true	true	true	true	true	false	false	false
	double	false	false	false	false	false	false	true	true	true	true	false	false	false
	decimal	false	false	false	false	false	false	false	true	true	true	false	false	false
	string	false	false	false	false	false	false	true	true	true	true	false	false	false
	varchar	false	false	false	false	false	false	true	true	true	true	false	false	false
	ts		false	false	false	false	false	false	false	false	true	true	true	false	false
	date	false	false	false	false	false	false	false	false	true	true	false	true	false
	binary	false	false	false	false	false	false	false	false	false	false	false	false	true

## Number

	2e30
	2+3*3
	10%3

What the exactly number if value over range?

&gt; If number is above the range, the value mysql store will be the max value.
&gt; If number is below the range, the value mysql store will be the min value.

What does the number in parenthesis mean?

&gt; int(2) will generate an INT with minimum display width of 2. It&#x27;s up to mysql client.
In most clients, if a colume specified with `INT(2) ZEROFILL`, the number 6 will be displayed as &#x27;06&#x27;.

### function

	FLOOR(RAND() * 401) + 100

### INT

	### TINYINT
	Their signed value range is (-128,127) , and unsigned range (0,255)。

	#### BOOL &amp; BOOLEAN
	They are TINYINT(1) alias

	### SMALLINT [(M)] [UNSIGNED] [ZEROFILL]
	Their unsigned range is (0,2^16-1)。

	### MEDIUMINT [(M)] [UNSIGNED] [ZEROFILL]
	Their unsigned range is (0,2^24-1)。

	### INT [(M)] [UNSIGNED] [ZEROFILL]
	Their unsigned range is (0,2^32-1)。

	### BIGINT [(M)] [UNSIGNED] [ZEROFILL]
	Their unsigned range is (0,2^64-1)。

### Float

#### DECIMAL ([M,D]) [UNSIGNED] [ZEROFILL]
以字符串存储浮点数。

	DECIMAL(4,1);//只能存储4位字符，小数部分1位(不含小数点和负号). 即-999.9~ 999.9 或 0.0 ~ 999.9
	DECIMAL; //Same as DECIMAL(10,0)

####  FLOAT([M,D]) [UNSIGNED] [ZEROFILL]

	FLOAT(4,1);//Same as DECIMAL(4,1). Storage as string

	FLOAT;
		//参照c 语言的IEEE 754 double 32位存储 signed: +/- 10^38, unsigned: 0~10^38

####  DOUBLE([M,D]) [UNSIGNED] [ZEROFILL]

	DOUBLE(4,1);//Same as DECIMAL(4,1). Storage as string

	DOUBLE;
		//参照c 语言的IEEE 754 double 64位存储 signed: +/- 10^308, unsigned: 0~10^308

## String
VARCHAR 本来不会存储尾部空白`\0`，而从5.0.3 开始出于兼容性考虑，会跟CHAR一样存储尾部空白。

	update talbeName set c=&#x27;str&#x27; where id = 1

	&quot;abc\n123&quot;

单引号也会转义

	&#x27;a\tb&#x27;
	&#x27;a\nb&#x27;
	&#x27;\\d+&#x27;; //所以正则应二次转义

### Function
&gt; https://dev.mysql.com/doc/refman/5.0/en/string-functions.html

	SELECT CONCAT(&#x27;My&#x27;, &#x27;S&#x27;, &#x27;QL&#x27;);
	select &#x27;My&#x27; &#x27;S&#x27; &#x27;OL&#x27;
		MySQL
	select &#x27;My&#x27;&#x27;S&#x27;;like vim
		My&#x27;S

#### str to hex
hex() and unhex

	mysql&gt; SELECT X&#x27;616263&#x27;, HEX(&#x27;abc&#x27;), UNHEX(HEX(&#x27;abc&#x27;));
			-&gt; &#x27;abc&#x27;, 616263, &#x27;abc&#x27;
	mysql&gt; SELECT HEX(255), CONV(HEX(255),16,10);
			-&gt; &#x27;FF&#x27;, 255

concat:

	select concat(0x31,2);
	| 12             |

#### length

	select length(&#x27;国&#x27;); //1
	select length(&quot;中\&#x27;);

### CHAR
Length 不是字节数，而是字符数

	CHAR(Length) [BINARY | ASCII | UNICODE ]

		Length
			The length can be any value from 0 to 255.
			If Length is 0, Char can only be NULL or &quot;&quot;
			If length is bigger than 255, it will be store as TEXT TYPE
		BINARY
			排序时区分大小写(默认不区分)
		ASCII
			使用Latin1 这种万能字符集(默认?)
		UNICODE
			使用ucs2 字符集(又字节?)

### VARCHAR

	VARCHAR(Length) [BINARY ]
		Length
			The length can be any value from 0 to 65536.
			If Length is 0, Char can only be NULL or &quot;&quot;
			If length is bigger than 255, it will be store as TEXT TYPE
		BINARY
			排序时区分大小写(默认不区分)

### Other

	LONGBLOB
		支持2^32-1个字符, 最大的二进制存储
	LONGTEXT
		支持2^32-1个字符, 最大的文本存储(不能存储\0)
	MEDIUMBLOB/MEDIUMTEXT
		2^24-1
	BLOB/TEXT
		2^16-1 = 65535
	TINYBLOB/TINYTEXT
		2^8-1 = 255

### Limit string set
String set

#### ENUM

	ENUM(&quot;str1&quot;,...., &quot;str65535&quot;)
	//如果声明了NOT NULL, 则默认第一个，否则默认NULL

#### SET
SET 可以指定预定值中的一个或者多个值


	set(&quot;str1&quot;,&quot;str2&quot;, ....)
	insert table values(&#x27;str1,str2,..&#x27;)

# Data Property

## AUTO_INCREMENT
Auto +1 and it must be defined as a key(primary key)

## BINARY(Case Sensitive)
比较BINARY 列时将区分大小小方排序，默认不区分

## ZEROFILL

	int(5) ZEROFILL

## NATIONAL
该列使用默认字符集，兼容考虑
It can only be used to CHAR/STRING.</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
