<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/db/pg-ddl-install.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>Postgre 安装\配置\管理</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: Postgre 安装\配置\管理
date: 2018-09-27
updated: 2020-03-02
---
# Postgre 安装\配置\管理

## intall
centos:

    rpm -Uvh https://yum.postgresql.org/10/redhat/rhel-7-x86_64/pgdg-centos10-10-2.noarch.rpm
    yum install postgresql10-server postgresql10 -y
    # Create a new PostgreSQL database cluster:
    /usr/pgsql-10/bin/postgresql-10-setup initdb

mac:

## auth
see db-user.md

    psql -U postgres -c &#x27;SHOW all&#x27; |grep hba_file
    psql -U postgres -c &#x27;SHOW hba_file&#x27;
    /usr/local/var/postgres/pg_hba.conf        | Sets the server&#x27;s &quot;hba&quot; configuration file.

## run &amp; config

    if centos:
        systemctl start postgresql-10.service
        systemctl enable postgresql-10.service
        #sudo systemctl start postgresql
        #sudo systemctl enable postgresql
    elif osx:
        # To have launchd start postgresql now and restart at login:
        brew services start postgresql
        # Or, if you don&#x27;t want/need a background service you can just run:
        pg_ctl -D /usr/local/var/postgres start

        # 开机启动
        ln -sfv /usr/local/opt/postgresql/*.plist ~/Library/LaunchAgents

        cat &lt;&lt;MM &gt;&gt; ~/.zshrc
        alias pg-start=&quot;launchctl load ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist&quot;
        # 就是rm plist
        alias pg-stop=&quot;launchctl unload ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist&quot;
        MM

    createdb `whoami`

### debug
#### 升级问题
    psql: error: could not connect to server: could not connect to server: No such file or directory
        Is the server running locally and accepting
        connections on Unix domain socket &quot;/tmp/.s.PGSQL.5432&quot;?

    $ tail /usr/local/var/postgres/server.log

    2020-02-28 13:00:12.285 CST [6972] FATAL:  database files are incompatible with server
    2020-02-28 13:00:12.285 CST [6972] DETAIL:  The data directory was initialized by PostgreSQL version 11, which is not compatible with this version 12.2.

方案1：

    $ brew postgresql-upgrade-database
    FATAL:  role &quot;ahui&quot; does not exist

方案2：

    https://olivierlacan.com/posts/migrating-homebrew-postgres-to-a-new-version/

寻求方案:

    https://github.com/Homebrew/homebrew-core/issues/new?template=bug.md
    https://github.com/Homebrew/homebrew-core/issues/47077

### conf path
mac conf:

    /usr/local/var/postgres/pg_hba.conf
    /usr/local/var/postgres/postgresql.conf

### change listen host
1. postgres -h 0.0.0.0
2. vim /var/lib/pgsql/10/data/postgresql.conf
    `listen_addresses=&#x27;*&#x27;`
    `listen_addresses=&#x27;localhost&#x27;`
    &#x27;localhost,192.168.1.66&#x27;
    &#x27;port=5432&#x27;

show config 

    psql -U postgres -c &#x27;SHOW config_file&#x27;
     /usr/local/var/postgres/postgresql.conf

#### via args
/lib/systemd/system/postgresql.service

    Environment=PGPORT=9898

then:

    # 先使配置生效
    systemctl daemon-reload
    # 再重启
    systemctl restart postgresql


# client
## output format

    # \x
    Expanded display is on.
    # \x
    Expanded display is off.
</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
