<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/go/10.go-slice.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>Golang struct(array, slice)</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: Golang struct(array, slice)
date: 2018-09-27
updated: 2019-01-07
---
# struct
define:

	type Vertex struct {
		X int
		Y int
	}

	v := Vertex{1, 2}
	v.X = 4
	Vertex{1, 2}.X

init:

    var (
        v1 = Vertex{1, 2}  // has type Vertex
        v2 = Vertex{X: 1}  // Y:0 is implicit
        v3 = Vertex{}      // X:0 and Y:0
        v3 Vertex         // X:0 and Y:0
        p  = &amp;Vertex{1, 2} // has type *Vertex
    )
    fmt.Println(v1, p, v2, v3, x,j,3)

define+init:

    j:=struct{
        x int
        y int
    }{5,6}
    j.x
    (&amp;j).x

## pointer to structs
struct pointer:

    v := Vertex{1, 2}
	p := &amp;v
	p.X = 1e9

copy:

    v_copy := v

## Struct Literals 

    func (v *Vertex) Scale(f float64) {
        v.X = v.X * f
        v.Y = v.Y * f
    }

method 将v 修改为 Pointer receivers 或者Copy. 以下两句返回的结果一样的(不过&amp;v、v是不同的)

	(&amp;v).Scale(10)
	v.Scale(10)

function 则不能修改

    func Scale(v *Vertex, f float64) { }

	Scale(&amp;Vertex{3, 4}, 10)    //ok
	Scale(Vertex{3, 4}, 10)     //wrong

# Arrays
The type `[n]T` is an array of `n` values of type `T`

    var a [10]int           //0,0,0,0,0....
    var a [2]string         //&quot;&quot;,&quot;&quot;,&quot;&quot;,...
	primes := [30]int{2, 3} //2,3,0,0,0..
	fmt.Println(primes)

也可以通过initial确定size:

    b := [...]string{&quot;Penn&quot;, &quot;Teller&quot;}

## array assign is not reference

    a_copy := a

# Slices
An array has fixed size, a slice is a dynamically-sized. `[]T` is a slice with elements of type `T`
&gt; slice assign/pass-arguments is Reference, point to original slice but not array

## create slice
declare slice(no sized, nil)

    var s []int;

Create a slice of the init array :

    s := []int{1,2,3}

Create a slice of the array primes:

    primes := [7]int{2, 3, 5, 7, 11, 13, 17}
  	var s []int = primes[4:6]
  	fmt.Println(s); # [11 13]

### slice pointer

	var a = &amp;[]*tree.Tree{{t,5}}

## Slices are like reference to arrays

    names := [4]string{
		&quot;John&quot;,
		&quot;Paul&quot;,
		&quot;George&quot;,
		&quot;Ringo&quot;,
	}

	a := names[0:2]
	b := names[1:3]
    b[0] = &#x27;XXX&#x27;
	fmt.Println(a, b)
        [John XXX] [XXX George]

## slice literals
This is an array literal:

    [3]bool{true, true, false}

And this builds a `slice` that `references` array:

    []bool{true, true, false}

slice structs:

    s := []struct {
        i int
        b bool
    }{
        {2, true},
        {3, false},
        {5, true},
        {7, true},
        {11, false},
        {13, true},
    }

### slice literals is reference
Array is not reference:

	var a = [6]int{1,2,3}
	b := a
	b[0] = 100
	fmt.Println(a,b);   // [1 2 3] [100 2 3]

Slice is reference:

	var a = []int{1,2,3}
	b := a
	b[0] = 100
	fmt.Println(a,b);# [100 2 3] [100 2 3]

## slice bounds
For array `var a [10]int `, these slice expressions are equivalent:

    a[0:10]
    a[:10]
    a[0:]
    a[:]

    a[start:end:cap_end] //end&lt;=cap_end

## length and capacity
The length and capacity of a slice s can be obtained using the expressions `len(s)` and `cap(s)`.

    len(s)  - The number of elements it contains.
    cap(s)  - The number of elements in the underlying array

You adn extend a slice&#x27;s length within its capacity:

    func main() {
        s := []int{2, 3, 5, 7, 11, 13}
        printSlice(s)

        // Slice the slice to give it zero length.
        s = s[:0]
        printSlice(s)

        // Extend its length.
        s = s[:4]
        printSlice(s)

        // Drop its first two values.
        s = s[2:]
        printSlice(s)
    }

    func printSlice(s []int) {
        fmt.Printf(&quot;len=%d cap=%d %v\n&quot;, len(s), cap(s), s)
    }

output:

    len=6 cap=6 [2 3 5 7 11 13]
    len=0 cap=6 []
    len=4 cap=6 [2 3 5 7]
    len=2 cap=4 [5 7]

## Nil slices
A nil slice has a length and capacity of 0 and has `no underlying array`(no pointer):

    var s []int
    fmt.Println(s, len(s), cap(s))
    if s == nil {
        fmt.Println(&quot;nil!&quot;) //yes! 
    }

但是常量 []int{}==nil 不成立，常量不是空指针nil

## make slice
This is how you create dynamically-sized arrays.

    func make([]T, len, cap) []T

The make function allocates a zeroed array and returns a slice that refers to that array:

    a := make([]int, 5)  // len(a)=5 a=[0 0 0 0 0]
    a := make([]int)  // error!

To specify a capacity, pass a third argument to make:

    b := make([]int, 0, 5) // len(b)=0, cap(b)=5, a=[]

    b = b[:cap(b)] // len(b)=5, cap(b)=5
    b = b[1:]      // len(b)=4, cap(b)=4

## join slice

    :import strings
    s := [2]string{&quot;hello&quot;, &quot;world&quot;}
    strings.Join(s[:], &quot;,&quot;)

## expand argument
参数展开

    copy(s, src[:]...)

## copy
slice 和 array 类型不同不可以复制, 扩容下

    //func copy(dst, src []T) int
    t := make([]byte, len(s), (cap(s)+1)*2)
    copy(t, s)
    s = t

## append slice
The first parameter `s` of append is a slice of `type T`, and the rest are T values to append to the slice.

    func append(s []T, x...T) []T

新分配空间 append 会copy 并扩容

    s2 = append(s,1,2) //s!=s2

如果不分配空间就用:

    copy(slice[len(s):], data)

不要用这个:

    c := append(*c, 1) //error

### slice allocate
If the backing array of `s` is too small to fit all the given values, a bigger array will be allocated(double cap).

The returned slice will point to the newly allocated array.

    var a = [3]int{1,2,3}
    b := a[:];  # cap(b)=3
    b = append(b,4,5);  # cap(b)=6, b=[1,2,3,4,5], a=[1,2,3] ; and b will not point to a

Otherwise, slice still points to underlying array

    var a = [3]int{1,2,3}
    b := a[:1];  # cap(b) = 3
    b = append(b,4);   # cap(b)=3, b=[1,4], a=[1,4,3] and b still point to a

## range loop
The `range` form the `for loop iterates` over a `array, slice, string or map`, or values received on a channel.

    for i, v := range [2]int{1,2} {
		fmt.Printf(&quot;index=%d, %d\n&quot;, i, v)
	}

&gt; range is not reference!

### skip range index
You can skip the index or value by assigning to _.

    for _, v := range [2]int{1,2} {
            fmt.Printf(&quot;2**%d = %d\n&quot;, _, v)
        }

skip value:

    for i := range [2]int{1,2} {

## Memory
Since a slice doesn&#x27;t make a copy of the underlying array. To decrease memory  memory, release the reference for array.

    func copy(bigarray []int) []byte{
        b = bigarray[2:3]
        c := make([]byte, len(b))
        copy(c, b)
        return c
    }</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
