<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/go/7.go-var-map.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>map</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: map
date: 2018-09-27
updated: 2020-03-31
---
# map

## define map
键必须是⽀支持相等运算符 (==、!=) 类型，⽐比如 number、string、 pointer、array、struct，以及对应的 interface。值可以是任意类型，没有限制。

    map[KEY]VALUE

### make map

    m := make(map[string]int) //使用make创建一个空的map
    b := make(map[int]byte); // map 支持动态 allocate 扩容,而普通的slice 则必须指定 len

    m[&quot;one&quot;] = 1
    m[&quot;two&quot;] = 2
    m[&quot;three&quot;] = 3

    fmt.Println(m) //输出 map[three:3 two:2 one:1] (顺序在运行时可能不一样)
    fmt.Println(len(m)) //输出 3

    v := m[&quot;two&quot;] //从map里取值
    fmt.Println(v) // 输出 2

### init map(可以扩容)

    m1 := map[string]int{&quot;one&quot;: 1, &quot;two&quot;: 2, &quot;three&quot;: 3}
    fmt.Println(m1) //输出 map[two:2 three:3 one:1] (顺序在运行时可能不一样)

struct map:

    var m = map[string]Vertex{
    	&quot;Bell Labs&quot;: {40.68433, -74.39967},
    	&quot;Google&quot;:    Vertex{37.42202, -122.08408},
    }

init with variable key:

    type T string
    const (
       A T = &quot;key1&quot;
       B T = &quot;key2&quot;
    )
    var m = map[T]int{
        A:2,
        B:3,
    }
    fmt.Printf(&quot;%#v\n&quot;, m)  //Speak

## nil map(不能扩容)
The `zero` value of a map is `nil`. A `nil` map has no keys, nor can keys be added.

  var m map[string]int
  fmt.Println(m==nil);      //true
  fmt.Printf(&quot;%#v\n&quot;, m)    //map[string]int(nil)

  m=make(map[string]int)
  fmt.Println(m==nil);      //false
  fmt.Printf(&quot;%#v\n&quot;, m)    // map[string]int{}

## add
    m[&quot;new_key&quot;] = 1

## get

    elem := m[key] //key 不存在，默认是0

### test

  if elem, exists := m[key]; exists{

  }

## delete
允许删除不存在的key 不报错

    delete(m, &quot;two&quot;)
    fmt.Println(m) //输出 map[three:3 one:1]

## foreach

    for key := range m1{
        fmt.Printf(&quot;%s \n&quot;, key)
    }
    for key, val := range m1{
        fmt.Printf(&quot;%s =&gt; %d \n&quot;, key, val)
    }
}

可以在迭代时安全删除键值。但如果期间有新增操作，那么就不知道会有什么意外了。

        m := map[int]string{
            0:  &quot;a&quot;, 1:  &quot;a&quot;, 2:  &quot;a&quot;, 3:  &quot;a&quot;, 4:  &quot;a&quot;,
            5:  &quot;a&quot;, 6:  &quot;a&quot;, 7:  &quot;a&quot;, 8:  &quot;a&quot;, 9:  &quot;a&quot;,
        }
        for k := range m {
            m[k+k] = &quot;x&quot;
            delete(m, k)
        }
        //output: map[12:x 16:x 20:x 28:x 36:x]

## update
get的value 是临时复制的，应该

    u := m[1]       //copy value
    u.name = &quot;Tom&quot;  
    m[1] = u        // 替换 value。

或者用指针直接修改

    m2 := map[int]*user{
        1: &amp;user{&quot;user1&quot;},
    }
    m2[1].name = &quot;Jack&quot;

# 参考
- 雨痕的golang 笔记第四版</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
