<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/go/9.go-str.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>golang string</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: golang string
date: 2018-09-27
updated: 2019-01-07
---
# string

## define

    &quot;12&quot;
    &quot;\x31\x32&quot;

## here doc str

  str := `\n\r\b\\` //literal

## rune
单引号字符常量表  Unicode Code Point, 持 `\uFFFF、\U7FFFFFFF、\xFF` 格式。 对应 rune 类型,UCS-4。

  var c1, c2 rune = &#x27;\u6211&#x27;, &#x27;们&#x27;
  println(c1 == &#x27;我&#x27;, string(c2) == &quot;\xe4\xbb\xac&quot;)

单引号其实就是 int32:

    rune(&#x27;a&#x27;) == &#x27;a&#x27; == int32(&#x27;a&#x27;) == 97

## change str
要修改字符串,可先将其转换成 []rune 或 []byte 再修改,完成后再转换为 string。 论哪种转 换,都会重新分配内存,并复制字节数组。

  s := &quot;abcd&quot;
  bs := []byte(s)
  bs[1] = &#x27;B&#x27;
  println(string(bs))

  u := &quot;电脑&quot;
  us := []rune(u)
  us[1] = &#x27;话&#x27;
  println(string(us))

不可以修改字符串:

    s:=&quot;123&quot;
    s[0]=2

### rune(code point)
&quot;Code point&quot; is a bit of a mouthful, so Go introduces a shorter term for the concept: `rune`.
The term appears in the libraries and source code, and means exactly the same as &quot;code point&quot;, with one interesting addition.

The Go language defines the word rune as an alias for the `type int32`, so programs can be clear when an integer value represents a `code point`.
Moreover, what you might think of as a character constant is called a rune constant in Go. The type and value of the expression

  &#x27;⌘&#x27;

is rune with integer value 0x2318.

To summarize, here are the salient points:

1. Go source code is always UTF-8.
2. A string holds arbitrary bytes.
3. A string literal, absent byte-level escapes, always holds **valid UTF-8** sequences.
4. Those sequences represent **Unicode code points**, called **runes(int32)**.

### range rune

  const nihongo = &quot;日本語&quot;
  for index, runeValue := range nihongo {
      fmt.Printf(&quot;%#U starts at byte position %d\n&quot;, runeValue, index)
      fmt.Printf(&quot;%U starts at byte position %d\n&quot;, runeValue, index)
  }

output:

  U+65E5 &#x27;日&#x27; starts at byte position 0
  U+65E5 starts at byte position 0
  U+672C &#x27;本&#x27; starts at byte position 3
  U+672C starts at byte position 3
  U+8A9E &#x27;語&#x27; starts at byte position 6
  U+8A9E starts at byte position 6

### range byte

  for i:0;i&lt;len(s);i++{
    s[i]
  }

## Print string
&gt; see go-fmt

A string is in effect a read-only slice of bytes.

  fmt.Sprintf(&quot;%x&quot;, &quot;\x31\x32&quot;[0])
    31
  fmt.Sprintf(&quot;%x&quot;, &quot;\x31\x32&quot;)
    3132
  fmt.Sprintf(&quot;%    x&quot;, &quot;12&quot;)
    31 32

quoted string as go syntax

    s:=fmt.Sprintf(&quot;%q&quot;, &quot;12\x00\u2318&quot;)
    print(s) // &quot;12\x00⌘&quot;

    fmt.Sprintf(&quot;%+q&quot;, &quot;12\x00&quot;)
    print(s) //&quot;\x31\x32\x00\u2318&quot;


# Fields

## explode, str to slice
If no content, reurn `empty slice`

    import strings
    fmt.Printf(&quot;Fields are: %q&quot;, strings.Fields(&quot;  foo bar  baz   &quot;))

## join

  strings.Join([]string{&quot;a&quot;,&quot;b&quot;}, &quot;,&quot;)

# strconv

    fmt.Sprintf(&quot;%v&quot;, v)

## .Atoi
str to int, strconv.Atoi

    import &quot;strconv&quot;

    var t = []string{&quot;1&quot;, &quot;2&quot;, &quot;3&quot;}
    var t2 = []int{}
    for _, i := range t {
        j, err := strconv.Atoi(i)
        if err != nil {
            panic(err)
        }
        t2 = append(t2, j)
    }

## .Itoa

    s := strconv.Itoa(-42)
    s := fmt.Sprintf(&quot;%v&quot;,-42)

string

    string(49) //&quot;1&quot;

## bytes

    &gt; string([]byte{1,2,3})
        &quot;\x01\x02\x03&quot;

str2bytes:

    // method 1
    []byte(s)

    // method 1
    import &quot;strings&quot;

    b := make([]byte, 8);//buffer
    r := strings.NewReader(&quot;0123&quot;)
    n, err := r.Read(b) 
        //if err == io.EOF 
    println(b[:n]) 
        //&quot;0123&quot; byte is uint8
    
### io.Copy

		io.Copy(os.Stdout, &amp;r)
			调用r.Read(buf []byte)

### wrap Read

	import (
		&quot;io&quot;
		&quot;os&quot;
		&quot;strings&quot;
	)

	type rot13Reader struct {
		r io.Reader
	}
	func (r *rot13Reader) Read(b []byte) (int, error){
			n, err:= (*r).r.Read(b)
			return n, err
	}


	func main() {
		s := strings.NewReader(&quot;Lbh penpxrq gur pbqr!&quot;)
		r := rot13Reader{s}
		io.Copy(os.Stdout, &amp;r)
	}

# trim

  strings.TrimSuffix(&quot;abc,&quot;, &quot;,&quot;)
  func TrimSpace(s string) string</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
