<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/go/go-log.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>Go log</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: Go log
date: 2019-09-21
updated: 2020-07-01
---
# zap log
Refer: https://studygolang.com/articles/17394

## Sugar Logger
sugar log 支持任意的类型(基于reflect实现类型检测)

### Info/Error
    loggerS:= zap.NewExample().Sugar()
    loggerS.Info(obj1, obj2, ...) //中间无空格
    loggerS.Error(obj1, obj2,...) //

### Infow/Infof

    sugar := zap.NewExample().Sugar()
    defer sugar.Sync()
    sugar.Infow(&quot;failed to fetch URL&quot;,
        &quot;url&quot;, &quot;http://example.com&quot;,
        &quot;attempt&quot;, 3,
        &quot;backoff&quot;, time.Second,
    )

sugar log 提供了 formatter 接口(基于reflect实现类型检测)

    sugar.Infof(&quot;failed to fetch URL: %s&quot;, &quot;http://example.com&quot;)

### Debugw

    loggerS := logger.Named(&quot;service&quot;).Sugar()
    loggerS.Debugw(&quot;msg&quot;, &quot;k1&quot;, 123, &quot;k2&quot;, &quot;v2&quot;)

	logger.Debugw(&quot;msg&quot;, &quot;msg2&quot;, map[string]interface{&quot;k&quot;:1})
    loggerS.Debugw(&quot;msg&quot;, &quot;k1&quot;, map[string]interface{}{&quot;k&quot;:1})



## logger

### logger Sugar vs Field
有两种logger，sugarLogger接受任意类型，更慢; 普通的logger 只接受类型field

    logger := zap.NewExample()
    defer logger.Sync()
    sugar := logger.Sugar()
    plain := sugar.Desugar()

#### field logger(dev-prod)
go-lib/log/zip-dev-prod.go

    package main

    import (
        &quot;go.uber.org/zap&quot;
        &quot;time&quot;
    )

    func main() {
        logger, _ := zap.NewDevelopment()
        defer logger.Sync()
        logger.Info(&quot;无法获取网址&quot;,
            zap.String(&quot;url&quot;, &quot;http://www.baidu.com&quot;), //必须指定类型
            zap.Int(&quot;attempt&quot;, 3),
            zap.Duration(&quot;backoff&quot;, time.Second),
        )
    }

dev logger 结果:

    2020-04-20T23:54:46.601+0800	INFO	log/zap1.go:12	无法获取网址	{&quot;url&quot;: &quot;http://www.baidu.com&quot;, &quot;attempt&quot;: 3, &quot;backoff&quot;: &quot;1s&quot;}


### logger Names
    logger, _ := zap.NewProduction()
    logger = logger.Named(&quot;service&quot;)

### logger format
    logger := zap.NewExample()

    // zap.NewProduction json序列化输出
    logger, _ := zap.NewProduction()
    // zap.NewDevelopment
    logger, _ := zap.NewDevelopment()

#### developement format

    // 开启开发模式，堆栈跟踪
	caller := zap.AddCaller()
	// 开启文件及行号
	development := zap.Development()
	// 设置初始化字段
	filed := zap.Fields(zap.String(&quot;serviceName&quot;, &quot;serviceName&quot;))
	// 构造日志
	logger := zap.New(core, caller, development, filed)

## config key/date/level/path
log/zap-config.go

    config := zap.Config{
        Level:            atom,                                                // 日志级别
        Development:      true,                                                // 开发模式，堆栈跟踪
        Encoding:         &quot;console&quot;,                                              // 输出格式 console 或 json
        EncoderConfig:    encoderConfig,                                       // 编码器配置
        InitialFields:    map[string]interface{}{&quot;serviceName&quot;: &quot;spikeProxy&quot;}, // 初始化字段，如：添加一个服务器名称
        OutputPaths:      []string{&quot;stdout&quot;, &quot;./logs/spikeProxy.log&quot;},         // 输出到指定文件 stdout（标准输出，正常颜色） stderr（错误输出，红色）
        ErrorOutputPaths: []string{&quot;stderr&quot;},
    }



## logger file: roll
归档日志：

    log/zap-rolling.go

## logger工具

### logger utils 类
zap 还在 logger 这层提供了丰富的工具包，这让整个 zap 库更加的易用:

1. grpc logger：grpc 提供了 SetLogger 的接口。 zap 提供了对这个接口的封装。
2. hook：使用方实现 hook 然后注册到 logger，zap在合适的时机将日志进行后续的处理，例如写 kafka，统计日志错误率 等等。
3. std Logger: zap 提供了将标准库提供的 logger 对象重定向到 zap logger 中的能力，也提供了封装 zap 作为标准库 logger 输出的能力。 整体上十分易用。
4. sublog: 通过创建 绑定了 field 的子logger，实现了更加易用的功能。

### levelHandler
zap 为http 提供了level 处理. 简单几行代码就能实现 http 请求控制日志级别的能力。 通过 GET获取当前级别，PUT 设置新的级别。

    http.HandleFunc(&quot;/handle/level&quot;, zapLevelHandler)
    if err := http.ListenAndServe(addr, nil); err != nil {
        panic(err)
    }

## 高级(高性能zap)
https://studygolang.com/articles/14220

zap 高性能原因：

1. 写实复制，避免加锁
2. 对象内存池，避免频繁创建销毁对象
3. 内建的 Encoder: 避免反射
    1. 避免使用 fmt json/encode 使用字符编码方式对日志信息编码，适用byte slice 的形式对日志内容进行拼接编码操作

### sync.Pool 提供的对象池
zap 通过 sync.Pool 提供的对象池，复用了大量可以复用的对象，避开了 gc 这个大麻烦。
1. zap 使用了`sync.Pool` 提供的标准对象池。
   1. 其提供的 `runtime`级别绑定到 `P(Processor)` 的处理逻辑，每个 `P` 都有自己的池在调度时不会发生竞争。 这个比起代码中的软实现更加高效，是用户代码做不到的逻辑。
2. 而 channel 实现的对象池在多个 Processor 之间会有强烈的并发


</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
