<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/go/go-lock-string.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>go routines 与原子</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><div class="popup-back"></div><div class="img-wrapper"><img :src="imgsrc"></div></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="//github.com/ahuigo">Github</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/local-jsfiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: go routines 与原子
date: 2020-07-18
updated: 2021-03-25
---
# golang 原子问题

## 问题发现的过程
字节的同学在[踩坑记： Go 服务灵异 panic](v2ex.com/t/691145)提到，json 序列化字符串经常遇到 nil address:

    Error: invalid memory address or nil pointer dereference
    Traceback:
    goroutine 68532877 [running]:
    ...
    src/encoding/json/encode.go:880 +0x59
    encoding/json.stringEncoder(0xcb9fead550, ...)

怀疑是string 非原子操作导致，于是写了一个case

    // go-lib/lock/atom/race-string.go
    const (
        FIRST  = &quot;WHAT THE&quot;
        SECOND = &quot;F*CK&quot;
    )

    func main() {
        var s string
        go func() {
            i := 1
            for {
            i = 1 - i
            if i == 0 {
                s = FIRST
            } else {
                s = SECOND
            }
            time.Sleep(10)
            }
        }()

        for {
            fmt.Println(s)
            time.Sleep(10)
        }
    }

验证一下，发现打印的字符不全,是乱

    $ go run -race race-string.go  | grep -E &#x27;^WHAT$&#x27;
    WHAT
    WHAT
    WHAT


再用 go 的 race detector 检测下竞争状态：


    $ go run -race race-string.go  &gt;/dev/null
    ==================
    WARNING: DATA RACE
    Write at 0x00c000012050 by goroutine 6:
    main.main.func1()
        ./race-string.go:21 +0x65

    Previous read at 0x00c000012050 by main goroutine:
    main.main()
        ./race-string.go:30 +0x9d

    Goroutine 6 (running) created at:
    main.main()
        ./race-string.go:16 +0x8f

说明 21行子协程 `s = FIRST` 与主协程`println(s)` 竞争关系。

## string 赋值不是原子的
string 在 go runtime 的表示为：一个字符串指针, 和字符串长度。

    type StringHeader struct {
        Data uintptr
        Len  int
    }

这个结构，我们可以这样操作

    s := &quot;hello&quot;
    p := *(*reflect.StringHeader)(unsafe.Pointer(&amp;s))
    fmt.Println(p.Len)

golang 无法保证这个struct 原子性地完成赋值，因此可能会出现:
1. goroutine1 刚修改完指针（ Data ）, 还没来得及修改长度（ Len ）
2. goroutine2 就读取了这个 string 的情况
3. 最终导致invalid address panic error

## 操作原子化
我们必须将赋值操作原子化，比如用 sync.Mutex：

    var mutex = &amp;sync.Mutex{}
    go func(){
        mutex.Lock()
        defer mutex.Unlock()
        i=1-i
        if i == 0 {
            s = FIRST
        } else {
            s = SECOND
        }
    }()

    for {
       mutex.Lock()
        fmt.Println(s)
        mutex.Unlock()
    }


Mutex 性能不够好（ lock does not scale with the number of the processors ）

对于这种读写冲突概率很小的场景，性能更好的方案是将 string 类型改成 atomic.Value，然后

    s.Store(FIRST) 

对于 `*string` 可以改用 atomic.StorePointer</pre>
<div id="pager"></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"><ol><li>笔记</li><ol></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" placeholder="Google" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<link href="/b/../a/css/main2.css" rel="stylesheet" async>
<script src="/b/js/marked.js"></script>
<script src="/b/js/toc.js"></script>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
