<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script>
if(!('noModule' in HTMLScriptElement.prototype)){
alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
}
const MD_URL='post/php/php-pattern.md';
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
<title>设计模式</title>
<meta name="author" content="ahuigo">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.3/dist/Valine.min.js"></script>
<link href="/b/../a/css/main2.css" rel="stylesheet">
<script src="/b/../a/js/marked.js"></script>
<script src="/b/../a/js/toc.js"></script>
</head>
<body class="layout-documentation page-layout">
<div id="app">
<div :id="'imgview'" v-if="imgsrc" @click="imgsrc=null"><img :src="imgsrc"></div>
<div class="pure-menu pure-menu-horizontal">
<div>
<ul class="pure-menu-list">
<li class="pure-menu-item">
<div class="menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
</div>
</li>
<li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/index.html">Home</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/b/atom.xml">Rss</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
<li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
</ul>
</div>
</div>
<div class="main">
<div :class="{left:true, 'active':showMenu}" >
<tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
</div>
<div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
<router-view></router-view>
<pre id="markdown" v-pre>---
title: 设计模式
date: 2018-10-06
updated: 2018-10-06
---
# Preface


# composer Pattern
聚合（空心菱形）：schoolClass 可以包含多个Pupil(聚合Pupil)
组合模式(实心菱形): 是聚合组件,组件不可被其它类包含
装饰器模式: 是改变组件

    function addUnit(Unit $o){
        $this-&gt;os[] = $o;
    }

# Decorator Pattern, 装饰器模式
类似python, 不改变原类本身:
装饰器模式不修改原类, 也不增加新类, 需要通过组合模式, 传入两种类

	// 区域抽象类
	abstract class Area {
	    abstract public function treasure();
	}

	//森林类，价值100
	class Forest extends Area {
	    public function treasure() {
	        return 100;
	    }
	}
	//沙漠类，价值10
	class Desert extends Area {
	    function function treasure() {
	        return 10;
	    }
	}
	//区域类的装饰器类
	abstract class AreaDecorator extends Area {
	    protected $_area = null;

	    public function __construct(Area $area) {
	        $this-&gt;_area = $area;
	    }
	}

	//被破坏了后的区域，价值只有之前的一半
	class Damaged extends AreaDecorator {
	    public function treasure() {
	        return $this-&gt;_area-&gt;treasure() * 0.5;
	    }
	}

	//现在我们来获取被破坏的森林类的价值
	$damageForest = new Damaged(new Forest());
	echo $damageForest-&gt;treasure();  //返回50

# Factory Pattern, 工厂模式
1. 工厂: 生成对象, 需要判断不同类型
1. 抽象工厂: 子类工厂生成对象, 不需要判断不同类型, 直接指定不同子类名
1. 原型模式: 事先在参数中传入对象, 然后通过return clone $obj 返回对象

单例就是一种特殊的工厂模式

	interface IUser {
	  function getName();
	}

	class User implements IUser {
	  public function __construct( $id ) { }

	  public function getName() {
		return &quot;Jack&quot;;
	  }

	  public static function Create( $id ) {
		return new User( $id );
	  }
	}

	class UserFactory {
	  public static function Create( $id ) {
		return new User( $id );
	  }
	}

	$uo = UserFactory::Create( 1 );
	//$uo = User::Create( 1 );
	echo( $uo-&gt;getName().&quot;\n&quot; );

# 执行任务及描述任务

## 解释器模式
![php-pattern-1.png](/img/php-pattern-interpret.png)

## Strategy Pattern, 策略模式
问题：为了解决多种策略组合的问题（组合优于继承）
下例中，通过使用策略模式，可将`过滤部分`放入另一个类中，而不影响用户列表中的其余代码。

	class FindAfterStrategy implements IStrategy {
	  private $_name;

	  public function __construct( $name ) {
		$this-&gt;_name = $name;
	  }

	  public function filter( $record ) {
		return strcmp( $this-&gt;_name, $record ) &lt;= 0;
	  }
	}

	class RandomStrategy implements IStrategy {
	  public function filter( $record ) {
		return rand( 0, 1 ) &gt;= 0.5;
	  }
	}

	class UserList {
	  private $_list = array();

	  public function __construct( $names ) {
		if ( $names != null ) {
		  foreach( $names as $name ) {
			$this-&gt;_list []= $name;
		  }
		}
	  }

	  public function add( $name ) {
		$this-&gt;_list []= $name;
	  }

	  public function find( $filter ) {
		$recs = array();
		foreach( $this-&gt;_list as $user ) {
		  if ( $filter-&gt;filter( $user ) )
			$recs []= $user;
		}
		return $recs;
	  }
	}

	$ul = new UserList( array( &quot;Andy&quot;, &quot;Jack&quot;, &quot;Lori&quot;, &quot;Megan&quot; ) );
	$f1 = $ul-&gt;find( new FindAfterStrategy( &quot;J&quot; ) );
	print_r( $f1 );

    //加入特定的策略
	$f2 = $ul-&gt;find( new RandomStrategy() );
	print_r( $f2 );


## Observer Pattern, 观察者模式
问题：为了避免类太臃肿，将元素剥离主体！(正交原则，降低耦合)
观察者模式为您提供了避免组件之间紧密耦合的另一种方法。该模式非常简单：一个对象通过添加一个方法（该方法允许另一个对象，即观察者 注册自己）使本身变得可观察。当可观察的对象更改时，它会将消息发送到已注册的观察者。这些观察者使用该信息执行的操作与可观察的对象无关。结果是对象可以相互对话，而不必了解原因。
一个简单示例是系统中的用户列表。清单 4 中的代码显示一个用户列表，添加用户时，它将发送出一条消息。添加用户时，通过发送消息的日志观察者可以观察此列表。

    //被观察者
	class UserList implements IObservable {
	  private $_observers = array();

	  public function addCustomer( $name ) {
		foreach( $this-&gt;_observers as $obs )
		  $obs-&gt;onChanged( $this, $name );
	  }

	  public function attach( $observer ) {
		$this-&gt;_observers []= $observer;
	  }
	}

    //观察者
	class UserListLogger implements IObserver {
	  public function onChanged( $sender, $args ) {
		echo( &quot;&#x27;$args&#x27; added to user list\n&quot; );
	  }
	}

	$ul = new UserList();

    //加入观察者
	$ul-&gt;attach( new UserListLogger() );
	$ul-&gt;addCustomer(&quot;Jack&quot;);

### SPL 提供的观察者模式
SplSubject(Obervalbe) 与

    class Login implements SplSubject{
        function __construct(){
            $this-&gt;storage = new SplObjectStorage();
        }

        function attach(SplObserver $observer){
            $this-&gt;storage-&gt;attach($observer);
        }
        function detach(SplObserver $observer){
            $this-&gt;storage-&gt;detach($observer);
        }
        function notify(){
            foreach($this-&gt;storage as $observer){}
            $observer-&gt;update($this);
        }
    }
    abstract class LoginObserver implements SplObserver{
        function __construct(Login $login){
            $this-&gt;login = $login;
            $login-&gt;attach($this);
        }
        function update(SplSubject $subject){
            if($subject == $this-&gt;login){
                $this-&gt;doUpdate($subject);
            }
        }
        abstract function doUpdate(Login $login){}
    }

    $login = new Login;
    new LoginObserver($login);
    ...

## 访问者模式(visitor)
问题：“组合比继承更灵活”，但是你可能事先不知道新操作，每增加一个操作就在类中增加对新操作的组件，会让类变得臃肿。访问者模式可以解决这个问题。

# CommandChain Pattern, 命令链模式
命令链 模式以松散耦合主题为基础，发送消息、命令和请求，或通过一组处理程序发送任意内容。每个处理程序都会自行判断自己能否处理请求。如果可以，该请求被处理，进程停止。您可以为系统添加或移除处理程序，而不影响其他处理程序。清单 5 显示了此模式的一个示例。

	class CommandChain {
	  private $_commands = array();

	  public function addCommand( $cmd ) {
		$this-&gt;_commands []= $cmd;
	  }

	  public function runCommand( $name, $args ) {
		foreach( $this-&gt;_commands as $cmd ) {
		  if ( $cmd-&gt;onCommand( $name, $args ) )
			return;
		}
	  }
	}

	class UserCommand implements ICommand {
	  public function onCommand( $name, $args ) {
		if ( $name != &#x27;addUser&#x27; ) return false;
		echo( &quot;UserCommand handling &#x27;addUser&#x27;\n&quot; );
		return true;
	  }
	}

	class MailCommand implements ICommand {
	  public function onCommand( $name, $args ) {
		if ( $name != &#x27;mail&#x27; ) return false;
		echo( &quot;MailCommand handling &#x27;mail&#x27;\n&quot; );
		return true;
	  }
	}

	$cc = new CommandChain();
	$cc-&gt;addCommand( new UserCommand() );
	$cc-&gt;addCommand( new MailCommand() );
	$cc-&gt;runCommand( &#x27;addUser&#x27;, null );
	$cc-&gt;runCommand( &#x27;mail&#x27;, null );

# Reference
- [php-pattern]
- [pattern]

[php-pattern]: http://www.ibm.com/developerworks/cn/opensource/os-php-designptrns/
[pattern]: https://wizardforcel.gitbooks.io/w3school-design-patterns/content/17.html
</pre>
<div id="pager" v-pre></div>
<div class="hr"></div>
<div class="share" style="display:flex;justify-content:space-between">
<div>
<h4>关注我</h4>
<div>
<iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
<iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
</div>
</div>
<div>
<h4>分享文章</h4>
<div>
<span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
<span class="icon weibo-icon" @click="openShare('weibo')"></span>
</div>
</div>
</div>
<div class="hr"></div>
<div id="comments"></div>
</div>
<div class="right">
<div id="toc"></div>
<div id="search" class="pure-form">
<fieldset>
<input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
<button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
</fieldset>
</div>
</div>
</div>
<button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
<button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
</div>
<template id="tree-folder">
<ul class="pure-menu-list" v-if="show">
<li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
<a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
</a>
<a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '/b').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
<tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
</li>
</ul>
</template>
<template id="md">
<div id="content" v-html="marked(md)"></div>
</template>
<script src="/b/../a/js/blog2.js"></script>
</body>
</html>
